<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AgroBox</title>
    <link rel="icon" href="imagens/logo.png">
    <link rel="stylesheet" href="css/home.css">
    <link rel="stylesheet" href="css/conta.css">
    <link rel="stylesheet" href="css/perfil.css">
</head>
<body>  
    <main>
        <!-- NavBar -->
        <%- include('../../partials/navbar'); %>

        <!-- CONTA CONSUMIDOR -->
        <%- include('../../partials/conta'); %>

        <section class="page-container">
            <section id="enderecos">
                <article class="carton">
                    <h1 class="Titulos">Endereços</h1>
                    <button id="adicionarEndereco" class="btn-endereco"> + Adicionar novo endereço </button>  
                    <section id="formularioEndereco" class="modal-endereco" style="display: none;">
                        <section class="modal-content-endereco">
                            <h1 class="titulo-formulario">Adicionar Endereço</h1>
                            <h1 class="titulo-formulario2">Informações do Endereço</h1>
                            <form id="novoEnderecoForm">
                                <span class="close">×</span>
                                <input type="text" class="nomeCompletoEndereco" id="nomeCompletoEndereco" placeholder="Nome Completo" required> <br>
                            <div class="inputs-row">
                                <input type="text" class="numeroTelefoneEndereco" id="numeroTelefoneEndereco" placeholder="Telefone"  required pattern="\(\d{2}\) \d{4,5}-\d{4}"> <br>
                                <input type="text" class="CEPEndereco" id="CEPEndereco" placeholder="CEP"  required> <br>
                                <p id="cep-mensagem" style="color: red;"></p>
                            </div>
                           
                            <div class="inputs-row">
                                <input type="text" class="cidadeEndereco" id="cidadeEndereco" placeholder="Cidade" required><br>
                                <input type="text" class="estadoEndereco" id="estadoEndereco" placeholder="Estado" required><br>
                            </div>
                            <div class="inputs-row">    
                                <input type="text" class="RuaEndereco" id="RuaEndereco" placeholder="Rua/Avenida" required><br>
                                <input type="text" class="bairroEndereco" id="bairroEndereco" placeholder="Bairro" required><br>
                                <input type="text" class="numeroEndereco" id="numeroEndereco" placeholder="Número" required><br>
                            </div> 
                                <button type="submit" class="botaoadd-endereco">Enviar</button>
                            </form>
                        </section>
                    </section>     
                </article>

                <section class="EnderecosAdd" id="listaEnderecos">
                    <section class="container-enderecos" >
                        <section class="interiorEnderecos">
                            <h2><strong>Casa do Usuario1 </strong> | (+55) 1100000000</h2>
                            <h2>Rua Joaninha, 404 - Bairro do Kiko</h2>
                            <h2>Carpazinha, São Paulo, 00000000</h2>
                        </section>
                        <button class="padron">PADRÃO</button>
                        <article class="edition">
                            <p>Editar | Excluir</p>
                            <button class="btn-padron">Remover como padrão</button>
                        </article>
                        </section>
                        </section>
                </section>
            
            </section>
                

                </section>
            </section>
        </section>
    </main>
            
    <!-- Rodapé -->
    <%- include('../../partials/footer'); %>
</body>
</html>


<script src="js/perfil.js" defer></script>
<script src="js/validacaoConta.js" defer></script>
<script src="js/darkmode.js" defer> </script>
<script src="js/imagens.js"> </script>
<script src="js/formularioEndereco.js"> </script>






