<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AgroBox</title>
    <link rel="icon" href="imagens/logo.png">
    <link rel="stylesheet" href="css/home.css">
    <link rel="stylesheet" href="css/conta.css">

    
</head>

<body>  
    <main>
     <!-- NavBar -->

     <%- include('../../../partials/navbar'); %>

    <!--  CONTA CONSUMIDOR  -->

    <%- include('../../../partials/conta'); %>


    <!-- SeçãoP Em andamento -->

    <section class="page-container">
        <section id="pedidos" >
            <h1 class="Titulos">Pedidos</h1>  
            <article class="container-pedidos">
    
                <ul class="menu2">
                    <li> <a href="/tudo">Tudo</a> </li>
                    <li><a href="/aPagar" >A pagar</a></li>
                    <li><a href="/emAndamento" >Em andamento</a></li>
                    <li><a href="/finalizado">Finalizado</a></li>
                    <li><a href="/cancelado">Cancelado</a></li>
                </ul>

<section id="andamento" >

    <section class="produtosGeral">
        <article class="produto">

            <article class="information-produto">
                <img src="imagens/Frutas/maça.png">
                <h1>Nome do <br>Produto</h1>
                <p>Quantidade: 1</p>
                <h3>Valor: R$00,00</h3>
            </article>

            
            <article class="details-produtos">
                
                <article class="tittle"> 
                    <h1><strong>Entrega 1</strong> - Vendido por NomedoVendedor</h1>
                </article>

            <article class="details-produtosInterior">

                <article class="detail-produto">
                    <p>25/04/2024</p>
                    <p>08:34</p>
                    <img src="imagens/icone_consumidor-etiqueta.png">
                    <h3>Pedido<br>Realizado</h3>
                </article>

                <!-- <article class="connector"></article>  -->

                <article class="detail-produto">
                    <p>30/04/2024</p>
                    <p>20:03</p>
                    <img src="imagens/icone_consumidor-mão.png">
                    <h3>Pagamento<br>Confirmado</h3>
                </article>
                
                <article class="detail-produtoP">
                    <p>31/04/2024</p>
                    <p>23:14</p>
                    <img src="imagens/icone_consumidor-caminhão.png">
                    <h3>Em<br>transporte</h3>
                </article>

                <article class="detail-produtoP">
                    <p>11/05/2024</p>
                    <p>17:30</p>
                    <img src="imagens/icone_consumidor-caixa.png">
                    <h3>Pedido<br>entregue</h3>
                </article>
            </article>
            </article>

            <article class="resumo-produtos">
                <h3>Resumo da Compra</h3>
                <p>Pedido:<strong>1234567890</strong> </p>
                <p>Data do Pedido: <br><strong>
                    25/04/2024</strong>
                </p>
                <p>Valor total:<strong>R$000,00</strong></p>
            </article>

        </article>
    </section>

</section>


</main>
    <!-- Rodapé -->
     
    <%- include('../../../partials/footer'); %>
    
</body>
</html>

        <!-- Script -->

<script src="js/perfil.js" defer></script>
<script src="js/validacaoConta.js" defer></script>
<script src="js/darkmode.js" defer> </script>
<script src="js/imagens.js"> </script>




