
<link rel="stylesheet" href="css/carroseis.css">

<article class="container">
    <h2 class="user-name"> Agricultores Destaques </h2>
    <article class="carousel-container3">
        <article class="carousel3">
            <article class="carousel-item3">
                <img src="imagens/jesus.png" alt="Imagem de uma Beterraba" class="perfil-image3">
                <article class="profession-info3">
                    <p class="user-profession"> Jesus Cristo </p>
                    <p class="user-profession"> Jesus se destacou pela otima qualidade dos produtos e velocidade na
                    <br> entrega. </p>
                    <button class="message-button"> Veja seu perfil </button>
                </article>
                
            </article>
            
        </article>
    
            <!-- Repetir o bloco "carousel-item2" para cada produto -->
    
        <button class="carousel-control3 prev3">&lt;</button>
        <button class="carousel-control3 next3">&gt;</button>
    </article>
    <article class="carousel-indicators3">
        <button class="indicator3"></button>
        <button class="indicator3"></button>
        <button class="indicator3"></button>
    </article>
</article>



<script src="js/carrosel3.js"> </script>