
<link rel="stylesheet" href="css/carroseis.css">

<section class="container-section">

    <h2 class="user-name"> Agricultores Destaques </h2>

    <article class="carousel-conteudo3">

        <article class="carousel-container3">

            <article class="carousel-item3">
                <img src="imagens/jesus.png" alt="Imagem icone do Agricultor" class="perfil-image3">

                <article class="farmer-details">

                        <p class="user-profession-name"> Jesus Cristo </p>
                        <p class="user-profession-emoji"> ★★★★★</p> 
                        <p class="user-profession"> Jesus se destacou pela otima qualidade dos produtos e velocidade na
                        <br> entrega. </p>
                        <button class="message-button"> Veja seu perfil </button>
                        
                    </article>
                </article>
            
                <article class="carousel-item3">
                    <img src="imagens/laura.png" alt="Imagem icone do Agricultor" class="perfil-image3">
    
                    <article class="farmer-details">
    
                            <p class="user-profession-name"> Laura Menezes </p>
                            <p class="user-profession-emoji"> ★★★★<span>★</span></p>
                            <p class="user-profession"> Laura se destacou pela otima qualidade dos produtos e velocidade na
                            <br> entrega. </p>
                            <button class="message-button"> Veja seu perfil </button>
                            
                        </article>
                    </article>
                
                    <article class="carousel-item3">
                        <img src="imagens/kawan.png" alt="Imagem icone do Agricultor" class="perfil-image3">
        
                        <article class="farmer-details">
        
                                <p class="user-profession-name"> Kawan Barreto </p>
                                <p class="user-profession-emoji">  ★★<span>★★★</span></p>
                                <p class="user-profession"> Kawan se destacou pela otima qualidade dos produtos e velocidade na
                                <br> entrega. </p>
                                <button class="message-button"> Veja seu perfil </button>
                                
                            </article>
                        </article>
            

                

            </article>
            <button class="carousel-control3 prev3">&lt;</button>
            <button class="carousel-control3 next3">&gt;</button>
        
        </article>
    
            <!-- Repetir o bloco "carousel3" para cada produto -->
            
    
    
    </article>
    
            <article class="carousel-indicators3">
                <button class="indicator3"></button>
                <button class="indicator3"></button>
                <button class="indicator3"></button>
            </article>
</section>



<script src="js/carrosel3.js"> </script>