<main class="legumes-section">
    <article class="seta">
    <h2 class="section-title">Legumes</h2>

    <section class="carousel-container2">

        <article class="carousel2">
            
            <article class="carousel-item2">
                <img src="imagens/Frutas/beterraba.png" alt="Imagem de uma Beterraba">
                <article class="product-info2">
                    <h3 class="product-name2">Beterraba Vermelha(330g)</h3>
                    <p class="seller-name2">NomedoVendedor</p>
                    <p class="product-price2">R$ 10,00</p>
                    <button class="add-to-cart2">ADICIONAR</button>
                </article>
            </article>
            <article class="carousel-item2">
                <strong class="desconto"> -10% OFF </strong>
                <img src="imagens/Frutas/beterraba.png" alt="Imagem de uma Beterraba">
                <article class="product-info2">
                    <h3 class="product-name2">Beterraba Vermelha(330g) </h3>
                    <p class="seller-name2">NomedoVendedor</p>
                    <p class="product-price2">R$ 10,00</p>
                    <button class="add-to-cart2">ADICIONAR</button>
                </article>
            </article>
            <article class="carousel-item2">
                <img src="imagens/Frutas/beterraba.png" alt="Imagem de uma Beterraba">
                <article class="product-info2">
                    <h3 class="product-name2">Beterraba Vermelha(330g) </h3>
                    <p class="seller-name2">NomedoVendedor</p>
                    <p class="product-price2">R$ 10,00</p>
                    <button class="add-to-cart2">ADICIONAR</button>
                </article>
            </article>
            <article class="carousel-item2">
                <strong class="desconto"> -10% OFF </strong>
                <img src="imagens/Frutas/beterraba.png" alt="Imagem de uma Beterraba">
                <article class="product-info2">
                    <h3 class="product-name2">Beterraba Vermelha(330g) </h3>
                    <p class="seller-name2">NomedoVendedor</p>
                    <p class="product-price2">R$ 10,00</p>
                    <button class="add-to-cart2">ADICIONAR</button>
                </article>
            </article>
            <article class="carousel-item2">
                <img src="imagens/Frutas/beterraba.png" alt="Imagem de uma Beterraba">
                <article class="product-info2">
                    <h3 class="product-name2">Beterraba Vermelha(330g)</h3>
                    <p class="seller-name2">NomedoVendedor</p>
                    <p class="product-price2">R$ 10,00</p>
                    <button class="add-to-cart2">ADICIONAR</button>
                </article>
            </article>

            <article class="carousel-item2">
                <img src="imagens/Frutas/cenoura.png" alt="Imagem de uma Cenoura">
                <article class="product-info2">
                    <h3 class="product-name2">Cenoura Romance (150g) </h3>
                    <p class="seller-name2">NomedoVendedor</p>
                    <p class="product-price2">R$ 10,00</p>
                    <button class="add-to-cart2">ADICIONAR</button>
                </article>
            </article>
            <article class="carousel-item2">
                <strong class="desconto"> -10% OFF </strong>
                <img src="imagens/Frutas/cenoura.png" alt="Imagem de uma Cenoura">
                <article class="product-info2">
                    <h3 class="product-name2">Cenoura Romance (150g)</h3>
                    <p class="seller-name2">NomedoVendedor</p>
                    <p class="product-price2">R$ 10,00</p>
                    <button class="add-to-cart2">ADICIONAR</button>
                </article>
            </article>
            <article class="carousel-item2">
                <img src="imagens/Frutas/cenoura.png" alt="Imagem de uma Cenoura">
                <article class="product-info2">
                    <h3 class="product-name2">Cenoura Romance (150g)</h3>
                    <p class="seller-name2">NomedoVendedor</p>
                    <p class="product-price2">R$ 10,00</p>
                    <button class="add-to-cart2">ADICIONAR</button>
                </article>
            </article>
            <article class="carousel-item2">
                <strong class="desconto"> -10% OFF </strong>
                <img src="imagens/Frutas/cenoura.png" alt="Imagem de uma Cenoura">
                <article class="product-info2">
                    <h3 class="product-name2">Cenoura Romance (150g)</h3>
                    <p class="seller-name2">NomedoVendedor</p>
                    <p class="product-price2">R$ 10,00</p>
                    <button class="add-to-cart2">ADICIONAR</button>
                </article>
            </article>
            <article class="carousel-item2">
                <img src="imagens/Frutas/cenoura.png" alt="Imagem de uma Cenoura">
                <article class="product-info2">
                    <h3 class="product-name2">Cenoura Romance (150g) </h3>
                    <p class="seller-name2">NomedoVendedor</p>
                    <p class="product-price2">R$ 10,00</p>
                    <button class="add-to-cart2">ADICIONAR</button>
                </article>
            </article>

            <article class="carousel-item2">
                <img src="imagens/Frutas/batata-doce.png" alt="Imagem de uma Batata">
                <article class="product-info2">
                    <h3 class="product-name2">Batata-Doce</h3>
                    <p class="seller-name2">NomedoVendedor</p>
                    <p class="product-price2">R$ 10,00</p>
                    <button class="add-to-cart2">ADICIONAR</button>
                </article>
            </article>
            <article class="carousel-item2">
                <strong class="desconto"> -10% OFF </strong>
                <img src="imagens/Frutas/batata-doce.png" alt="Imagem de uma Batata">
                <article class="product-info2">
                    <h3 class="product-name2">Batata-Doce</h3>
                    <p class="seller-name2">NomedoVendedor</p>
                    <p class="product-price2">R$ 10,00</p>
                    <button class="add-to-cart2">ADICIONAR</button>
                </article>
            </article>
            <article class="carousel-item2">
                <img src="imagens/Frutas/batata-doce.png" alt="Imagem de uma Batata">
                <article class="product-info2">
                    <h3 class="product-name2">Batata-Doce</h3>
                    <p class="seller-name2">NomedoVendedor</p>
                    <p class="product-price2">R$ 10,00</p>
                    <button class="add-to-cart2">ADICIONAR</button>
                </article>
            </article>
            <article class="carousel-item2">
                <strong class="desconto"> -10% OFF </strong>
                <img src="imagens/Frutas/batata-doce.png" alt="Imagem de uma Batata">
                <article class="product-info2">
                    <h3 class="product-name2">Batata-Doce</h3>
                    <p class="seller-name2">NomedoVendedor</p>
                    <p class="product-price2">R$ 10,00</p>
                    <button class="add-to-cart2">ADICIONAR</button>
                </article>
            </article>
            <article class="carousel-item2">
                <img src="imagens/Frutas/batata-doce.png" alt="Imagem de uma Batata">
                <article class="product-info2">
                    <h3 class="product-name2">Batata-Doce</h3>
                    <p class="seller-name2">NomedoVendedor</p>
                    <p class="product-price2">R$ 10,00</p>
                    <button class="add-to-cart2">ADICIONAR</button>
                </article>
            </article>
            <!-- Repetir o bloco "carousel-item2" para cada produto -->

        </article>
        
            

    </section>
    
            <button class="carousel-control2 prev2"><img src="imagens/seta-esquerda.png"></button>
            <button class="carousel-control2 next2"><img src="imagens/seta-direita.png"></button>
</article>
            <article class="carousel-indicators2">
                <button class="indicator2"></button>
                <button class="indicator2"></button>
                <button class="indicator2"></button>
            </article>
</main>

<script src="js/carroselLegumes.js"> </script>