<main class="geralFiltroBox">
    <article class="setaFiltro">
        <button class="carousel-controlFiltro up setaFiltro"><img src="imagens/seta-cima.png"></button>
        <section class="carousel-containerFiltro">
            <article class="carouselFiltro">
 
                <article class="carousel-itemFiltro">
                    <img src="imagens/Frutas/cenoura.png" alt="imagem de uma legume para seleção do filtro" class="filter-image">
                    <article class="filter-info">
                        <h3 class="filter-name">Legume</h3>
                    </article>
                </article>
 
                <article class="carousel-itemFiltro">
                    <img src="imagens/Frutas/brocolis.png" alt="imagem de uma verdura para seleção do filtro" class="filter-image">
                    <article class="filter-info">
                        <h3 class="filter-name">Verdura</h3>
                    </article>
                </article>
 
                <article class="carousel-itemFiltro">
                    <img src="imagens/Frutas/maça.png" alt="imagem de um fruta para seleção do filtro" class="filter-image">
                    <article class="filter-info">
                        <h3 class="filter-name">Frutas</h3>
                    </article>
                </article>
 
                <article class="carousel-itemFiltro">
                    <img src="imagens/Frutas/aveia.png" alt="imagem de um cereal para seleção do filtro" class="filter-image">
                    <article class="filter-info">
                        <h3 class="filter-name">Cereais</h3>
                    </article>
                </article>

                <article class="carousel-itemFiltro">
                    <img src="imagens/Frutas/hortela.png" alt="imagem de uma verdura para seleção do filtro" class="filter-image">
                    <article class="filter-info">
                        <h3 class="filter-name">Chás</h3>
                    </article>
                </article>
 
                <article class="carousel-itemFiltro">
                    <img src="imagens/Frutas/camomila.png" alt="imagem de uma fruta para seleção do filtro" class="filter-image">
                    <article class="filter-info">
                        <h3 class="filter-name">Grãos</h3>
                    </article>
                </article>
 
            </article>
        </section>
            <button class="carousel-controlFiltro down setaFiltro"><img src="imagens/seta-baixo.png"></button>
    </article>
</main>
 

