<main class="geralFiltroBox">
    <article class="seta">
        <button class="carousel-control prev"><img src="imagens/seta-cima.png"></button>
        <section class="carousel-container">
            <article class="carousel">

                <article class="carousel-item"> 
                    <img src="imagens/Frutas/brocolis.png" alt="imagem de uma verdura para seleção do filtro" class="product-image">
                    <article class="product-info">
                        <h3 class="filter-name">verdura</h3>
                    </article>
                </article>

                <article class="carousel-item"> 
                    <img src="imagens/Frutas/maça.png" alt="imagem de uma fruta para seleção do filtro" class="product-image">
                    <article class="product-info">
                        <h3 class="filter-name">verdura</h3>
                    </article>
                </article>

                <article class="carousel-item"> 
                    <img src="imagens/Frutas/beterraba.png" alt="imagem de um legume para seleção do filtro" class="product-image">
                    <article class="product-info">
                        <h3 class="filter-name">verdura</h3>
                    </article>
                </article>

                <article class="carousel-item"> 
                    <img src="imagens/Frutas/aveia.png" alt="imagem de um cereal para seleção do filtro" class="product-image">
                    <article class="product-info">
                        <h3 class="filter-name">verdura</h3>
                    </article>
                </article>

            </article>
        </section>
            <button class="carousel-control next"><img src="imagens/seta-baixo.png"></button>
    </article>
</main>