<main class="Box-section">
    <article class="seta">
        <section class="carousel-container">

            <!-- Página 1 com 8 itens -->
            <article class="todos-produtos pagina">
                <article class="itens-produto">
                    <article class="box-produto">
                        <a class="link-produto" href="/produto">
                            <img src="imagens/Frutas/beterraba.png" alt="Produto 1 Imagem de uma Beterraba">
                            <p class="nome-produto">Beterraba Vermelha (330g)</p>
                            <p class="nome-vendedor"><a href="/vendedor">NomedoVendedor</a></p>
                            <p class="valor-produto"><strong class="current-price">R$ 10,00</strong></p>
                            <button class="botao-adicionar">ADICIONAR</button>
                        </a>
                    </article>
                    <!-- Repita os outros 7 produtos aqui -->
                    <article class="box-produto">
                        <a class="link-produto" href="/produto">
                            <img src="imagens/Frutas/beterraba.png" alt="Produto 1 Imagem de uma Beterraba">
                            <p class="nome-produto">Beterraba Vermelha (330g)</p>
                            <p class="nome-vendedor"><a href="/vendedor">NomedoVendedor</a></p>
                            <p class="valor-produto"><strong class="current-price">R$ 10,00</strong></p>
                            <button class="botao-adicionar">ADICIONAR</button>
                        </a>
                    </article>
                    <article class="box-produto">
                        <a class="link-produto" href="/produto">
                            <img src="imagens/Frutas/beterraba.png" alt="Produto 1 Imagem de uma Beterraba">
                            <p class="nome-produto">Beterraba Vermelha (330g)</p>
                            <p class="nome-vendedor"><a href="/vendedor">NomedoVendedor</a></p>
                            <p class="valor-produto"><strong class="current-price">R$ 10,00</strong></p>
                            <button class="botao-adicionar">ADICIONAR</button>
                        </a>
                    </article>
                    <article class="box-produto">
                        <a class="link-produto" href="/produto">
                            <img src="imagens/Frutas/beterraba.png" alt="Produto 1 Imagem de uma Beterraba">
                            <p class="nome-produto">Beterraba Vermelha (330g)</p>
                            <p class="nome-vendedor"><a href="/vendedor">NomedoVendedor</a></p>
                            <p class="valor-produto"><strong class="current-price">R$ 10,00</strong></p>
                            <button class="botao-adicionar">ADICIONAR</button>
                        </a>
                    </article>
                    <article class="box-produto">
                        <a class="link-produto" href="/produto">
                            <img src="imagens/Frutas/beterraba.png" alt="Produto 1 Imagem de uma Beterraba">
                            <p class="nome-produto">Beterraba Vermelha (330g)</p>
                            <p class="nome-vendedor"><a href="/vendedor">NomedoVendedor</a></p>
                            <p class="valor-produto"><strong class="current-price">R$ 10,00</strong></p>
                            <button class="botao-adicionar">ADICIONAR</button>
                        </a>
                    </article>
                    <article class="box-produto">
                        <a class="link-produto" href="/produto">
                            <img src="imagens/Frutas/beterraba.png" alt="Produto 1 Imagem de uma Beterraba">
                            <p class="nome-produto">Beterraba Vermelha (330g)</p>
                            <p class="nome-vendedor"><a href="/vendedor">NomedoVendedor</a></p>
                            <p class="valor-produto"><strong class="current-price">R$ 10,00</strong></p>
                            <button class="botao-adicionar">ADICIONAR</button>
                        </a>
                    </article>
                    <article class="box-produto">
                        <a class="link-produto" href="/produto">
                            <img src="imagens/Frutas/beterraba.png" alt="Produto 1 Imagem de uma Beterraba">
                            <p class="nome-produto">Beterraba Vermelha (330g)</p>
                            <p class="nome-vendedor"><a href="/vendedor">NomedoVendedor</a></p>
                            <p class="valor-produto"><strong class="current-price">R$ 10,00</strong></p>
                            <button class="botao-adicionar">ADICIONAR</button>
                        </a>
                    </article>
                    <article class="box-produto">
                        <a class="link-produto" href="/produto">
                            <img src="imagens/Frutas/beterraba.png" alt="Produto 1 Imagem de uma Beterraba">
                            <p class="nome-produto">Beterraba Vermelha (330g)</p>
                            <p class="nome-vendedor"><a href="/vendedor">NomedoVendedor</a></p>
                            <p class="valor-produto"><strong class="current-price">R$ 10,00</strong></p>
                            <button class="botao-adicionar">ADICIONAR</button>
                        </a>
                    </article>
                </article>
            </article>

            <!-- Página 2 com 8 itens -->
            <article class="todos-produtos pagina">
                <article class="itens-produto">
                    <article class="box-produto">
                        <a class="link-produto" href="/produto">
                            <img src="imagens/Frutas/maça.png" alt="Produto 9 Imagem de uma Maçã Fuji">
                            <p class="nome-produto">Maçã Fuji (300g)</p>
                            <p class="nome-vendedor"><a href="/vendedor">NomedoVendedor</a></p>
                            <p class="valor-produto"><strong class="current-price">R$ 10,00</strong></p>
                            <button class="botao-adicionar">ADICIONAR</button>
                        </a>
                    </article>
                    <!-- Repita os outros 7 produtos aqui -->
                    <article class="box-produto">
                        <a class="link-produto" href="/produto">
                            <img src="imagens/Frutas/maça.png" alt="Produto 9 Imagem de uma Maçã Fuji">
                            <p class="nome-produto">Maçã Fuji (300g)</p>
                            <p class="nome-vendedor"><a href="/vendedor">NomedoVendedor</a></p>
                            <p class="valor-produto"><strong class="current-price">R$ 10,00</strong></p>
                            <button class="botao-adicionar">ADICIONAR</button>
                        </a>
                    </article>
                    <article class="box-produto">
                        <a class="link-produto" href="/produto">
                            <img src="imagens/Frutas/maça.png" alt="Produto 9 Imagem de uma Maçã Fuji">
                            <p class="nome-produto">Maçã Fuji (300g)</p>
                            <p class="nome-vendedor"><a href="/vendedor">NomedoVendedor</a></p>
                            <p class="valor-produto"><strong class="current-price">R$ 10,00</strong></p>
                            <button class="botao-adicionar">ADICIONAR</button>
                        </a>
                    </article>
                    <article class="box-produto">
                        <a class="link-produto" href="/produto">
                            <img src="imagens/Frutas/maça.png" alt="Produto 9 Imagem de uma Maçã Fuji">
                            <p class="nome-produto">Maçã Fuji (300g)</p>
                            <p class="nome-vendedor"><a href="/vendedor">NomedoVendedor</a></p>
                            <p class="valor-produto"><strong class="current-price">R$ 10,00</strong></p>
                            <button class="botao-adicionar">ADICIONAR</button>
                        </a>
                    </article>
                    <article class="box-produto">
                        <a class="link-produto" href="/produto">
                            <img src="imagens/Frutas/maça.png" alt="Produto 9 Imagem de uma Maçã Fuji">
                            <p class="nome-produto">Maçã Fuji (300g)</p>
                            <p class="nome-vendedor"><a href="/vendedor">NomedoVendedor</a></p>
                            <p class="valor-produto"><strong class="current-price">R$ 10,00</strong></p>
                            <button class="botao-adicionar">ADICIONAR</button>
                        </a>
                    </article>
                    <article class="box-produto">
                        <a class="link-produto" href="/produto">
                            <img src="imagens/Frutas/maça.png" alt="Produto 9 Imagem de uma Maçã Fuji">
                            <p class="nome-produto">Maçã Fuji (300g)</p>
                            <p class="nome-vendedor"><a href="/vendedor">NomedoVendedor</a></p>
                            <p class="valor-produto"><strong class="current-price">R$ 10,00</strong></p>
                            <button class="botao-adicionar">ADICIONAR</button>
                        </a>
                    </article>
                    <article class="box-produto">
                        <a class="link-produto" href="/produto">
                            <img src="imagens/Frutas/maça.png" alt="Produto 9 Imagem de uma Maçã Fuji">
                            <p class="nome-produto">Maçã Fuji (300g)</p>
                            <p class="nome-vendedor"><a href="/vendedor">NomedoVendedor</a></p>
                            <p class="valor-produto"><strong class="current-price">R$ 10,00</strong></p>
                            <button class="botao-adicionar">ADICIONAR</button>
                        </a>
                    </article>
                    <article class="box-produto">
                        <a class="link-produto" href="/produto">
                            <img src="imagens/Frutas/maça.png" alt="Produto 9 Imagem de uma Maçã Fuji">
                            <p class="nome-produto">Maçã Fuji (300g)</p>
                            <p class="nome-vendedor"><a href="/vendedor">NomedoVendedor</a></p>
                            <p class="valor-produto"><strong class="current-price">R$ 10,00</strong></p>
                            <button class="botao-adicionar">ADICIONAR</button>
                        </a>
                    </article>
                </article>
            </article>

            <!-- Adicione mais páginas de produtos aqui -->

        </section>

        <!-- Controles de navegação -->
        <button class="carousel-control prev"><img src="imagens/seta-esquerda.png"></button>
        <button class="carousel-control next"><img src="imagens/seta-direita.png"></button>
    </article>

    <!-- Indicadores de página -->
    <article class="carousel-indicators">
        <button class="indicator"></button>
        <button class="indicator"></button>
        <!-- Adicione mais indicadores conforme necessário -->
    </article>
</main>
