<div class="frutas-section">
    <h2 class="section-title">Frutas</h2>
    <div class="carousel-container">
        <div class="carousel">
            <div class="carousel-item">
                <img src="imagens/maça.png" alt="Imagem de uma Maçã Fuji" class="product-image">
                <div class="product-info">
                    <h3 class="product-name">Maçã Fuji (300g)</h3>
                    <p class="seller-name">NomedoVendedor</p>
                    <p class="product-price">R$ 00,00</p>
                    <button class="add-to-cart"> ADICIONAR </button>
                </div>
            </div>
            <div class="carousel-item">
                <span class="desconto"> -10% OFF </span>
                <img src="imagens/maça.png" alt="Imagem de uma Maçã Fuji" class="product-image">
                <div class="product-info">
                    <h3 class="product-name">Maçã Fuji (300g)</h3>
                    <p class="seller-name">NomedoVendedor</p>
                    <p class="product-price">R$ 00,00</p>
                    <button class="add-to-cart"> ADICIONAR </button>
                </div>
            </div>
            <div class="carousel-item">
                <img src="imagens/maça.png" alt="Imagem de uma Maçã Fuji" class="product-image">
                <div class="product-info">
                    <h3 class="product-name">Maçã Fuji (300g)</h3>
                    <p class="seller-name">NomedoVendedor</p>
                    <p class="product-price">R$ 00,00</p>
                    <button class="add-to-cart"> ADICIONAR </button>
                </div>
            </div>
            <div class="carousel-item">
                <span class="desconto"> -10% OFF </span>
                <img src="imagens/maça.png" alt="Imagem de uma Maçã Fuji" class="product-image">
                <div class="product-info">
                    <h3 class="product-name">Maçã Fuji (300g)</h3>
                    <p class="seller-name">NomedoVendedor</p>
                    <p class="product-price">R$ 00,00</p>
                    <button class="add-to-cart"> ADICIONAR </button>
                </div>
            </div>
            <div class="carousel-item">
                
                <img src="imagens/laranja.png" alt="Imagem de uma Laranja" class="product-image">
                <div class="product-info">
                    <h3 class="product-name">Laranja (160g) </h3>
                    <p class="seller-name">NomedoVendedor</p>
                    <p class="product-price">R$ 00,00</p>
                    <button class="add-to-cart"> ADICIONAR </button>
                </div>
            </div>
            <div class="carousel-item">
                <span class="desconto"> -10% OFF </span>
                <img src="imagens/laranja.png" alt="Imagem de uma Laranja" class="product-image">
                <div class="product-info">
                    <h3 class="product-name">Laranja (160g) </h3>
                    <p class="seller-name">NomedoVendedor</p>
                    <p class="product-price">R$ 00,00</p>
                    <button class="add-to-cart"> ADICIONAR </button>
                </div>
            </div>
            <div class="carousel-item">
                
                <img src="imagens/laranja.png" alt="Imagem de uma Laranja" class="product-image">
                <div class="product-info">
                    <h3 class="product-name">Laranja (160g) </h3>
                    <p class="seller-name">NomedoVendedor</p>
                    <p class="product-price">R$ 00,00</p>
                    <button class="add-to-cart"> ADICIONAR </button>
                </div>
            </div>
            <div class="carousel-item">
                <span class="desconto"> -10% OFF </span>
                <img src="imagens/laranja.png" alt="Imagem de uma Laranja" class="product-image">
                <div class="product-info">
                    <h3 class="product-name">Laranja (160g) </h3>
                    <p class="seller-name">NomedoVendedor</p>
                    <p class="product-price">R$ 00,00</p>
                    <button class="add-to-cart"> ADICIONAR </button>
                </div>
            </div>
            <div class="carousel-item">
                
                <img src="imagens/abacaxi.png" alt="Imagem de um Abacaxi" class="product-image">
                <div class="product-info">
                    <h3 class="product-name"> Abacaxi (200g) </h3>
                    <p class="seller-name">NomedoVendedor</p>
                    <p class="product-price">R$ 00,00</p>
                    <button class="add-to-cart"> ADICIONAR </button>
                </div>
            </div>
            <div class="carousel-item">
                <span class="desconto"> -10% OFF </span>
                <img src="imagens/abacaxi.png" alt="Imagem de um Abacaxi" class="product-image">
                <div class="product-info">
                    <h3 class="product-name"> Abacaxi (200g) </h3>
                    <p class="seller-name">NomedoVendedor</p>
                    <p class="product-price">R$ 00,00</p>
                    <button class="add-to-cart"> ADICIONAR </button>
                </div>
            </div>
            <div class="carousel-item">
                
                <img src="imagens/abacaxi.png" alt="Imagem de um Abacaxi" class="product-image">
                <div class="product-info">
                    <h3 class="product-name"> Abacaxi (200g) </h3>
                    <p class="seller-name">NomedoVendedor</p>
                    <p class="product-price">R$ 00,00</p>
                    <button class="add-to-cart"> ADICIONAR </button>
                </div>
            </div>
            <div class="carousel-item">
                <span class="desconto"> -10% OFF </span>
                <img src="imagens/abacaxi.png" alt="Imagem de um Abacaxi" class="product-image">
                <div class="product-info">
                    <h3 class="product-name"> Abacaxi (200g) </h3>
                    <p class="seller-name">NomedoVendedor</p>
                    <p class="product-price">R$ 00,00</p>
                    <button class="add-to-cart"> ADICIONAR </button>
                </div>
            </div>
            <!-- Repetir o bloco "carousel-item" para cada produto -->
        </div>
        <button class="carousel-control prev">&lt;</button>
        <button class="carousel-control next">&gt;</button>
    </div>
    <div class="carousel-indicators">
        <button class="indicator"></button>
        <button class="indicator"></button>
        <button class="indicator"></button>
    </div>
    </div>

    <script src="js/carrosel.js"> </script>