<article class="frutas-section">
    <h2 class="section-title">Legumes</h2>
    <article class="carousel-container2">
        <article class="carousel2">
            <article class="carousel-item2">
                <img src="imagens/beterraba.png" alt="Imagem de uma Beterraba" class="product-image2">
                <article class="product-info2">
                    <h3 class="product-name2"> Beterraba (330g)</h3>
                    <p class="seller-name2">NomedoVendedor</p>
                    <p class="product-price2">R$ 00,00</p>
                    <button class="add-to-cart2">Adicionar</button>
                </article>
            </article>
            <article class="carousel-item2">
                <span class="desconto"> -10% OFF </span>
                <img src="imagens/beterraba.png" alt="Imagem de uma Beterraba" class="product-image2">
                <article class="product-info2">
                    <h3 class="product-name2"> Beterraba (330g) </h3>
                    <p class="seller-name2">NomedoVendedor</p>
                    <p class="product-price2">R$ 00,00</p>
                    <button class="add-to-cart2">Adicionar</button>
                </article>
            </article>
            <article class="carousel-item2">
                <img src="imagens/beterraba.png" alt="Imagem de uma Beterraba" class="product-image2">
                <article class="product-info2">
                    <h3 class="product-name2"> Beterraba (330g) </h3>
                    <p class="seller-name2">NomedoVendedor</p>
                    <p class="product-price2">R$ 00,00</p>
                    <button class="add-to-cart2">Adicionar</button>
                </article>
            </article>
            <article class="carousel-item2">
                <span class="desconto"> -10% OFF </span>
                <img src="imagens/beterraba.png" alt="Imagem de uma Beterraba" class="product-image2">
                <article class="product-info2">
                    <h3 class="product-name2"> Beterraba (330g) </h3>
                    <p class="seller-name2">NomedoVendedor</p>
                    <p class="product-price2">R$ 00,00</p>
                    <button class="add-to-cart2">Adicionar</button>
                </article>
            </article>

            <article class="carousel-item2">
                <img src="imagens/cenoura.png" alt="Imagem de uma Cenoura" class="product-image2">
                <article class="product-info2">
                    <h3 class="product-name2"> Cenoura (150g) </h3>
                    <p class="seller-name2">NomedoVendedor</p>
                    <p class="product-price2">R$ 00,00</p>
                    <button class="add-to-cart2">Adicionar</button>
                </article>
            </article>
            <article class="carousel-item2">
                <span class="desconto"> -10% OFF </span>
                <img src="imagens/cenoura.png" alt="Imagem de uma Cenoura" class="product-image2">
                <article class="product-info2">
                    <h3 class="product-name2"> Cenoura (150g)</h3>
                    <p class="seller-name2">NomedoVendedor</p>
                    <p class="product-price2">R$ 00,00</p>
                    <button class="add-to-cart2">Adicionar</button>
                </article>
            </article>
            <article class="carousel-item2">
                <img src="imagens/cenoura.png" alt="Imagem de uma Cenoura" class="product-image2">
                <article class="product-info2">
                    <h3 class="product-name2"> Cenoura (150g)</h3>
                    <p class="seller-name2">NomedoVendedor</p>
                    <p class="product-price2">R$ 00,00</p>
                    <button class="add-to-cart2">Adicionar</button>
                </article>
            </article>
            <article class="carousel-item2">
                <span class="desconto"> -10% OFF </span>
                <img src="imagens/cenoura.png" alt="Imagem de uma Cenoura" class="product-image2">
                <article class="product-info2">
                    <h3 class="product-name2"> Cenoura (150g)</h3>
                    <p class="seller-name2">NomedoVendedor</p>
                    <p class="product-price2">R$ 00,00</p>
                    <button class="add-to-cart2">Adicionar</button>
                </article>
            </article>
            
            <article class="carousel-item2">
                <img src="imagens/batata.png" alt="Imagem de uma Batata" class="product-image2">
                <article class="product-info2">
                    <h3 class="product-name2"> Batata (130g)</h3>
                    <p class="seller-name2">NomedoVendedor</p>
                    <p class="product-price2">R$ 00,00</p>
                    <button class="add-to-cart2">Adicionar</button>
                </article>
            </article>
            <article class="carousel-item2">
                <span class="desconto"> -10% OFF </span>
                <img src="imagens/batata.png" alt="Imagem de uma Batata" class="product-image2">
                <article class="product-info2">
                    <h3 class="product-name2"> Batata (150g)</h3>
                    <p class="seller-name2">NomedoVendedor</p>
                    <p class="product-price2">R$ 00,00</p>
                    <button class="add-to-cart2">Adicionar</button>
                </article>
            </article>
            <article class="carousel-item2">
                <img src="imagens/batata.png" alt="Imagem de uma Batata" class="product-image2">
                <article class="product-info2">
                    <h3 class="product-name2"> Batata (150g)</h3>
                    <p class="seller-name2">NomedoVendedor</p>
                    <p class="product-price2">R$ 00,00</p>
                    <button class="add-to-cart2">Adicionar</button>
                </article>
            </article>
            <article class="carousel-item2">
                <span class="desconto"> -10% OFF </span>
                <img src="imagens/batata.png" alt="Imagem de uma Batata" class="product-image2">
                <article class="product-info2">
                    <h3 class="product-name2"> Batata (150g)</h3>
                    <p class="seller-name2">NomedoVendedor</p>
                    <p class="product-price2">R$ 00,00</p>
                    <button class="add-to-cart2">Adicionar</button>
                </article>
            </article>
            <!-- Repetir o bloco "carousel-item2" para cada produto -->
        </article>
        <button class="carousel-control2 prev2">&lt;</button>
        <button class="carousel-control2 next2">&gt;</button>
    </article>
    <article class="carousel-indicators2">
        <button class="indicator2"></button>
        <button class="indicator2"></button>
        <button class="indicator2"></button>
    </article>
</article>

<script src="js/carrosel2.js"> </script>