<main class="events-geral">

    <article class="seta">
        <h2 class="eventGeral-Title">Outros Eventos</h2>
    <section class="carousel-EventC">
        
        <article class="carouselE">

            <article class="carouselE-item">
                <a class="link-evento" href="/evento2">
                    <img src="imagens/feiras.png" alt="imagem de uma feira" class="event-image">
                    <article class="event-info">
                        <h1 class="event-name">Nome do Evento</h1>
                        <article class="event-flex">
                            <img src="imagens/icon_callender.png"> 
                            <p>30 de Setembro de 2024</p>
                        </article>
                        <article class="event-flex">
                            <img src="imagens/icon_flag.png">
                            <p>São Paulo - SP</p>
                        </article>
                    </article>
                </a>
            </article>

            <article class="carouselE-item">
                <a class="link-evento" href="/evento2">
                    <img src="imagens/feiras.png" alt="imagem de uma feira" class="event-image">
                    <article class="event-info">
                        <h1 class="event-name">Nome do Evento</h1>
                        <article class="event-flex">
                            <img src="imagens/icon_callender.png"> 
                            <p>30 de Setembro de 2024</p>
                        </article>
                        <article class="event-flex">
                            <img src="imagens/icon_flag.png">
                            <p>São Paulo - SP</p>
                        </article>
                    </article>
                </a>
            </article>

            <article class="carouselE-item">
                <a class="link-evento" href="/evento2">
                    <img src="imagens/feiras.png" alt="imagem de uma feira" class="event-image">
                    <article class="event-info">
                        <h1 class="event-name">Nome do Evento</h1>
                        <article class="event-flex">
                            <img src="imagens/icon_callender.png"> 
                            <p>30 de Setembro de 2024</p>
                        </article>
                        <article class="event-flex">
                            <img src="imagens/icon_flag.png">
                            <p>São Paulo - SP</p>
                        </article>
                    </article>
                </a>
            </article>

            <article class="carouselE-item">
                <a class="link-evento" href="/evento2">
                    <img src="imagens/feiras.png" alt="imagem de uma feira" class="event-image">
                    <article class="event-info">
                        <h1 class="event-name">Nome do Evento</h1>
                        <article class="event-flex">
                            <img src="imagens/icon_callender.png"> 
                            <p>30 de Setembro de 2024</p>
                        </article>
                        <article class="event-flex">
                            <img src="imagens/icon_flag.png">
                            <p>São Paulo - SP</p>
                        </article>
                    </article>
                </a>
            </article>


            <article class="carouselE-item">
                <a class="link-evento" href="/evento2">
                    <img src="imagens/feiras.png" alt="imagem de uma feira" class="event-image">
                    <article class="event-info">
                        <h1 class="event-name">Nome do Evento</h1>
                        <article class="event-flex">
                            <img src="imagens/icon_callender.png"> 
                            <p>30 de Setembro de 2024</p>
                        </article>
                        <article class="event-flex">
                            <img src="imagens/icon_flag.png">
                            <p>São Paulo - SP</p>
                        </article>
                    </article>
                </a>
            </article>

            <article class="carouselE-item">
                <a class="link-evento" href="/evento2">
                    <img src="imagens/feiras.png" alt="imagem de uma feira" class="event-image">
                    <article class="event-info">
                        <h1 class="event-name">Nome do Evento</h1>
                        <article class="event-flex">
                            <img src="imagens/icon_callender.png"> 
                            <p>30 de Setembro de 2024</p>
                        </article>
                        <article class="event-flex">
                            <img src="imagens/icon_flag.png">
                            <p>São Paulo - SP</p>
                        </article>
                    </article>
                </a>
            </article>

            <article class="carouselE-item">
                <a class="link-evento" href="/evento2">
                    <img src="imagens/feiras.png" alt="imagem de uma feira" class="event-image">
                    <article class="event-info">
                        <h1 class="event-name">Nome do Evento</h1>
                        <article class="event-flex">
                            <img src="imagens/icon_callender.png"> 
                            <p>30 de Setembro de 2024</p>
                        </article>
                        <article class="event-flex">
                            <img src="imagens/icon_flag.png">
                            <p>São Paulo - SP</p>
                        </article>
                    </article>
                </a>
            </article>

            <article class="carouselE-item">
                <a class="link-evento" href="/evento2">
                    <img src="imagens/feiras.png" alt="imagem de uma feira" class="event-image">
                    <article class="event-info">
                        <h1 class="event-name">Nome do Evento</h1>
                        <article class="event-flex">
                            <img src="imagens/icon_callender.png"> 
                            <p>30 de Setembro de 2024</p>
                        </article>
                        <article class="event-flex">
                            <img src="imagens/icon_flag.png">
                            <p>São Paulo - SP</p>
                        </article>
                    </article>
                </a>
            </article>


            <article class="carouselE-item">
                <a class="link-evento" href="/evento2">
                    <img src="imagens/feiras.png" alt="imagem de uma feira" class="event-image">
                    <article class="event-info">
                        <h1 class="event-name">Nome do Evento</h1>
                        <article class="event-flex">
                            <img src="imagens/icon_callender.png"> 
                            <p>30 de Setembro de 2024</p>
                        </article>
                        <article class="event-flex">
                            <img src="imagens/icon_flag.png">
                            <p>São Paulo - SP</p>
                        </article>
                    </article>
                </a>
            </article>

            <article class="carouselE-item">
                <a class="link-evento" href="/evento2">
                    <img src="imagens/feiras.png" alt="imagem de uma feira" class="event-image">
                    <article class="event-info">
                        <h1 class="event-name">Nome do Evento</h1>
                        <article class="event-flex">
                            <img src="imagens/icon_callender.png"> 
                            <p>30 de Setembro de 2024</p>
                        </article>
                        <article class="event-flex">
                            <img src="imagens/icon_flag.png">
                            <p>São Paulo - SP</p>
                        </article>
                    </article>
                </a>
            </article>

            <article class="carouselE-item">
                <a class="link-evento" href="/evento2">
                    <img src="imagens/feiras.png" alt="imagem de uma feira" class="event-image">
                    <article class="event-info">
                        <h1 class="event-name">Nome do Evento</h1>
                        <article class="event-flex">
                            <img src="imagens/icon_callender.png"> 
                            <p>30 de Setembro de 2024</p>
                        </article>
                        <article class="event-flex">
                            <img src="imagens/icon_flag.png">
                            <p>São Paulo - SP</p>
                        </article>
                    </article>
                </a>
            </article>

            <article class="carouselE-item">
                <a class="link-evento" href="/evento2">
                    <img src="imagens/feiras.png" alt="imagem de uma feira" class="event-image">
                    <article class="event-info">
                        <h1 class="event-name">Nome do Evento</h1>
                        <article class="event-flex">
                            <img src="imagens/icon_callender.png"> 
                            <p>30 de Setembro de 2024</p>
                        </article>
                        <article class="event-flex">
                            <img src="imagens/icon_flag.png">
                            <p>São Paulo - SP</p>
                        </article>
                    </article>
                </a>
            </article>

        </article>

    </section>

    <button class="carousel-control prev"><img src="imagens/seta-esquerda.png"></button>
    <button class="carousel-control next"><img src="imagens/seta-direita.png"></button>
</article>

<article class="carousel-indicators">
    <button class="indicator"></button>
    <button class="indicator"></button>
    <button class="indicator"></button>
</article>

</main>

<!-- <script src="js/carroselEvent.js"> </script> -->