<main class="frutas-section">
   
    <article class="seta">
    <h2 class="section-title">Frutas </h2>
    <section class="carousel-container">
        <article class="carousel">

           
            <article class="carousel-item"> 
                <a  class="link-produto" href="/produto">
                <img src="imagens/Frutas/maça.png" alt="Imagem de uma Maçã Fuji" class="product-image">
                <article class="product-info">
                    <h3 class="product-name">Maçã Fuji (450g)</h3>
                    <p class="seller-name"><a href="/vendedor">NomedoVendedor</a></p>
                    <p class="product-price">R$ 10,00</p>
                    <button class="add-to-cart"> ADICIONAR </button>
                </article>
            </a>
            </article>
           
            
            
            <article class="carousel-item">
                <a  class="link-produto" href="/produto">
                <a  class="link-produto" href="/produto">
                <strong class="desconto"> -10% OFF </strong>
                <img src="imagens/Frutas/maça.png" alt="Imagem de uma Maçã Fuji">
                <article class="product-info">
                    <h3 class="product-name">Maçã Fuji (450g)</h3>
                    <p class="seller-name"><a href="/vendedor">NomedoVendedor</a></p>
                    <p class="product-price">R$ 9,00</p>
                    <button class="add-to-cart"> ADICIONAR </button>
                </article>
            </a>
            </article>
            

            <article class="carousel-item">
                <a  class="link-produto" href="/produto">
                <img src="imagens/Frutas/maça.png" alt="Imagem de uma Maçã Fuji">
                <article class="product-info">
                    <h3 class="product-name">Maçã Fuji (450g)</h3>
                    <p class="seller-name"><a href="/vendedor">NomedoVendedor</a></p>
                    <p class="product-price">R$ 10,00</p>
                    <button class="add-to-cart"> ADICIONAR </button>
                </article>
            </article>
            </a>

            <article class="carousel-item">
                <a  class="link-produto" href="/produto">
                <strong class="desconto"> -10% OFF </strong>
                <img src="imagens/Frutas/maça.png" alt="Imagem de uma Maçã Fuji">
                <article class="product-info">
                    <h3 class="product-name">Maçã Fuji (450g)</h3>
                    <p class="seller-name"><a href="/vendedor">NomedoVendedor</a></p>
                    <p class="product-price">R$ 9,00</p>
                    <button class="add-to-cart"> ADICIONAR </button>
                </article>
            </article>
            </a>

            <article class="carousel-item">
                <a  class="link-produto" href="/produto">
                <img src="imagens/Frutas/maça.png" alt="Imagem de uma Maçã Fuji">
                <article class="product-info">
                    <h3 class="product-name">Maçã Fuji (450g)</h3>
                    <p class="seller-name"><a href="/vendedor">NomedoVendedor</a></p>
                    <p class="product-price">R$ 10,00</p>
                    <button class="add-to-cart"> ADICIONAR </button>
                </article>
            </article>
            </a>

            
            
            <article class="carousel-item">
                <a  class="link-produto" href="/produto">
                <img src="imagens/Frutas/laranja.png" alt="Imagem de uma Laranja">
                <article class="product-info">
                    <h3 class="product-name">Laranja Lima (500g)</h3>
                    <p class="seller-name"><a href="/vendedor">NomedoVendedor</a></p>
                    <p class="product-price">R$ 10,00</p>
                    <button class="add-to-cart"> ADICIONAR </button>
                </article>
            </article>
            </a>

            <article class="carousel-item">
                <a  class="link-produto" href="/produto">
                <strong class="desconto"> -10% OFF </strong>
                <img src="imagens/Frutas/laranja.png" alt="Imagem de uma Laranja">
                <article class="product-info">
                    <h3 class="product-name">Laranja Lima (500g)</h3>
                    <p class="seller-name"><a href="/vendedor">NomedoVendedor</a></p>
                    <p class="product-price">R$ 9,00</p>
                    <button class="add-to-cart"> ADICIONAR </button>
                </article>
            </article>
            </a>

            <article class="carousel-item">
                <a  class="link-produto" href="/produto">
                
                <img src="imagens/Frutas/laranja.png" alt="Imagem de uma Laranja">
                <article class="product-info">
                    <h3 class="product-name">Laranja Lima (500g)</h3>
                    <p class="seller-name"><a href="/vendedor">NomedoVendedor</a></p>
                    <p class="product-price">R$ 10,00</p>
                    <button class="add-to-cart"> ADICIONAR </button>
                </article>
            </article>
            </a>

            <article class="carousel-item">
                <a  class="link-produto" href="/produto">
                <strong class="desconto"> -10% OFF </strong>
                <img src="imagens/Frutas/laranja.png" alt="Imagem de uma Laranja">
                <article class="product-info">
                    <h3 class="product-name">Laranja Lima (500g)</h3>
                    <p class="seller-name"><a href="/vendedor">NomedoVendedor</a></p>
                    <p class="product-price">R$ 9,00</p>
                    <button class="add-to-cart"> ADICIONAR </button>
                </article>
            </article>
            </a>

            <article class="carousel-item">
                <a  class="link-produto" href="/produto">
                <img src="imagens/Frutas/laranja.png" alt="Imagem de uma Laranja">
                <article class="product-info">
                    <h3 class="product-name">Laranja Lima (500g)</h3>
                    <p class="seller-name"><a href="/vendedor">NomedoVendedor</a></p>
                    <p class="product-price">R$ 10,00</p>
                    <button class="add-to-cart"> ADICIONAR </button>
                </article>
            </article>
            </a>

            <article class="carousel-item">
                <a  class="link-produto" href="/produto">
                <img src="imagens/Frutas/abacaxi.png" alt="Imagem de um Abacaxi">
                <article class="product-info">
                    <h3 class="product-name"> Abacaxi Pérola (1,2kg) </h3>
                    <p class="seller-name"><a href="/vendedor">NomedoVendedor</a></p>
                    <p class="product-price">R$ 10,00</p>
                    <button class="add-to-cart"> ADICIONAR </button>
                </article>
            </article>
            </a>

            <article class="carousel-item">
                <a  class="link-produto" href="/produto">
                <strong class="desconto"> -10% OFF </strong>
                <img src="imagens/Frutas/abacaxi.png" alt="Imagem de um Abacaxi">
                <article class="product-info">
                    <h3 class="product-name"> Abacaxi Pérola (1,2kg) </h3>
                    <p class="seller-name"><a href="/vendedor">NomedoVendedor</a></p>
                    <p class="product-price">R$ 9,00</p>
                    <button class="add-to-cart"> ADICIONAR </button>
                </article>
            </article>
            </a>

            <article class="carousel-item">
                <a  class="link-produto" href="/produto">
                <img src="imagens/Frutas/abacaxi.png" alt="Imagem de um Abacaxi">
                <article class="product-info">
                    <h3 class="product-name"> Abacaxi Pérola (1,2kg) </h3>
                    <p class="seller-name"><a href="/vendedor">NomedoVendedor</a></p>
                    <p class="product-price">R$ 10,00</p>
                    <button class="add-to-cart"> ADICIONAR </button>
                </article>
            </article>
            </a>

            <article class="carousel-item">
                <a  class="link-produto" href="/produto">
                <strong class="desconto"> -10% OFF </strong>
                <img src="imagens/Frutas/abacaxi.png" alt="Imagem de um Abacaxi">
                <article class="product-info">
                    <h3 class="product-name"> Abacaxi Pérola (1,2kg) </h3>
                    <p class="seller-name"><a href="/vendedor">NomedoVendedor</a></p>
                    <p class="product-price">R$ 9,00</p>
                    <button class="add-to-cart"> ADICIONAR </button>
                </article>
            </article>
            </a>

            <article class="carousel-item">
                <a  class="link-produto" href="/produto">
                <img src="imagens/Frutas/abacaxi.png" alt="Imagem de um Abacaxi">
                <article class="product-info">
                    <h3 class="product-name"> Abacaxi Pérola (1,2kg) </h3>
                    <p class="seller-name"><a href="/vendedor">NomedoVendedor</a></p>
                    <p class="product-price">R$ 10,00</p>
                    <button class="add-to-cart"> ADICIONAR </button>
                </article>
            </article>
            </a>

            <!-- Repetir o bloco "carousel-item" para cada produto -->
    </article>

            

    </section>
            <button class="carousel-control prev"><img src="imagens/seta-esquerda.png"></button>
            <button class="carousel-control next"><img src="imagens/seta-direita.png"></button>
</article>
            <article class="carousel-indicators">
                <button class="indicator"></button>
                <button class="indicator"></button>
                <button class="indicator"></button>
            </article>
</main>

    <script src="js/carroselFrutas.js"> </script>