<main class="legumes-section">
    <article class="seta">
    <h2 class="section-title">Nossa Horta</h2>

    <section class="carousel-container2">

        <article class="carousel2">
            
            <article class="carousel-item2">
                <a  class="link-produto" href="/produto">
                <img src="imagens/Frutas/beterraba.png" alt="Imagem de uma Beterraba">
                <article class="product-info2">
                    <h3 class="product-name">Beterraba Vermelha(330g)</h3>
                    <p class="seller-name2"><a href="/vendedor">NomedoVendedor</a>
                    <p class="product-price"><strong class="current-price">R$ 10,00</strong></p>
                    <button class="add-to-cart">ADICIONAR</button>
                </article>
                </a>
            </article>
            <article class="carousel-item2">
                <a  class="link-produto" href="/produto">
                <strong class="desconto"> -10% OFF </strong>
                <img src="imagens/Frutas/beterraba.png" alt="Imagem de uma Beterraba">
                <article class="product-info2">
                    <h3 class="product-name">Beterraba Vermelha(330g)</h3>
                    <p class="seller-name2"><a href="/vendedor">NomedoVendedor</a></p>
                    <p class="product-price">
                        <strong class="old-price">R$ 10,00</strong>
                        <strong class="current-price">R$ 9,00</strong></p>
                    <button class="add-to-cart">ADICIONAR</button>
                </article>
                </a>
            </article>

            <article class="carousel-item2">
                <a  class="link-produto" href="/produto">
                <img src="imagens/Frutas/beterraba.png" alt="Imagem de uma Beterraba">
                <article class="product-info2">
                    <h3 class="product-name">Beterraba Vermelha(330g)</h3>
                    <p class="seller-name2"><a href="/vendedor">NomedoVendedor</a></p>
                    <p class="product-price"><strong class="current-price">R$ 10,00</strong></p>
                    <button class="add-to-cart">ADICIONAR</button>
                </article>
                </a>
            </article>

            <article class="carousel-item2">
                <a  class="link-produto" href="/produto">
                <strong class="desconto"> -10% OFF </strong>
                <img src="imagens/Frutas/beterraba.png" alt="Imagem de uma Beterraba">
                <article class="product-info2">
                    <h3 class="product-name">Beterraba Vermelha(330g)</h3>
                    <p class="seller-name2"><a href="/vendedor">NomedoVendedor</a></p>
                    <p class="product-price">
                        <strong class="old-price">R$ 10,00</strong>
                        <strong class="current-price">R$ 9,00</strong></p>
                    <button class="add-to-cart">ADICIONAR</button>
                </article>
                </a>
            </article>

            <article class="carousel-item2">
                <a  class="link-produto" href="/produto">
                <img src="imagens/Frutas/beterraba.png" alt="Imagem de uma Beterraba">
                <article class="product-info2">
                    <h3 class="product-name">Beterraba Vermelha(330g)</h3>
                    <p class="seller-name2"><a href="/vendedor">NomedoVendedor</a></p>
                    <p class="product-price"><strong class="current-price">R$ 10,00</strong></p>
                    <button class="add-to-cart">ADICIONAR</button>
                </article>
                </a>
            </article>


            <article class="carousel-item2">
                <a  class="link-produto" href="/produto">
                <img src="imagens/Frutas/cenoura.png" alt="Imagem de uma Cenoura">
                <article class="product-info2">
                    <h3 class="product-name">Cenoura Romance (150g)</h3>
                    <p class="seller-name2"><a href="/vendedor">NomedoVendedor</a></p>
                    <p class="product-price"><strong class="current-price">R$ 10,00</strong></p>
                    <button class="add-to-cart">ADICIONAR</button>
                </article>
                </a>
            </article>

            <article class="carousel-item2">
                <a  class="link-produto" href="/produto">
                <strong class="desconto"> -10% OFF </strong>
                <img src="imagens/Frutas/cenoura.png" alt="Imagem de uma Cenoura">
                <article class="product-info2">
                    <h3 class="product-name">Cenoura Romance (150g)</h3>
                    <p class="seller-name2"><a href="/vendedor">NomedoVendedor</a></p>
                    <p class="product-price">
                        <strong class="old-price">R$ 10,00</strong>
                        <strong class="current-price">R$ 9,00</strong></p>
                    <button class="add-to-cart">ADICIONAR</button>
                </article>
                </a>
            </article>

            <article class="carousel-item2">
                <a  class="link-produto" href="/produto">
                <img src="imagens/Frutas/cenoura.png" alt="Imagem de uma Cenoura">
                <article class="product-info2">
                    <h3 class="product-name">Cenoura Romance (150g)</h3>
                    <p class="seller-name2"><a href="/vendedor">NomedoVendedor</a></p>
                    <p class="product-price"><strong class="current-price">R$ 10,00</strong></p>
                    <button class="add-to-cart">ADICIONAR</button>
                </article>
                </a>
            </article>

            <article class="carousel-item2">
                <a  class="link-produto" href="/produto">
                <strong class="desconto"> -10% OFF </strong>
                <img src="imagens/Frutas/cenoura.png" alt="Imagem de uma Cenoura">
                <article class="product-info2">
                    <h3 class="product-name">Cenoura Romance (150g)</h3>
                    <p class="seller-name2"><a href="/vendedor">NomedoVendedor</a></p>
                    <p class="product-price">
                        <strong class="old-price">R$ 10,00</strong>
                        <strong class="current-price">R$ 9,00</strong></p>
                    <button class="add-to-cart">ADICIONAR</button>
                </article>
                </a>
            </article>

            <article class="carousel-item2">
                <a  class="link-produto" href="/produto">
                <img src="imagens/Frutas/cenoura.png" alt="Imagem de uma Cenoura">
                <article class="product-info2">
                    <h3 class="product-name">Cenoura Romance (150g)</h3>
                    <p class="seller-name2"><a href="/vendedor">NomedoVendedor</a></p>
                    <p class="product-price"><strong class="current-price">R$ 10,00</strong></p>
                    <button class="add-to-cart">ADICIONAR</button>
                </article>
                </a>
            </article>


            <article class="carousel-item2">
                <a  class="link-produto" href="/produto">
                <img src="imagens/Frutas/batata-doce.png" alt="Imagem de uma Batata">
                <article class="product-info2">
                    <h3 class="product-name">Batata-Doce (600g)</h3>
                    <p class="seller-name2"><a href="/vendedor">NomedoVendedor</a></p>
                    <p class="product-price"><strong class="current-price">R$ 10,00</strong></p>
                    <button class="add-to-cart">ADICIONAR</button>
                </article>
                </a>
            </article>

            <article class="carousel-item2">
                <a  class="link-produto" href="/produto">
                <strong class="desconto"> -10% OFF </strong>
                <img src="imagens/Frutas/batata-doce.png" alt="Imagem de uma Batata">
                <article class="product-info2">
                    <h3 class="product-name">Batata-Doce (600g)</h3>
                    <p class="seller-name2"><a href="/vendedor">NomedoVendedor</a></p>
                    <p class="product-price">
                        <strong class="old-price">R$ 10,00</strong>
                        <strong class="current-price">R$ 9,00</strong></p>
                    <button class="add-to-cart">ADICIONAR</button>
                </article>
                </a>
            </article>

            <article class="carousel-item2">
                <a  class="link-produto" href="/produto">
                <img src="imagens/Frutas/batata-doce.png" alt="Imagem de uma Batata">
                <article class="product-info2">
                    <h3 class="product-name">Batata-Doce (600g)</h3>
                    <p class="seller-name2"><a href="/vendedor">NomedoVendedor</a></p>
                    <p class="product-price"><strong class="current-price">R$ 10,00</strong></p>
                    <button class="add-to-cart">ADICIONAR</button>
                </article>
                </a>
            </article>

            <article class="carousel-item2">
                <a  class="link-produto" href="/produto">
                <strong class="desconto"> -10% OFF </strong>
                <img src="imagens/Frutas/batata-doce.png" alt="Imagem de uma Batata">
                <article class="product-info2">
                    <h3 class="product-name">Batata-Doce (600g)</h3>
                    <p class="seller-name2"><a href="/vendedor">NomedoVendedor</a></p>
                    <p class="product-price">
                        <strong class="old-price">R$ 10,00</strong>
                        <strong class="current-price">R$ 9,00</strong></p>
                    <button class="add-to-cart">ADICIONAR</button>
                </article>
                </a>
            </article>

            <article class="carousel-item2">
                <a  class="link-produto" href="/produto">
                <img src="imagens/Frutas/batata-doce.png" alt="Imagem de uma Batata">
                <article class="product-info2">
                    <h3 class="product-name">Batata-Doce (600g)</h3>
                    <p class="seller-name2"><a href="/vendedor">NomedoVendedor</a></p>
                    <p class="product-price"><strong class="current-price">R$ 10,00</strong></p>
                    <button class="add-to-cart">ADICIONAR</button>
                </article>
                </a>
            </article>

            <!-- Repetir o bloco "carousel-item2" para cada produto -->

        </article>
        
            

    </section>
    
            <button class="carousel-control2 prev2"><img src="imagens/seta-esquerda.png"></button>
            <button class="carousel-control2 next2"><img src="imagens/seta-direita.png"></button>
</article>
            <article class="carousel-indicators2">
                <button class="indicator2"></button>
                <button class="indicator2"></button>
                <button class="indicator2"></button>
            </article>
</main>

<script src="js/carroselLegumes.js"> </script>