<article class="todos-produtos">
   
    <article class="itens-produto">
        <article class="box-produto">
            <a  class="link-produto" href="/produto">
            <img src="imagens/Frutas/limão-siciliano.png" alt="Produto 9 Imagem de um limão siciliano">
            <p class="nome-produto">Limão-siciliano (330g)</p>
            <p class="nome-vendedor"><a href="/vendedor">NomedoVendedor</a></p>
           <p class="valor-produto"><strong class="current-price">R$ 10,00</strong></p>
            <button class="botao-adicionar">ADICIONAR</button>
            </a>
        </article>
        <article class="box-produto">
            <a  class="link-produto" href="/produto">
            <img src="imagens/Frutas/couve.png" alt="Produto 10 Imagem de uma Couve">
            <p class="nome-produto">Couve-Manteiga (300g)</p>
            <p class="nome-vendedor"><a href="/vendedor">NomedoVendedor</a></p>
           <p class="valor-produto"><strong class="current-price">R$ 10,00</strong></p>
            <button class="botao-adicionar">ADICIONAR</button>
            </a>
        </article>
        <article class="box-produto">
            <a  class="link-produto" href="/produto">
            <img src="imagens/Frutas/maracuja.png" alt="Produto 17 Imagem de um maracujá">
            <p class="nome-produto">Maracujá (130g)</p>
            <p class="nome-vendedor"><a href="/vendedor">NomedoVendedor</a></p>
            <p class="valor-produto"><strong class="current-price">R$ 10,00</strong></p>
            <button class="botao-adicionar">ADICIONAR</button>
            </a>
        </article>
        <article class="box-produto">
            <a  class="link-produto" href="/produto">
            <img src="imagens/Frutas/camomila.png" alt="Produto 18 Imagem de Camomila em Grãos">
            <p class="nome-produto">Camomila em Grãos (150g)</p>
            <p class="nome-vendedor"><a href="/vendedor">NomedoVendedor</a></p>
           <p class="valor-produto"><strong class="current-price">R$ 10,00</strong></p>
            <button class="botao-adicionar">ADICIONAR</button>
            </a>
        </article>
      
    </article>

    <article class="itens-produto">
        <article class="box-produto">
            <a  class="link-produto" href="/produto">
            <img src="imagens/Frutas/limão.png" alt="Produto 21 Imagem de um Limão">
            <p class="nome-produto">Limão (130g)</p>
            <p class="nome-vendedor"><a href="/vendedor">NomedoVendedor</a></p>
            <p class="valor-produto"><strong class="current-price">R$ 10,00</strong></p>
            <button class="botao-adicionar">ADICIONAR</button>
            </a>
        </article>
        <article class="box-produto">
            <a  class="link-produto" href="/produto">
            <img src="imagens/Frutas/erva-doce.png" alt="Produto 24 Imagem de um punhado de Erva-Doce">
            <p class="nome-produto">Erva-Doce (300g)</p>
            <p class="nome-vendedor"><a href="/vendedor">NomedoVendedor</a></p>
            <p class="valor-produto"><strong class="current-price">R$ 10,00</strong></p>
            <button class="botao-adicionar">ADICIONAR</button>
            </a>
        </article>
        <article class="box-produto">
            <a  class="link-produto" href="/produto">
            <img src="imagens/Frutas/manjericao.png" alt="Produto 28 Imagem de um Manjericao">
            <p class="nome-produto">Manjericao (300g)</p>
            <p class="nome-vendedor"><a href="/vendedor">NomedoVendedor</a></p>
            <p class="valor-produto"><strong class="current-price">R$ 10,00</strong></p>
            <button class="botao-adicionar">ADICIONAR</button>
            </a>
        </article>
        <article class="box-produto">
            <a  class="link-produto" href="/produto">
            <img src="imagens/Frutas/hortela.png" alt="Produto 34 Imagem de uma Hortela">
            <p class="nome-produto">Hortelã (150g)</p>
            <p class="nome-vendedor"><a href="/vendedor">NomedoVendedor</a></p>
           <p class="valor-produto"><strong class="current-price">R$ 10,00</strong></p>
            <button class="botao-adicionar">ADICIONAR</button>
            </a>
        </article>
    </article>

    <article class="itens-produto">  

        <article class="box-produto">
            <a  class="link-produto" href="/produto">
            <img src="imagens/Frutas/couve-flor.png" alt="Produto 42 Imagem de uma Couve-Flor">
            <p class="nome-produto">Couve-Flor (150g)</p>
            <p class="nome-vendedor"><a href="/vendedor">NomedoVendedor</a></p>
           <p class="valor-produto"><strong class="current-price">R$ 10,00</strong></p>
            <button class="botao-adicionar">ADICIONAR</button>
            </a>
        </article>
        <article class="box-produto">
            <a  class="link-produto" href="/produto">
            <img src="imagens/Frutas/agriao.png" alt="Produto 48 Imagem de um Agrião">
            <p class="nome-produto">Agrião (300g)</p>
            <p class="nome-vendedor"><a href="/vendedor">NomedoVendedor</a></p>
            <p class="valor-produto"><strong class="current-price">R$ 10,00</strong></p>
            <button class="botao-adicionar">ADICIONAR</button>
            </a>
        </article>

    </article>
    <!-- Você pode adicionar mais seções "intens-produto" aqui -->
</article>