<main class="container">
    <!-- Seção de Perfil -->
    <section class="sidebar">
        <article class="profile">
            <a href="#" onclick="mostrarSeção('minhaConta')">
            <img src="imagens/icon_user.png" alt="Imagem do perfil">
            <h3>Usuario123<br></a><strong>Consumidor</strong> </h3>
        </article>

        <ul class="menu">
            <li>
                <img id="image1" src="imagens/icon_user-consumidor.png" alt="Imagem Icone Usuario" onclick="trocarCorImagem('link1', 'image1')" style="cursor: pointer;">
                <a id="link1" href="#" onclick="trocarCorImagem('link1', 'image1'); mostrarSeção('minhaConta');">Minha Conta</a>
            </li>
            <li>
                <img id="image2" src="imagens/icon_pedidos.png" alt="Imagem Icone Usuario" onclick="trocarCorImagem('link2', 'image2')" style="cursor: pointer;">
                <a id="link2" href="#" onclick="trocarCorImagem('link2', 'image2'); mostrarSeção('pedidos');">Pedidos</a>
            </li>
            <li>
                <img id="image3" src="imagens/icon_cartao.png" alt="Imagem Icone Usuario" onclick="trocarCorImagem('link3', 'image3')" style="cursor: pointer;">
                <a id="link3" href="#" onclick="trocarCorImagem('link3', 'image3'); mostrarSeção('cartoes');">Cartões</a>
            </li>
            <li>
                <img id="image4" src="imagens/icon_home.png" alt="Imagem Icone Usuario" onclick="trocarCorImagem('link4', 'image4')" style="cursor: pointer;">
                <a id="link4" href="#" onclick="trocarCorImagem('link4', 'image4'); mostrarSeção('enderecos');">Endereços</a>
            </li>
            <li>
                <img id="image5" src="imagens/icone_consumidor-config.png" alt="Imagem Icone Usuario" onclick="trocarCorImagem('link5', 'image5')" style="cursor: pointer;">
                <a id="link5" href="#" onclick="trocarCorImagem('link5', 'image5'); mostrarSeção('configuracoes');">Configurações</a>
            </li>
        </ul>
    </section>

    <!-- Seção de Conteúdo -->
    <section class="page-container">
        <section id="minhaConta" class="minhaConta" style="display: block;">
            <h1>Minha Conta</h1>
            <form id="form-dados">
                <article class="box-container">
                    <article class="box-dados-pessoais">
                        <h3>Dados Pessoais</h3>
                        <article class="input-wrapper">
                            <label for="nome">Nome Completo</label>
                            <input type="text" id="nome" placeholder="Digite seu nome completo">
                            <img src="imagens/icon_lapis.png" class="edit-icon" alt="Editar">
                            <span class="error-message" id="nome-error"></span>
                        </article>
                        <article class="input-wrapper">
                            <label for="cpf">CPF</label>
                            <input type="text" id="cpf" placeholder="Digite seu CPF">
                            <img src="imagens/icon_lapis.png" class="edit-icon" alt="Editar">
                            <span class="error-message" id="cpf-error"></span>
                        </article>
                        <article class="input-wrapper">
                            <label for="telefone">Telefone</label>
                            <input type="text" id="telefone" placeholder="Digite seu telefone">
                            <img src="imagens/icon_lapis.png" class="edit-icon" alt="Editar">
                            <span class="error-message" id="telefone-error"></span>
                        </article>
                    </article>
                    
                    <article class="box-dados-acesso">
                        <h3>Dados de Acesso</h3>
                        <article class="input-wrapper">
                            <label for="email">Email</label>
                            <input type="text" id="email" placeholder="Digite seu email">
                            <img src="imagens/icon_lapis.png" class="edit-icon" alt="Editar">
                            <span class="error-message" id="email-error"></span>
                        </article>
                        <article class="input-wrapper">
                            <label for="senha">Senha</label>
                            <input type="password" id="senha" placeholder="Digite sua senha">
                            <img src="imagens/icon_lapis.png" class="edit-icon" alt="Editar">
                            <span class="error-message" id="senha-error"></span>
                        </article>
                    </article>
                </article>
                <button class="botao-enviar" type="submit">Salvar</button>
            </form>
        </section>

                                <!-- Seções-->

<!-- Seção Pedidos -->

        <section id="pedidos"  style="display:none;">
            <h1 class="Titulos">Pedidos</h1>  
            <article class="container-pedidos">

                <ul class="menu2">
                    <li> <a href="#"onclick="mostrarSeção2('tudo')">Tudo</a> </li>
                    <li><a href="#" onclick="mostrarSeção2('pagar')">A pagar</a></li>
                    <li><a href="#" onclick="mostrarSeção2('andamento')">Em andamento</a></li>
                    <li><a href="#" onclick="mostrarSeção2('finalizado')">Finalizado</a></li>
                    <li><a href="#" onclick="mostrarSeção2('cancelado')">Cancelado</a></li>
                </ul>

                <!-- Seções DENTRO de Produtos -->

    <!-- SeçãoP "Tudo" que ta na tela Inicial de Produtos -->

    <section id="tudo"> 

            <section class="produtosGeral">
                <article class="produto">

                    <article class="information-produto">
                        <img src="imagens/Frutas/maça.png">
                        <h1>Nome do <br>Produto</h1>
                        <p>Quantidade: 1</p>
                        <h3>Valor: R$00,00</h3>
                    </article>

                    
                    <article class="details-produtos">
                        
                        <article class="tittle"> 
                            <h1><strong>Entrega 1</strong> - Vendido por NomedoVendedor</h1>
                        </article>

                    <article class="details-produtosInterior">
        
                        <article class="detail-produto">
                            <p>25/04/2024</p>
                            <p>08:34</p>
                            <img src="imagens/icone_consumidor-etiqueta.png">
                            <h3>Pedido<br>Realizado</h3>
                        </article>

                        <!-- <article class="connector"></article>  -->

                        <article class="detail-produto">
                            <p>30/04/2024</p>
                            <p>20:03</p>
                            <img src="imagens/icone_consumidor-mão.png">
                            <h3>Pagamento<br>Confirmado</h3>
                        </article>
                        
                        <article class="detail-produto">
                            <p>31/04/2024</p>
                            <p>23:14</p>
                            <img src="imagens/icone_consumidor-caminhão.png">
                            <h3>Em<br>transporte</h3>
                        </article>

                        <article class="detail-produto">
                            <p>11/05/2024</p>
                            <p>17:30</p>
                            <img src="imagens/icone_consumidor-caixa.png">
                            <h3>Pedido<br>entregue</h3>
                        </article>
                    </article>
                    </article>

                    <article class="resumo-produtos">
                        <h3>Resumo da Compra</h3>
                        <p>Pedido:<strong>1234567890</strong> </p>
                        <p>Data do Pedido: <br><strong>
                            25/04/2024</strong>
                        </p>
                        <p>Valor total:<strong>R$000,00</strong></p>
                    </article>

                </article>
            </section>
<!-- 2 -->
            <section class="produtosGeral">
                <article class="produto">

                    <article class="information-produto">
                        <img src="imagens/Frutas/melancia.png">
                        <h1>Nome do <br>Produto</h1>
                        <p>Quantidade: 1</p>
                        <h3>Valor: R$00,00</h3>
                    </article>

                    <article class="details-produtos">
                        <article class="tittle"> 
                            <h1><strong>Entrega 1</strong> - Vendido por NomedoVendedor</h1>
                        </article>

                    <article class="details-produtosInterior">
                        <article class="detail-produto">
                            <p>25/04/2024</p>
                            <p>08:34</p>
                            <img src="imagens/icone_consumidor-etiqueta.png">
                            <h3>Pedido<br>Realizado</h3>
                        </article>

                        <!-- <article class="connector"></article>  -->

                        <article class="detail-produto">
                            <p>30/04/2024</p>
                            <p>20:03</p>
                            <img src="imagens/icone_consumidor-mão.png">
                            <h3>Pagamento<br>Confirmado</h3>
                        </article>
                        
                        <article class="detail-produto">
                            <p>31/04/2024</p>
                            <p>23:14</p>
                            <img src="imagens/icone_consumidor-caminhão.png">
                            <h3>Em<br>transporte</h3>
                        </article>

                        <article class="detail-produto">
                            <p>11/05/2024</p>
                            <p>17:30</p>
                            <img src="imagens/icone_consumidor-caixa.png">
                            <h3>Pedido<br>entregue</h3>
                        </article>
                    </article>
                    </article>

                    <article class="resumo-produtos">
                       

                    </article>
            </section>
<!-- 3 -->
            <section class="produtosGeral">
                <article class="produto">

                    <article class="information-produto">
                        <img src="imagens/Frutas/maça.png">
                        <h1>Nome do <br>Produto</h1>
                        <p>Quantidade: 1</p>
                        <h3>Valor: R$00,00</h3>
                    </article>

                    
                    <article class="details-produtos">
                        
                        <article class="tittle"> 
                            <h1><strong>Entrega 1</strong> - Vendido por NomedoVendedor</h1>
                        </article>

                    <article class="details-produtosInterior">
        
                        <article class="detail-produto">
                            <p>25/04/2024</p>
                            <p>08:34</p>
                            <img src="imagens/icone_consumidor-etiqueta.png">
                            <h3>Pedido<br>Realizado</h3>
                        </article>

                        <!-- <article class="connector"></article>  -->

                        <article class="detail-produto">
                            <p>30/04/2024</p>
                            <p>20:03</p>
                            <img src="imagens/icone_consumidor-mão.png">
                            <h3>Pagamento<br>Confirmado</h3>
                        </article>
                        
                        <article class="detail-produto">
                            <p>31/04/2024</p>
                            <p>23:14</p>
                            <img src="imagens/icone_consumidor-caminhão.png">
                            <h3>Em<br>transporte</h3>
                        </article>

                        <article class="detail-produto">
                            <p>11/05/2024</p>
                            <p>17:30</p>
                            <img src="imagens/icone_consumidor-caixa.png">
                            <h3>Pedido<br>entregue</h3>
                        </article>
                    </article>
                    </article>

                    <article class="resumo-produtos">
                        <h3>Resumo da Compra</h3>
                        <p>Pedido:<strong>1234567890</strong> </p>
                        <p>Data do Pedido: <br><strong>
                            25/04/2024</strong>
                        </p>
                        <p>Valor total:<strong>R$000,00</strong></p>
                    </article>

                </article>
            </section>
        </section>
        

       
    </section>


        
<!-- SeçãoP A pagar -->

    <section id="pagar" style="display:none;">
            
        <section class="produtosGeral">
            <article class="produto">

                <article class="information-produto">
                    <img src="imagens/Frutas/maça.png">
                    <h1>Nome do <br>Produto</h1>
                    <p>Quantidade: 1</p>
                    <h3>Valor: R$00,00</h3>
                </article>

                
                <article class="details-produtos">
                    
                    <article class="tittle"> 
                        <h1><strong>Entrega 1</strong> - Vendido por NomedoVendedor</h1>
                    </article>

                <article class="details-produtosInterior">
    
                    <article class="detail-produto">
                        <p>25/04/2024</p>
                        <p>08:34</p>
                        <img src="imagens/icone_consumidor-etiqueta.png">
                        <h3>Pedido<br>Realizado</h3>
                    </article>

                    <!-- <article class="connector"></article>  -->

                    <article class="detail-produtoP">
                        <p>30/04/2024</p>
                        <p>20:03</p>
                        <img src="imagens/icone_consumidor-mão.png">
                        <h3>Pagamento<br>Confirmado</h3>
                    </article>
                    
                    <article class="detail-produtoP">
                        <p>31/04/2024</p>
                        <p>23:14</p>
                        <img src="imagens/icone_consumidor-caminhão.png">
                        <h3>Em<br>transporte</h3>
                    </article>

                    <article class="detail-produtoP">
                        <p>11/05/2024</p>
                        <p>17:30</p>
                        <img src="imagens/icone_consumidor-caixa.png">
                        <h3>Pedido<br>entregue</h3>
                    </article>
                </article>
                </article>

                <article class="resumo-produtos">
                    <h3>Resumo da Compra</h3>
                    <p>Pedido:<strong>1234567890</strong> </p>
                    <p>Data do Pedido: <br><strong>
                        25/04/2024</strong>
                    </p>
                    <p>Valor total:<strong>R$000,00</strong></p>
                </article>

            </article>
        </section>
        
   
    </section>

<!-- SeçãoP Em andamento -->

    <section id="andamento" style="display:none;">

        <section class="produtosGeral">
            <article class="produto">

                <article class="information-produto">
                    <img src="imagens/Frutas/maça.png">
                    <h1>Nome do <br>Produto</h1>
                    <p>Quantidade: 1</p>
                    <h3>Valor: R$00,00</h3>
                </article>

                
                <article class="details-produtos">
                    
                    <article class="tittle"> 
                        <h1><strong>Entrega 1</strong> - Vendido por NomedoVendedor</h1>
                    </article>

                <article class="details-produtosInterior">
    
                    <article class="detail-produto">
                        <p>25/04/2024</p>
                        <p>08:34</p>
                        <img src="imagens/icone_consumidor-etiqueta.png">
                        <h3>Pedido<br>Realizado</h3>
                    </article>

                    <!-- <article class="connector"></article>  -->

                    <article class="detail-produto">
                        <p>30/04/2024</p>
                        <p>20:03</p>
                        <img src="imagens/icone_consumidor-mão.png">
                        <h3>Pagamento<br>Confirmado</h3>
                    </article>
                    
                    <article class="detail-produtoP">
                        <p>31/04/2024</p>
                        <p>23:14</p>
                        <img src="imagens/icone_consumidor-caminhão.png">
                        <h3>Em<br>transporte</h3>
                    </article>

                    <article class="detail-produtoP">
                        <p>11/05/2024</p>
                        <p>17:30</p>
                        <img src="imagens/icone_consumidor-caixa.png">
                        <h3>Pedido<br>entregue</h3>
                    </article>
                </article>
                </article>

                <article class="resumo-produtos">
                    <h3>Resumo da Compra</h3>
                    <p>Pedido:<strong>1234567890</strong> </p>
                    <p>Data do Pedido: <br><strong>
                        25/04/2024</strong>
                    </p>
                    <p>Valor total:<strong>R$000,00</strong></p>
                </article>

            </article>
        </section>

    </section>

<!-- SeçãoP Finalizado -->

    <section id="finalizado" style="display:none;">
        
        <section class="produtosGeral">
            <article class="produto">

                <article class="information-produto">
                    <img src="imagens/Frutas/maça.png">
                    <h1>Nome do <br>Produto</h1>
                    <p>Quantidade: 1</p>
                    <h3>Valor: R$00,00</h3>
                </article>

                
                <article class="details-produtos">
                    
                    <article class="tittle"> 
                        <h1><strong>Entrega 1</strong> - Vendido por NomedoVendedor</h1>
                    </article>

                <article class="details-produtosInterior">
    
                    <article class="detail-produto">
                        <p>25/04/2024</p>
                        <p>08:34</p>
                        <img src="imagens/icone_consumidor-etiqueta.png">
                        <h3>Pedido<br>Realizado</h3>
                    </article>

                    <!-- <article class="connector"></article>  -->

                    <article class="detail-produto">
                        <p>30/04/2024</p>
                        <p>20:03</p>
                        <img src="imagens/icone_consumidor-mão.png">
                        <h3>Pagamento<br>Confirmado</h3>
                    </article>
                    
                    <article class="detail-produto">
                        <p>31/04/2024</p>
                        <p>23:14</p>
                        <img src="imagens/icone_consumidor-caminhão.png">
                        <h3>Em<br>transporte</h3>
                    </article>

                    <article class="detail-produto">
                        <p>11/05/2024</p>
                        <p>17:30</p>
                        <img src="imagens/icone_consumidor-caixa.png">
                        <h3>Pedido<br>entregue</h3>
                    </article>
                </article>
                </article>

                <article class="resumo-produtos">
                    <h3>Resumo da Compra</h3>
                    <p>Pedido:<strong>1234567890</strong> </p>
                    <p>Data do Pedido: <br><strong>
                        25/04/2024</strong>
                    </p>
                    <p>Valor total:<strong>R$000,00</strong></p>
                </article>

            </article>
        </section>
<!-- 2 -->
        <section class="produtosGeral">
            <article class="produto">

                <article class="information-produto">
                    <img src="imagens/Frutas/melancia.png">
                    <h1>Nome do <br>Produto</h1>
                    <p>Quantidade: 1</p>
                    <h3>Valor: R$00,00</h3>
                </article>

                <article class="details-produtos">
                    <article class="tittle"> 
                        <h1><strong>Entrega 1</strong> - Vendido por NomedoVendedor</h1>
                    </article>

                <article class="details-produtosInterior">
                    <article class="detail-produto">
                        <p>25/04/2024</p>
                        <p>08:34</p>
                        <img src="imagens/icone_consumidor-etiqueta.png">
                        <h3>Pedido<br>Realizado</h3>
                    </article>

                    <!-- <article class="connector"></article>  -->

                    <article class="detail-produto">
                        <p>30/04/2024</p>
                        <p>20:03</p>
                        <img src="imagens/icone_consumidor-mão.png">
                        <h3>Pagamento<br>Confirmado</h3>
                    </article>
                    
                    <article class="detail-produto">
                        <p>31/04/2024</p>
                        <p>23:14</p>
                        <img src="imagens/icone_consumidor-caminhão.png">
                        <h3>Em<br>transporte</h3>
                    </article>

                    <article class="detail-produto">
                        <p>11/05/2024</p>
                        <p>17:30</p>
                        <img src="imagens/icone_consumidor-caixa.png">
                        <h3>Pedido<br>entregue</h3>
                    </article>
                </article>
                </article>

                <article class="resumo-produtos">
                   

            </article>
        </section>

    </section>

<!-- SeçãoP Cancelado -->

    <section id="cancelado" style="display:none;">

        <section class="produtosGeral">
            <article class="produto">

                <article class="information-produto">
                    <img src="imagens/Frutas/maça.png">
                    <h1>Nome do <br>Produto</h1>
                    <p>Quantidade: 1</p>
                    <h3>Valor: R$00,00</h3>
                </article>

                
                <article class="details-produtos">
                    
                    <article class="tittle"> 
                        <h1><strong>Entrega 1</strong> - Vendido por NomedoVendedor</h1>
                    </article>

                <article class="details-produtosInterior">
    
                    <article class="detail-produto">
                        <p>25/04/2024</p>
                        <p>08:34</p>
                        <img src="imagens/icone_consumidor-etiqueta.png">
                        <h3>Pedido<br>Realizado</h3>
                    </article>

                    <!-- <article class="connector"></article>  -->

                    <article class="detail-produto">
                        <p>30/04/2024</p>
                        <p>20:03</p>
                        <img src="imagens/icon_consumidor-X.png">
                        <h3>Pagamento<br>Confirmado</h3>
                    </article>
                    

                    <article class="detail-produto">
                        <p>11/05/2024</p>
                        <p>17:30</p>
                        <img src="imagens/icone_consumidor-sifrão.png">
                        <h3>Pedido<br>entregue</h3>
                    </article>
                </article>
                </article>

                <article class="resumo-produtos">
                    <h3>Resumo da Compra</h3>
                    <p>Pedido:<strong>1234567890</strong> </p>
                    <p>Data do Pedido: <br><strong>
                        25/04/2024</strong>
                    </p>
                    <p>Valor total:<strong>R$000,00</strong></p>
                </article>

            </article>
        </section>

    </section>









<!-- Seção Cartões -->
 
        <section id="cartoes" style="display:none;">
                <article class="carton">
                    <h1 class="Titulos">Cartões</h1>
                    <button id="adicionarCartao" class="btn-cartoes"> + Adicionar novo cartão </button> 
                    <div id="formularioCartao" class="modal-cartao" style="display: none;">
                        <div class="modal-content-cartao">
                            <h1 class="titulo-formulario">Informações do cartão</h1>
                            <form id="novoCartaoForm">
                                <input type="text" class="numeroCartao" id="numeroCartao" placeholder="Número do Cartão" required>
                                <input type="text" class="cvvCartao" id="cvvCartao" placeholder="CVV" required>
                                <input type="month" class="validadeCartao" id="validadeCartao" placeholder="Validade (MM/AA)" required>
                                <input type="text" class="nomeCartao" id="nomeCartao" placeholder="Nome no Cartão" required>
                                <button type="submit" class="botaoadd-cartao">Adicionar Cartão</button>
                            </form>
                        </div>
                    </div>  
                </article> 
                       
           
            <section class="container-cartoes" id="listaCartoes">
                <section class="container-cards">
                <article class="card-image">
                    <img src="imagens/credit-card.png">
                    <p>Remover como padrão</p>
                </article>
                <article class="card2">
                    <h3>**** **** **** 1234</h3>
                    <p>Nome no Cartão</p>  
                    <article class="remover-card">
                        <img src="imagens/icon_lixeira.png">
                        <strong>Excluir</strong>
                    </article>
                </article>
                <button class="padron">PADRÃO</button>
            </section>
           

            <section class="container-cards">
                <article class="card-image2">
                    <img src="imagens/credit-debito.png">
                    <p>Definir como padrão</p>
                </article>
                <article class="card2">
                    <h3>**** **** **** 1234</h3>
                    <p>Nome no Cartão</p>  
                    <article class="remover-card">
                        <img src="imagens/icon_lixeira.png">
                        <strong>Excluir</strong>
                    </article>
                </article>
            </section>

            <section class="container-cards">
                <article class="card-image2">
                    <img src="imagens/credi-prox.png">
                    <p>Definir como padrão</p>
                </article>
                <article class="card2">
                    <h3>**** **** **** 1234</h3>
                    <p>Nome no Cartão</p>  
                    <article class="remover-card">
                        <img src="imagens/icon_lixeira.png">
                        <strong>Excluir</strong>
                    </article>
                </article>
            </section>
           
            <section class="container-cards">
                <article class="card-image2">
                    <img src="imagens/credit-debito.png">
                    <p>Definir como padrão</p>
                </article>
                <article class="card2">
                    <h3>**** **** **** 1234</h3>
                    <p>Nome no Cartão</p>  
                    <article class="remover-card">
                        <img src="imagens/icon_lixeira.png">
                        <strong>Excluir</strong>
                    </article>
                </article>
            </section>
            
        </section>
        </section>

<!-- Seção Endereçõs -->

        <section id="enderecos" style="display:none;">
            <article class="carton">
                <h1 class="Titulos">Endereços</h1>
                <button id="adicionarEndereco" class="btn-endereco"> + Adicionar novo endereço </button>  
                <div id="formularioEndereco" class="modal-endereco" style="display: none;">
                    <div class="modal-content-endereco">
                        <h1 class="titulo-formulario">Informações do cartão</h1>
                        <form id="novoEnderecoForm">
                            <input type="text" class="nomeCompletoEndereco" id="nomeCompleto" placeholder="Nome Endereco" required>
                            <input type="text" class="numeroTelefoneEndereco" id="numeroTelefone" placeholder="Telefone" required>
                            <input type="month" class="CEPEndereco" id="CEP" placeholder="CEP" required>
                            <input type="text" class="cidadeEndereco" id="cidade" placeholder="Cidade" required>
                            <input type="text" class="estadoEndereco" id="cidade" placeholder="Estado" required>
                            <input type="text" class="numeroEndereco" id="cidade" placeholder="Numero" required>
                            <button type="submit" class="botaoadd-endereco">Adicionar Cartão</button>
                        </form>
                    </div>
                </div>     
            </article>
            

            <section class="container-enderecos">

                <section class="informationEnderecos">
                    <section class="interiorEnderecos">
                        <h2><strong>Casa do Usuario1 </strong>| (+55) 1100000000</h2>
                        <h2>Rua Joaninha, 404 - Bairro do Kiko</h2>
                        <h2>Carpazinha, São Paulo, 00000000</h2>
                    </section>
                
                    <button class="padron">PADRÃO</button>
                    <article class="edition">
                        <p>Editar | Excluir</p>
                        <button class="btn-padron">Remover como padrão</button>
                    </article>

                    <section class="interiorEnderecos">
                        <h2><strong>Casa do Usuario1 </strong>| (+55) 1100000000</h2>
                        <h2>Rua Joaninha, 404 - Bairro do Kiko</h2>
                        <h2>Carpazinha, São Paulo, 00000000</h2>
                    </section>
                
                    <button class="padron">PADRÃO</button>
                    <article class="edition">
                        <p>Editar | Excluir</p>
                        <button class="btn-padron">Remover como padrão</button>
                    </article>
                </section>
            </section>

        </section>

<!-- Seção Configurações -->

        <section id="configuracoes" style="display:none;">
            <h1 class="Titulos">Configurações</h1>
            <p>Conteúdo da seção Configurações</p>
        </section>
    </section>
</main>


<script src="js/formularioCartao.js"> </script>