<main class="container">
    <!-- Seção de Perfil -->
    <section class="sidebar">
        <article class="profile">
            <a href="#" onclick="mostrarSeção('minhaConta')">
            <img src="imagens/icon_user.png" alt="Imagem do perfil">
            <h3>Usuario123<br></a><strong>Consumidor</strong> </h3>
        </article>

        <ul class="menu">
            <li>
                <img id="image1" src="imagens/icon_user-consumidor.png" alt="Imagem Icone Usuario" >
                <a  href="/contaConsumidor" id="link1">Minha Conta</a>
            </li>
            <li>
                <img id="image2" src="imagens/icon_pedidos.png" alt="Imagem Icone Usuario">
                <a  href="/pedidos" id="link2">Pedidos</a>
            </li>
            <li>
                <img id="image6" src="imagens/icon_cartao.png" alt="Imagem Icone Usuario">
                <a href="/cartoes" id="link6">Cartões</a>
            </li>
            <li>
                <img id="image7" src="imagens/icon_home.png" alt="Imagem Icone Usuario">
                <a href="/enderecos" id="link7">Endereços</a>
            </li>
            <li>
                <img id="image5" src="imagens/icone_consumidor-config.png" alt="Imagem Icone Usuario">
                <a  href="/configuracoes" id="link5">Configurações</a>
            </li>
        </ul>
    </section>





