
    <article class="container">

        <!-- Seção de Perfil -->
        <aside class="sidebar">
            <article class="profile">
                <img src="imagens/icon_user.png" alt="Imagem do perfil">
                <h3>Usuario123</h3>
                <p>Consumidor</p>
            </article>

            <ul class="menu">
                <li>
                    <img src="imagens/icon_user-consumidor.png" alt="Minha Conta">
                    <a href="#">Minha Conta</a>
                </li>
                <li>
                    <img src="imagens/icon_pedidos.png" alt="Pedidos">
                    <a href="#">Pedidos</a>
                </li>
                <li>
                    <img src="imagens/icon_cartão.png" alt="Cartões">
                    <a href="#">Cartões</a>
                </li>
                <li>
                    <img src="imagens/icon_home.png" alt="Endereços">
                    <a href="#">Endereços</a>
                </li>
                <li>
                    <img src="imagens/icone_consumidor-config.png" alt="Configurações">
                    <a href="#">Configurações</a>
                </li>
            </ul>
        </aside>

        <!-- Seção de Conteúdo -->
        <article class="page-container">
            <article class="box-container">
                <article class="box-dados-pessoais">
                    <h3>Dados Pessoais</h3>
                    <article class="input-wrapper">
                        <label for="nome">Nome Completo</label>
                        <input type="text" id="nome" placeholder="Digite seu nome completo">
                        <img src="imagens/icon_lapis.png" class="edit-icon" alt="Editar">
                    </article>
                    <article class="input-wrapper">
                        <label for="cpf">CPF</label>
                        <input type="text" id="cpf" placeholder="Digite seu CPF">
                        <img src="imagens/icon_lapis.png" class="edit-icon" alt="Editar">
                    </article>
                    <article class="input-wrapper">
                        <label for="telefone">Telefone</label>
                        <input type="text" id="telefone" placeholder="Digite seu telefone">
                        <img src="imagens/icon_lapis.png" class="edit-icon" alt="Editar">
                    </article>
                </article>
                
                <article class="box-dados-acesso">
                    <h3>Dados de Acesso</h3>
                    <article class="input-wrapper">
                        <label for="email">Email</label>
                        <input type="text" id="email" placeholder="Digite seu email">
                        <img src="imagens/icon_lapis.png" class="edit-icon" alt="Editar">
                    </article>
                    <article class="input-wrapper">
                        <label for="senha">Senha</label>
                        <input type="password" id="senha" placeholder="Digite sua senha">
                        <img src="imagens/icon_lapis.png" class="edit-icon" alt="Editar">
                    </article>
                </article>
            </article>
        </article>
    </article>
