

<main class="container">
        <!-- Seção de Perfil -->
        <section class="sidebar">
            <article class="profile">
                <a href="/contaVendedor" onclick="mostrarSeção('minhaConta')">
                <img src="imagens/icon_user.png" alt="Imagem do perfil">
                <ul class="menuOperador">
                   <li class="usuarioOne"> <!-- <%= usuario.nome %>--></li> 
                    <li class="usuarioTwo">Vendedor</li>
                </ul>
                 </a>
            </article>

            <ul class="menu">
                <li> <a href="/contaVendedor" id="link1">
                    <img id="image1" src="imagens/icon_user-consumidor.png" alt="Imagem Icone Usuario">
                   Minha Conta</a>
                </li>
                <li><a href="/produtosContaV" id="link2">
                    <img id="image2" src="imagens/icon_pedidos.png" alt="Imagem Icone Pedidos">
                    Produtos</a>
                </li>
                <li><a href="/vendas" id="link3">
                    <img id="image3" src="imagens/icon_vendas.png" alt="Imagem Icone Vendas"> 
                    Vendas</a>
                </li>
                <li><a href="/avaliacoes" id="link4">
                    <img id="image4" src="imagens/icon_comentario.png" alt="Imagem Icone Comentarios">
                    Avaliações</a>
                </li>
                <li><a href="/configuracoesV" id="link5">
                    <img id="image5" src="imagens/icone_consumidor-config.png" alt="Configurações">
                    Configurações</a>
                </li>
            </ul>
        </section>

    