<main class="container">
    <!-- Seção de Perfil -->
    <section class="sidebar">
        <article class="profile">
            <a href="#" onclick="mostrarSeção('minhaConta')">
            <img src="imagens/icon_user.png" alt="Imagem do perfil">
            <h3>Usuario123<br></a><strong>Consumidor</strong> </h3>
        </article>

        <ul class="menu">
            <li>
                <img id="image1" src="imagens/icon_user-consumidor.png" alt="Imagem Icone Usuario" onclick="trocarCorImagem('link1', 'image1')" style="cursor: pointer;">
                <a  href="/contaConsumidor">Minha Conta</a>
            </li>
            <li>
                <img id="image2" src="imagens/icon_pedidos.png" alt="Imagem Icone Usuario" onclick="trocarCorImagem('link2', 'image2')" style="cursor: pointer;">
                <a  href="/pedidos" >Pedidos</a>
            </li>
            <li>
                <img id="image3" src="imagens/icon_cartao.png" alt="Imagem Icone Usuario" onclick="trocarCorImagem('link3', 'image3')" style="cursor: pointer;">
                <a href="/cartoes" >Cartões</a>
            </li>
            <li>
                <img id="image4" src="imagens/icon_home.png" alt="Imagem Icone Usuario" onclick="trocarCorImagem('link4', 'image4')" style="cursor: pointer;">
                <a href="/enderecos">Endereços</a>
            </li>
            <li>
                <img id="image5" src="imagens/icone_consumidor-config.png" alt="Imagem Icone Usuario" onclick="trocarCorImagem('link5', 'image5')" style="cursor: pointer;">
                <a  href="/configuracoes">Configurações</a>
            </li>
        </ul>
    </section>





