<main class="events-container1">

    <article class="seta">
    <h2 class="section-title">Outros Eventos</h2>
    <section class="event-box1">
        <article class="carouselEvent">

            <article class="carousel-itemE">
            <a href="/evento1">
                <img src="imagens/feiras2.jpg" alt="Imagem do Evento" class="event-images">
                <h3 class="event-title">Nome do Evento</h3>
                <article class="event-infoo">
                    <article class="event-flex-small">
                        <img src="imagens/icon_callender.png"> 
                        <p>30 de Setembro de 2024</p>
                    </article>
                    <article class="event-flex-small">
                        <img src="imagens/icon_flag.png">
                        <p>São Paulo</p>  
                    </article>
                </article>
              </a>
            </article>
    
            <article class="carousel-itemE">
                <a href="/evento1">
                    <img src="imagens/feiras2.jpg" alt="Imagem do Evento" class="event-images">
                    <h3 class="event-title">Nome do Evento</h3>
                    <article class="event-infoo">
                        <article class="event-flex-small">
                            <img src="imagens/icon_callender.png"> 
                            <p>30 de Setembro de 2024</p>
                        </article>
                        <article class="event-flex-small">
                            <img src="imagens/icon_flag.png">
                            <p>São Paulo</p>  
                        </article>
                    </article>
                  </a>
            </article>

            <article class="carousel-itemE">
                <a href="/evento1">
                    <img src="imagens/feiras2.jpg" alt="Imagem do Evento" class="event-images">
                    <h3 class="event-title">Nome do Evento</h3>
                    <article class="event-infoo">
                        <article class="event-flex-small">
                            <img src="imagens/icon_callender.png"> 
                            <p>30 de Setembro de 2024</p>
                        </article>
                        <article class="event-flex-small">
                            <img src="imagens/icon_flag.png">
                            <p>São Paulo</p>  
                        </article>
                    </article>
                  </a>
            </article>

            <article class="carousel-itemE">
                <a href="/evento1">
                    <img src="imagens/feiras2.jpg" alt="Imagem do Evento" class="event-images">
                    <h3 class="event-title">Nome do Evento</h3>
                    <article class="event-infoo">
                        <article class="event-flex-small">
                            <img src="imagens/icon_callender.png"> 
                            <p>30 de Setembro de 2024</p>
                        </article>
                        <article class="event-flex-small">
                            <img src="imagens/icon_flag.png">
                            <p>São Paulo</p>  
                        </article>
                    </article>
                  </a>
            </article>

            <article class="carousel-itemE">
                <a href="/evento1">
                    <img src="imagens/feiras2.jpg" alt="Imagem do Evento" class="event-images">
                    <h3 class="event-title">Nome do Evento</h3>
                    <article class="event-infoo">
                        <article class="event-flex-small">
                            <img src="imagens/icon_callender.png"> 
                            <p>30 de Setembro de 2024</p>
                        </article>
                        <article class="event-flex-small">
                            <img src="imagens/icon_flag.png">
                            <p>São Paulo</p>  
                        </article>
                    </article>
                  </a>
            </article>

            <article class="carousel-itemE">
                <a href="/evento1">
                    <img src="imagens/feiras2.jpg" alt="Imagem do Evento" class="event-images">
                    <h3 class="event-title">Nome do Evento</h3>
                    <article class="event-infoo">
                        <article class="event-flex-small">
                            <img src="imagens/icon_callender.png"> 
                            <p>30 de Setembro de 2024</p>
                        </article>
                        <article class="event-flex-small">
                            <img src="imagens/icon_flag.png">
                            <p>São Paulo</p>  
                        </article>
                    </article>
                  </a>
            </article>

            <article class="carousel-itemE">
                <a href="/evento1">
                    <img src="imagens/feiras2.jpg" alt="Imagem do Evento" class="event-images">
                    <h3 class="event-title">Nome do Evento</h3>
                    <article class="event-infoo">
                        <article class="event-flex-small">
                            <img src="imagens/icon_callender.png"> 
                            <p>30 de Setembro de 2024</p>
                        </article>
                        <article class="event-flex-small">
                            <img src="imagens/icon_flag.png">
                            <p>São Paulo</p>  
                        </article>
                    </article>
                  </a>
            </article>

            <article class="carousel-itemE">
                <a href="/evento1">
                    <img src="imagens/feiras2.jpg" alt="Imagem do Evento" class="event-images">
                    <h3 class="event-title">Nome do Evento</h3>
                    <article class="event-infoo">
                        <article class="event-flex-small">
                            <img src="imagens/icon_callender.png"> 
                            <p>30 de Setembro de 2024</p>
                        </article>
                        <article class="event-flex-small">
                            <img src="imagens/icon_flag.png">
                            <p>São Paulo</p>  
                        </article>
                    </article>
                  </a>
            </article>

            <article class="carousel-itemE">
                <a href="/evento1">
                    <img src="imagens/feiras2.jpg" alt="Imagem do Evento" class="event-images">
                    <h3 class="event-title">Nome do Evento</h3>
                    <article class="event-infoo">
                        <article class="event-flex-small">
                            <img src="imagens/icon_callender.png"> 
                            <p>30 de Setembro de 2024</p>
                        </article>
                        <article class="event-flex-small">
                            <img src="imagens/icon_flag.png">
                            <p>São Paulo</p>  
                        </article>
                    </article>
                  </a>
            </article>

            <article class="carousel-itemE">
                <a href="/evento1">
                    <img src="imagens/feiras2.jpg" alt="Imagem do Evento" class="event-images">
                    <h3 class="event-title">Nome do Evento</h3>
                    <article class="event-infoo">
                        <article class="event-flex-small">
                            <img src="imagens/icon_callender.png"> 
                            <p>30 de Setembro de 2024</p>
                        </article>
                        <article class="event-flex-small">
                            <img src="imagens/icon_flag.png">
                            <p>São Paulo</p>  
                        </article>
                    </article>
                  </a>
            </article>

            <article class="carousel-itemE">
                <a href="/evento1">
                    <img src="imagens/feiras2.jpg" alt="Imagem do Evento" class="event-images">
                    <h3 class="event-title">Nome do Evento</h3>
                    <article class="event-infoo">
                        <article class="event-flex-small">
                            <img src="imagens/icon_callender.png"> 
                            <p>30 de Setembro de 2024</p>
                        </article>
                        <article class="event-flex-small">
                            <img src="imagens/icon_flag.png">
                            <p>São Paulo</p>  
                        </article>
                    </article>
                  </a>
            </article>

            <article class="carousel-itemE">
                <a href="/evento1">
                    <img src="imagens/feiras2.jpg" alt="Imagem do Evento" class="event-images">
                    <h3 class="event-title">Nome do Evento</h3>
                    <article class="event-infoo">
                        <article class="event-flex-small">
                            <img src="imagens/icon_callender.png"> 
                            <p>30 de Setembro de 2024</p>
                        </article>
                        <article class="event-flex-small">
                            <img src="imagens/icon_flag.png">
                            <p>São Paulo</p>  
                        </article>
                    </article>
                  </a>
            </article>

        </article>
  </section>
  
        <button class="carousel-control prev"><img src="imagens/seta-esquerda.png"></button>
        <button class="carousel-control next"><img src="imagens/seta-direita.png"></button>

    </article>
    <article class="carousel-indicators">
        <button class="indicator"></button>
        <button class="indicator"></button>
        <button class="indicator"></button>
    </article>
</main>

       <!-- Script -->

       <script src="js/carroselEvent.js"> </script>