<main class="events-container1">

  <section class="event-box1">
    <a href="/evento1">
    <img src="imagens/feiras2.jpg" alt="Imagem do Evento" class="event-images">
    <h3 class="event-title">Nome do Evento</h3>
    <article class="event-infoo">
        <article class="event-flex-small">
            <img src="imagens/icon_callender.png"> 
            <p>30 de Setembro de 2024</p>
        </article>
        <article class="event-flex-small">
            <img src="imagens/icon_flag.png">
            <p>São Paulo</p>  
        </article>
    </article>
  </a>
  </section>

  <section class="event-box1">
    <a href="/evento1">
    <img src="imagens/feiras2.jpg" alt="Imagem do Evento" class="event-images">
    <h3 class="event-title">Nome do Evento</h3>
    <article class="event-infoo">
        <article class="event-flex-small">
            <img src="imagens/icon_callender.png"> 
            <p>30 de Setembro de 2024</p>
        </article>
        <article class="event-flex-small">
            <img src="imagens/icon_flag.png">
            <p>São Paulo</p>  
        </article>
    </article>
  </a>
  </section>

  <section class="event-box1">
    <a href="/evento1">
    <img src="imagens/feiras2.jpg" alt="Imagem do Evento" class="event-images">
    <h3 class="event-title">Nome do Evento</h3>
    <article class="event-infoo">
        <article class="event-flex-small">
            <img src="imagens/icon_callender.png"> 
            <p>30 de Setembro de 2024</p>
        </article>
        <article class="event-flex-small">
            <img src="imagens/icon_flag.png">
            <p>São Paulo</p>  
        </article>
    </article>
  </a>
  </section>

  <section class="event-box1">
    <a href="/evento1">
    <img src="imagens/feiras2.jpg" alt="Imagem do Evento" class="event-images">
    <h3 class="event-title">Nome do Evento</h3>
    <article class="event-infoo">
        <article class="event-flex-small">
            <img src="imagens/icon_callender.png"> 
            <p>30 de Setembro de 2024</p>
        </article>
        <article class="event-flex-small">
            <img src="imagens/icon_flag.png">
            <p>São Paulo</p>  
        </article>
    </article>
  </a>
  </section>

  <section class="event-box1">
    <a href="/evento1">
    <img src="imagens/feiras2.jpg" alt="Imagem do Evento" class="event-images">
    <h3 class="event-title">Nome do Evento</h3>
    <article class="event-infoo">
        <article class="event-flex-small">
            <img src="imagens/icon_callender.png"> 
            <p>30 de Setembro de 2024</p>
        </article>
        <article class="event-flex-small">
            <img src="imagens/icon_flag.png">
            <p>São Paulo</p>  
        </article>
    </article>
  </a>
  </section>

  <section class="event-box1">
    <a href="/evento1">
    <img src="imagens/feiras2.jpg" alt="Imagem do Evento" class="event-images">
    <h3 class="event-title">Nome do Evento</h3>
    <article class="event-infoo">
        <article class="event-flex-small">
            <img src="imagens/icon_callender.png"> 
            <p>30 de Setembro de 2024</p>
        </article>
        <article class="event-flex-small">
            <img src="imagens/icon_flag.png">
            <p>São Paulo</p>  
        </article>
    </article>
  </a>
  </section>

  <section class="event-box1">
    <a href="/evento1">
    <img src="imagens/feiras2.jpg" alt="Imagem do Evento" class="event-images">
    <h3 class="event-title">Nome do Evento</h3>
    <article class="event-infoo">
        <article class="event-flex-small">
            <img src="imagens/icon_callender.png"> 
            <p>30 de Setembro de 2024</p>
        </article>
        <article class="event-flex-small">
            <img src="imagens/icon_flag.png">
            <p>São Paulo</p>  
        </article>
    </article>
  </a>
  </section>

  <section class="event-box1">
    <a href="/evento1">
    <img src="imagens/feiras2.jpg" alt="Imagem do Evento" class="event-images">
    <h3 class="event-title">Nome do Evento</h3>
    <article class="event-infoo">
        <article class="event-flex-small">
            <img src="imagens/icon_callender.png"> 
            <p>30 de Setembro de 2024</p>
        </article>
        <article class="event-flex-small">
            <img src="imagens/icon_flag.png">
            <p>São Paulo</p>  
        </article>
    </article>
  </a>
  </section>

  <section class="event-box1">
    <a href="/evento1">
    <img src="imagens/feiras2.jpg" alt="Imagem do Evento" class="event-images">
    <h3 class="event-title">Nome do Evento</h3>
    <article class="event-infoo">
        <article class="event-flex-small">
            <img src="imagens/icon_callender.png"> 
            <p>30 de Setembro de 2024</p>
        </article>
        <article class="event-flex-small">
            <img src="imagens/icon_flag.png">
            <p>São Paulo</p>  
        </article>
    </article>
  </a>
  </section>

  <section class="event-box1">
    <a href="/evento1">
    <img src="imagens/feiras2.jpg" alt="Imagem do Evento" class="event-images">
    <h3 class="event-title">Nome do Evento</h3>
    <article class="event-infoo">
        <article class="event-flex-small">
            <img src="imagens/icon_callender.png"> 
            <p>30 de Setembro de 2024</p>
        </article>
        <article class="event-flex-small">
            <img src="imagens/icon_flag.png">
            <p>São Paulo</p>  
        </article>
    </article>
  </a>
  </section>

  <section class="event-box1">
    <a href="/evento1">
    <img src="imagens/feiras2.jpg" alt="Imagem do Evento" class="event-images">
    <h3 class="event-title">Nome do Evento</h3>
    <article class="event-infoo">
        <article class="event-flex-small">
            <img src="imagens/icon_callender.png"> 
            <p>30 de Setembro de 2024</p>
        </article>
        <article class="event-flex-small">
            <img src="imagens/icon_flag.png">
            <p>São Paulo</p>  
        </article>
    </article>
  </a>
  </section>

  <section class="event-box1">
    <a href="/evento1">
    <img src="imagens/feiras2.jpg" alt="Imagem do Evento" class="event-images">
    <h3 class="event-title">Nome do Evento</h3>
    <article class="event-infoo">
        <article class="event-flex-small">
            <img src="imagens/icon_callender.png"> 
            <p>30 de Setembro de 2024</p>
        </article>
        <article class="event-flex-small">
            <img src="imagens/icon_flag.png">
            <p>São Paulo</p>  
        </article>
    </article>
  </a>
  </section>
  
</main>
