<article class="events-section">
    <article class="event-box-large">
      <img src="path-to-image" alt="Imagem do Evento" class="event-image-large">
      <article class="event-info">
        <h3 class="event-title-large">Nome do Evento</h3>
        <p class="event-date-large">12.12.2024</p>
        <p class="event-details-large">Detalhes do evento...</p>
        <button class="event-button-large">Ver Evento</button>
      </article>
    </article>
    <article class="event-box-large">
      <img src="path-to-image" alt="Imagem do Evento" class="event-image-large">
      <article class="event-info">
        <h3 class="event-title-large">Nome do Evento</h3>
        <p class="event-date-large">12.12.2024</p>
        <p class="event-details-large">Detalhes do evento...</p>
        <button class="event-button-large">Ver Evento</button>
      </article>
    </article>
    <article class="event-box-large">
        <img src="path-to-image" alt="Imagem do Evento" class="event-image-large">
        <article class="event-info">
          <h3 class="event-title-large">Nome do Evento</h3>
          <p class="event-date-large">12.12.2024</p>
          <p class="event-details-large">Detalhes do evento...</p>
          <button class="event-button-large">Ver Evento</button>
        </article>
      </article>
  </article>