<article class="events-container1">
  <article class="event-box1">
    <article class="event-info1">
      <h3 class="event-title1">Nome do Evento</h3>
      <p class="event-date1">12/12/2025</p>
      <p class="event-details1">Detalhes do evento...</p>
      <button class="event-button1">Ver Evento</button>
    </article>
    <img src="imagens/feiras.png" alt="Imagem do Evento" class="event-image1">
  </article>

  <article class="event-box1">
    <article class="event-info1">
      <h3 class="event-title1">Nome do Evento</h3>
      <p class="event-date1">12/12/2025</p>
      <p class="event-details1">Detalhes do evento...</p>
      <button class="event-button1">Ver Evento</button>
    </article>
    <img src="imagens/feiras.png" alt="Imagem do Evento" class="event-image1">
  </article>

  <article class="event-box1">
    <article class="event-info1">
      <h3 class="event-title1">Nome do Evento</h3>
      <p class="event-date1">12/12/2025</p>
      <p class="event-details1">Detalhes do evento...</p>
      <button class="event-button1">Ver Evento</button>
    </article>
    <img src="imagens/feiras.png" alt="Imagem do Evento" class="event-image1">
  </article>
</article>
