<footer class="fixarRodape"> 
    <section class="Rodapé"></section>
   <h2> Conheça-nos</h2> 
   <h3> Sobre nós</h3><br>
   <h3> Comunidade</h3><br>
   
   <h2>Siga-nos</h2>
   <h3>instagram</h3>
   <h3>X</h3>
   <h3>Facebook</h3>
   <h3>Tiktok</h3>

   <h2>Deixe-nos ajudar</h2>
   <h3>Central de ajuda</h3>
   <h3>Métodos de Pagamento</h3>

    <h2>AgroBox</h2>
    <img src="imagens/logo.png" alt="Imagem do Footer">
    <p> 2023-2024 Agrocolere </p>

</footer>   