<article class="todos-produtos">
    <article class="itens-produto">
  
        <article class="box-produto">
            <a  class="link-produto" href="/produto">
            <img src="imagens/Frutas/maça.png" alt="Produto 2 Imagem de uma Maçã Fuji">
            <p class="nome-produto">Maçã Fuji (300g)</p>
            <p class="nome-vendedor"><a href="/vendedor">NomedoVendedor</a></p>
           <p class="valor-produto"><strong class="current-price">R$ 10,00</strong></p>
            <button class="botao-adicionar">ADICIONAR</button>
            </a>
        </article>
        <article class="box-produto">
            <a  class="link-produto" href="/produto">
            <img src="imagens/Frutas/laranja.png" alt="Produto 3 Imagem de uma Laranja">
            <p class="nome-produto">Laranja Lima (160g)</p>
            <p class="nome-vendedor"><a href="/vendedor">NomedoVendedor</a></p>
           <p class="valor-produto"><strong class="current-price">R$ 10,00</strong></p>
            <button class="botao-adicionar">ADICIONAR</button>
            </a>
        </article>
        <article class="box-produto">
            <a  class="link-produto" href="/produto">
            <img src="imagens/Frutas/abacaxi.png" alt="Produto 4 Imagem de um Abacaxi">
            <p class="nome-produto">Abacaxi Pérola (200g)</p>
            <p class="nome-vendedor"><a href="/vendedor">NomedoVendedor</a></p>
           <p class="valor-produto"><strong class="current-price">R$ 10,00</strong></p>
            <button class="botao-adicionar">ADICIONAR</button>
            </a>
        </article>
        <article class="box-produto">
            <a  class="link-produto" href="/produto">
            <img src="imagens/Frutas/limão-siciliano.png" alt="Produto 9 Imagem de um limão siciliano">
            <p class="nome-produto">Limão-siciliano (330g)</p>
            <p class="nome-vendedor"><a href="/vendedor">NomedoVendedor</a></p>
           <p class="valor-produto"><strong class="current-price">R$ 10,00</strong></p>
            <button class="botao-adicionar">ADICIONAR</button>
            </a>
        </article>
    </article>


    <article class="itens-produto">
       
        <article class="box-produto">
            <a  class="link-produto" href="/produto">
            <img src="imagens/Frutas/melancia.png" alt="Produto 11 Imagem de uma Melancia">
            <p class="nome-produto">Melancia (160g)</p>
            <p class="nome-vendedor"><a href="/vendedor">NomedoVendedor</a></p>
           <p class="valor-produto"><strong class="current-price">R$ 10,00</strong></p>
            <button class="botao-adicionar">ADICIONAR</button>
            </a>
        </article>
        <article class="box-produto">
            <a  class="link-produto" href="/produto">
            <img src="imagens/Frutas/banana.png" alt="Produto 13 Imagem de uma Banana">
            <p class="nome-produto">Banana Prata (130g)</p>
            <p class="nome-vendedor"><a href="/vendedor">NomedoVendedor</a></p>
            <p class="valor-produto"><strong class="current-price">R$ 10,00</strong></p>
            <button class="botao-adicionar">ADICIONAR</button>
            </a>
        </article>
        <article class="box-produto">
            <a  class="link-produto" href="/produto">
            <img src="imagens/Frutas/maça-verde.png" alt="Produto 15 Imagem de uma Maçã Verde">
            <p class="nome-produto">Maçã-Verde (250g) </p>
            <p class="nome-vendedor"><a href="/vendedor">NomedoVendedor</a></p>
            <p class="valor-produto"><strong class="current-price">R$ 10,00</strong></p>
            <button class="botao-adicionar">ADICIONAR</button>
            </a>
        </article>
        <article class="box-produto">
            <a  class="link-produto" href="/produto">
            <img src="imagens/Frutas/maracuja.png" alt="Produto 17 Imagem de um maracujá">
            <p class="nome-produto">Maracujá (130g)</p>
            <p class="nome-vendedor"><a href="/vendedor">NomedoVendedor</a></p>
            <p class="valor-produto"><strong class="current-price">R$ 10,00</strong></p>
            <button class="botao-adicionar">ADICIONAR</button>
            </a>
        </article>
    </article>

    <article class="itens-produto">
      
        <article class="box-produto">
            <a  class="link-produto" href="/produto">
            <img src="imagens/Frutas/uva-roxa.png" alt="Produto 19 Imagem de uma Uva Roxa">
            <p class="nome-produto">Uva-Roxa (250g) </p>
            <p class="nome-vendedor"><a href="/vendedor">NomedoVendedor</a></p>
            <p class="valor-produto"><strong class="current-price">R$ 10,00</strong></p>
            <button class="botao-adicionar">ADICIONAR</button>
            </a>
        </article>
        <article class="box-produto">
            <a  class="link-produto" href="/produto">
            <img src="imagens/Frutas/pepino.png" alt="Produto 20 Imagem de um Pepino">
            <p class="nome-produto">Pepino (300g)</p>
            <p class="nome-vendedor"><a href="/vendedor">NomedoVendedor</a></p>
            <p class="valor-produto"><strong class="current-price">R$ 10,00</strong></p>
            <button class="botao-adicionar">ADICIONAR</button>
            </a>
        </article>
        <article class="box-produto">
            <a  class="link-produto" href="/produto">
            <img src="imagens/Frutas/limão.png" alt="Produto 21 Imagem de um Limão">
            <p class="nome-produto">Limão (130g)</p>
            <p class="nome-vendedor"><a href="/vendedor">NomedoVendedor</a></p>
            <p class="valor-produto"><strong class="current-price">R$ 10,00</strong></p>
            <button class="botao-adicionar">ADICIONAR</button>
            </a>
        </article>
        <article class="box-produto">
            <a  class="link-produto" href="/produto">
            <img src="imagens/Frutas/morango.png" alt="Produto 23 Imagem de uma Morango">
            <p class="nome-produto">Morango (250g) </p>
            <p class="nome-vendedor"><a href="/vendedor">NomedoVendedor</a></p>
            <p class="valor-produto"><strong class="current-price">R$ 10,00</strong></p>
            <button class="botao-adicionar">ADICIONAR</button>
            </a>
        </article>
    </article>

    <article class="itens-produto">
        <article class="box-produto">
            <a  class="link-produto" href="/produto">
            <img src="imagens/Frutas/carambola.png" alt="Produto 25 Imagem de uma Carambola">
            <p class="nome-produto">Carambola (130g)</p>
            <p class="nome-vendedor"><a href="/vendedor">NomedoVendedor</a></p>
            <p class="valor-produto"><strong class="current-price">R$ 10,00</strong></p>
            <button class="botao-adicionar">ADICIONAR</button>
            </a>
        </article>
        <article class="box-produto">
            <a  class="link-produto" href="/produto">
            <img src="imagens/Frutas/uva-verde.png" alt="Produto 26 Imagem de uma Uva Verde">
            <p class="nome-produto">Uva-Verde (150g)</p>
            <p class="nome-vendedor"><a href="/vendedor">NomedoVendedor</a></p>
           <p class="valor-produto"><strong class="current-price">R$ 10,00</strong></p>
            <button class="botao-adicionar">ADICIONAR</button>
            </a>
        </article>
        <article class="box-produto">
            <a  class="link-produto" href="/produto">
            <img src="imagens/Frutas/goiaba.png" alt="Produto 27 Imagem de uma Goiaba">
            <p class="nome-produto">Goiaba (250g) </p>
            <p class="nome-vendedor"><a href="/vendedor">NomedoVendedor</a></p>
            <p class="valor-produto"><strong class="current-price">R$ 10,00</strong></p>
            <button class="botao-adicionar">ADICIONAR</button>
            </a>
        </article>
        <article class="box-produto">
            <a  class="link-produto" href="/produto">
            <img src="imagens/Frutas/melao-sapo.png" alt="Produto 45 Imagem de um Melão-Sapo">
            <p class="nome-produto">Melão-Sapo (130g)</p>
            <p class="nome-vendedor"><a href="/vendedor">NomedoVendedor</a></p>
            <p class="valor-produto"><strong class="current-price">R$ 10,00</strong></p>
            <button class="botao-adicionar">ADICIONAR</button>
        </article>
    </article>

    <article class="itens-produto">

        <article class="box-produto">
            <a  class="link-produto" href="/produto">
            <img src="imagens/Frutas/açai.png" alt="Produto 29 Imagem de um Açai">
            <p class="nome-produto">Açai (130g)</p>
            <p class="nome-vendedor"><a href="/vendedor">NomedoVendedor</a></p>
            <p class="valor-produto"><strong class="current-price">R$ 10,00</strong></p>
            <button class="botao-adicionar">ADICIONAR</button>
            </a>
        </article>
        <article class="box-produto">
            <a  class="link-produto" href="/produto">
            <img src="imagens/Frutas/acerola.png" alt="Produto 30 Imagem de uma Acerola">
            <p class="nome-produto">Acerola (150g)</p>
            <p class="nome-vendedor"><a href="/vendedor">NomedoVendedor</a></p>
           <p class="valor-produto"><strong class="current-price">R$ 10,00</strong></p>
            <button class="botao-adicionar">ADICIONAR</button>
            </a>
        </article>
        <article class="box-produto">
            <a  class="link-produto" href="/produto">
            <img src="imagens/Frutas/atemoya.png" alt="Produto 31 Imagem de uma Atemoya">
            <p class="nome-produto">Atemoya (250g) </p>
            <p class="nome-vendedor"><a href="/vendedor">NomedoVendedor</a></p>
            <p class="valor-produto"><strong class="current-price">R$ 10,00</strong></p>
            <button class="botao-adicionar">ADICIONAR</button>
            </a>
        </article>
        <article class="box-produto">
            <a  class="link-produto" href="/produto">
            <img src="imagens/Frutas/pitaya.png" alt="Produto 32 Imagem de uma Pitaya">
            <p class="nome-produto">Pitaya (300g)</p>
            <p class="nome-vendedor"><a href="/vendedor">NomedoVendedor</a></p>
            <p class="valor-produto"><strong class="current-price">R$ 10,00</strong></p>
            <button class="botao-adicionar">ADICIONAR</button>
            </a>
        </article>
    </article>

    <article class="itens-produto">

        <article class="box-produto">
            <a  class="link-produto" href="/produto">
            <img src="imagens/Frutas/abacate.png" alt="Produto 33 Imagem de um Abacate">
            <p class="nome-produto">Abacate (130g)</p>
            <p class="nome-vendedor"><a href="/vendedor">NomedoVendedor</a></p>
            <p class="valor-produto"><strong class="current-price">R$ 10,00</strong></p>
            <button class="botao-adicionar">ADICIONAR</button>
            </a>
        </article>
       
        <article class="box-produto">
            <a  class="link-produto" href="/produto">
            <img src="imagens/Frutas/mamao.png" alt="Produto 35 Imagem de uma Mamão">
            <p class="nome-produto">Mamão (250g) </p>
            <p class="nome-vendedor"><a href="/vendedor">NomedoVendedor</a></p>
            <p class="valor-produto"><strong class="current-price">R$ 10,00</strong></p>
            <button class="botao-adicionar">ADICIONAR</button>
            </a>
        </article>
        <article class="box-produto">
            <a  class="link-produto" href="/produto">
            <img src="imagens/Frutas/pimentao-verde.png" alt="Produto 36 Imagem de uma Pimentao-Verde">
            <p class="nome-produto">Pimentao-Verde(300g)</p>
            <p class="nome-vendedor"><a href="/vendedor">NomedoVendedor</a></p>
            <p class="valor-produto"><strong class="current-price">R$ 10,00</strong></p>
            <button class="botao-adicionar">ADICIONAR</button>
            </a>
        </article>
        <article class="box-produto">
            <a  class="link-produto" href="/produto">
            <img src="imagens/Frutas/kiwi.png" alt="Produto 41 Imagem de um Kiwi">
            <p class="nome-produto">Kiwi (130g)</p>
            <p class="nome-vendedor"><a href="/vendedor">NomedoVendedor</a></p>
            <p class="valor-produto"><strong class="current-price">R$ 10,00</strong></p>
            <button class="botao-adicionar">ADICIONAR</button>
            </a>
        </article>
    </article>

    <article class="itens-produto">
        
        <article class="box-produto">
            <a  class="link-produto" href="/produto">
            <img src="imagens/Frutas/pera.png" alt="Produto 43 Imagem de uma Pera">
            <p class="nome-produto">Pera (250g) </p>
            <p class="nome-vendedor"><a href="/vendedor">NomedoVendedor</a></p>
            <p class="valor-produto"><strong class="current-price">R$ 10,00</strong></p>
            <button class="botao-adicionar">ADICIONAR</button>
            </a>
        </article>
        <article class="box-produto">
            <a  class="link-produto" href="/produto">
            <img src="imagens/Frutas/mirtilo.png" alt="Produto 44 Imagem de uma Mirtilo">
            <p class="nome-produto">Mirtilo (300g)</p>
            <p class="nome-vendedor"><a href="/vendedor">NomedoVendedor</a></p>
            <p class="valor-produto"><strong class="current-price">R$ 10,00</strong></p>
            <button class="botao-adicionar">ADICIONAR</button>
            </a>
        </article>
        <article class="box-produto">
            <a  class="link-produto" href="/produto">
            <img src="imagens/Frutas/manga.png" alt="Produto 46 Imagem de uma Manga">
            <p class="nome-produto"> Manga (150g)</p>
            <p class="nome-vendedor"><a href="/vendedor">NomedoVendedor</a></p>
           <p class="valor-produto"><strong class="current-price">R$ 10,00</strong></p>
            <button class="botao-adicionar">ADICIONAR</button>
            </a>
        </article>
    </article>
    <!-- Você pode adicionar mais seções "intens-produto" aqui -->
</article>