<article class="todos-produtos">
    <article class="itens-produto">
        
        <article class="box-produto">
            <a  class="link-produto" href="/produto">
            <img src="imagens/Frutas/beterraba.png" alt="Produto 1 Imagem de uma Beterraba">
            <p class="nome-produto">Beterraba Vermelha (330g)</p>
            <p class="nome-vendedor"><a href="/vendedor">NomedoVendedor</a></p>
           <p class="valor-produto"><strong class="current-price">R$ 10,00</strong></p>
            <button class="botao-adicionar">ADICIONAR</button>
            </a>
        </article>
       
        <article class="box-produto">
            <a  class="link-produto" href="/produto">
            <img src="imagens/Frutas/cenoura.png" alt="Produto 6 Imagem de uma Cenoura">
            <p class="nome-produto">Cenoura Romance (150g)</p>
            <p class="nome-vendedor"><a href="/vendedor">NomedoVendedor</a></p>
           <p class="valor-produto"><strong class="current-price">R$ 10,00</strong></p>
            <button class="botao-adicionar">ADICIONAR</button>
            </a>
        </article>

        <article class="box-produto">
            <a  class="link-produto" href="/produto">
            <img src="imagens/Frutas/madioca.png" alt="Produto 7 Imagem de uma Mandioca">
            <p class="nome-produto">Mandioca-Mansa (250g) </p>
            <p class="nome-vendedor"><a href="/vendedor">NomedoVendedor</a></p>
            <p class="valor-produto"><strong class="current-price">R$ 10,00</strong></p>
            <button class="botao-adicionar">ADICIONAR</button>
            </a>
        </article>
      
        <article class="box-produto">
            <a  class="link-produto" href="/produto">
            <img src="imagens/Frutas/pepino.png" alt="Produto 20 Imagem de um Pepino">
            <p class="nome-produto">Pepino (300g)</p>
            <p class="nome-vendedor"><a href="/vendedor">NomedoVendedor</a></p>
            <p class="valor-produto"><strong class="current-price">R$ 10,00</strong></p>
            <button class="botao-adicionar">ADICIONAR</button>
            </a>
        </article>
    </article>

    <article class="itens-produto">

        <article class="box-produto">
            <a  class="link-produto" href="/produto">
            <img src="imagens/Frutas/batata-doce-branca.png" alt="Produto 47 Imagem de uma Batata-Doce-Branca">
            <p class="nome-produto">Batata-Doce-Branca(250g) </p>
            <p class="nome-vendedor"><a href="/vendedor">NomedoVendedor</a></p>
            <p class="valor-produto"><strong class="current-price">R$ 10,00</strong></p>
            <button class="botao-adicionar">ADICIONAR</button>
            </a>
        </article>
        
    </article>
    <!-- Você pode adicionar mais seções "intens-produto" aqui -->
</article>