<link rel="stylesheet" href="css/chat.css">

<button id="toggleButton" class="open-chat-btn">Chat</button>
<section id="Chat" class="hidden">
<section class="container-chat">
    <header class="chat-header">
      <h1 class="title-chat">Chat</h1>
    </header>
    <main class="chat-main">
      <section class="contact-list">
        <ul>
          <li><img src="imagens/contato.svg" alt=""><p>Igona</p></li>
          <li><img src="imagens/contato.svg" alt=""><p>Travis Scott</p></li>
          <li><img src="imagens/contato.svg" alt=""><p>Amandinha</p></li>
          <li><img src="imagens/contato.svg" alt=""><p>Best</p></li>
          <li><img src="imagens/contato.svg" alt=""><p>Ademiro</p></li>
          <li><img src="imagens/contato.svg" alt=""><p>Bebel</p></li>
          <li><img src="imagens/contato.svg" alt=""><p>Camy</p></li>
          <li><img src="imagens/contato.svg" alt=""><p>isa</p></li>
        </ul>
      </section>
      <section class="chats">
      </section>
    </main>
    <section class="chat-input">
      <input class="chat-texto" type="text" placeholder="Digite sua mensagem..." />
      <button><img class="imagem-botao" src="imagens/normal_u105.svg" alt=""></button>
    </section>
  </section>
</section>
  <script src="js/chat.js"> </script>