    
 
    <link rel="stylesheet" href=" https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>  
    <link rel="stylesheet" href="css/home.css">
    <script async src="js/navbar.js"> </script>

<section class="navbar-tudo">

    <nav class="navbar">

          <!-- Logo AgroBox -->
           
        <section class="logo">
            <a href="/home">
            <img src="imagens/logo.png" alt="Logo da AgroBox, 4 folhas com cores verde e marrom.">
            </a>
        </section>
        
        <!-- Barra de Pesquisa --> 

        <section class="barradepesquisa">
            <input type="text" class="barra-texto-pesquisa" placeholder="Busque pela AgroBox">
            <a hrfe="#" class="botao-pesquisa"> 
            <img src="imagens/lupa.png" alt="icone de uma lupa"> 
            </a>
        </section>

         <!-- Botão Login e Cadastro/Perfil -->

         <section class="perfil">
            <a href="/login">
            <img src="imagens/icon_conta.png" alt="Icone de usuario">
            <a class="text-perfil" href="/login"> Minha Conta </a>
            </a>
        </section>

        <!-- Botão Carrinho -->

        <section class="carrinho">
            <a href="/carrinho">
            <img src="imagens/carrinho.png" alt="Icone de carrinho de compras">
            <span id="cart-count" class="cart-count" >0</span> 
            <a class="text-carrinho" href="/carrinho"> Carrinho </a>
            </a>
        </section>

        <!-- Botão Menu Responsivo Mobile -->

        <article class="mobile-menu-icon">
            <button onclick="menuShow()">  <label class="checkbtn"> <i class="fas fa-bars"> </i> </label> </button>  
        </article>
        
    </nav>

        <article class="mobile-menu">   
            <ul class="mobile-links">
                <li class="mobile-list"> <a href="/home"    class="mobile-link"> Início </a> </li>
                <li class="mobile-list"> <a href="/produtos"class="mobile-link"> Produtos </a> </li>
                <li class="mobile-list"> <a href="/box"     class="mobile-link"> Box</a> </li>
                <li class="mobile-list"> <a href="/premium" class="mobile-link">Premium</a> </li>
                <li class="mobile-list"> <a href="/eventos" class="mobile-link">Eventos</a> </li>
            </ul>
        </article>


                <!-- SUB NAVE-->

        <main class="subnav">

            <ul class="links">
                <li> <a id="link-home" href="/"> Início </a> </li>
                <li class="subnav-list"> 
                <a id="link-produtos" class="produtos" href="/produtos"> Produtos </a> 
    
            <section class="dropdown-menu">
                <a href="/legumes"> Legumes </a>
                <a href="/verduras"> Verduras </a>  
                <a href="/frutas"> Frutas </a>
                <a href="/cereais"> Cereais </a>
                <a href="/laticionios"> Latiocínios </a>
                <a href="/suplementos"> Suplementos </a>
                <a href="/graos"> Grãos </a>
                <a href="/chas"> Chás </a>
                <a href="/proteinas"> Proteínas </a>
            </section>
                </li>
                
                <li> <a id="link-box" href="/box">Box</a> </li>
                <li> <a id="link-premium" href="/premium">Premium</a> </li>
                <li> <a id="link-eventos" href="/eventos">Eventos</a> </li>
            </ul>

                    
    </main>
</section>