
<nav class="navbar">

        <!-- Logo AgroBox -->

        <section class="logo">
            <a href="home">
            <img src="imagens/Logo.png" alt="Logo da AgroBox, 4 folhas com cores verde e marrom.">
            </a>
        </section>
        
        <!-- Barra de Pesquisa --> 

        <section class="barradepesquisa">
            <input type="text" class="barra-texto-pesquisa" placeholder="Busque pela AgroBox">
            <a hrfe="#" class="botao-pesquisa"> 
            <img src="imagens/lupa.png" alt="icone de uma lupa"> 
            </a>
        </section>

   
    <!-- Botão Carrinho -->

        <section class="compra">
            <a class="entrar" href="pagina2.html">
            <img src="imagens/Carrinho.png" alt="Icone de usuario" >
            </a>
            <span> Carrinho </span>
        </section>

         <!-- Botão Login e Cadastro/Perfil -->

         <section class="entrar">
            <a class="entrar" href="pagina3.html">
            <img src="imagens/icon_conta.png" alt="Icone de usuario">
            <span> Minha conta </span>
            </a>
        </section>

    </nav>


                <!-- SUB NAVE-->

                
<section class="subnav">

    <ul class="subnav-list">
        <li> <a href="#">Início </a> </li>
        <a href="">Produtos</a>

    <section class="dropdown-menu">
        <a href="#">Legumes</a>
        <a href="#">Verduras</a>
        <a href="#">Frutas</a>
        <a href="#">Cereais</a>
        <a href="#">Latiocínios</a>
        <a href="#">Suplementos</a>
        <a href="#">Grãos</a>
        <a href="#">Chás</a>
        <a href="#">Proteínas</a>
    </section>

        </li>
        <li> <a href="#">Premium</a> </li>
        <li> <a href="#">Promoções</a> </li>
        <li> <a href="#">Eventos</a> </li>
    </ul>
    
</section>

