<div class="todos-produtos">
    <div class="intens-produto">
        <div class="box-produto">
            <img src="imagens/beterraba.png" alt="Produto 1">
            <p class="nome-produto">Produto 1</p>
            <p class="nome-vendedor">Vendedor 1</p>
            <p class="valor-produto">R$ 100,00</p>
            <button class="botao-adicionar">Adicionar</button>
        </div>
        <div class="box-produto">
            <img src="imagens/maça.png" alt="Produto 2">
            <p class="nome-produto">Produto 2</p>
            <p class="nome-vendedor">Vendedor 2</p>
            <p class="valor-produto">R$ 200,00</p>
            <button class="botao-adicionar">Adicionar</button>
        </div>
        <div class="box-produto">
            <img src="imagens/laranja.png" alt="Produto 3">
            <p class="nome-produto">Produto 3</p>
            <p class="nome-vendedor">Vendedor 3</p>
            <p class="valor-produto">R$ 300,00</p>
            <button class="botao-adicionar">Adicionar</button>
        </div>
        <div class="box-produto">
            <img src="imagens/abacaxi.png" alt="Produto 4">
            <p class="nome-produto">Produto 4</p>
            <p class="nome-vendedor">Vendedor 4</p>
            <p class="valor-produto">R$ 400,00</p>
            <button class="botao-adicionar">Adicionar</button>
        </div>
    </div>
    <!-- Você pode adicionar mais seções "intens-produto" aqui -->
</div>