<article class="todos-produtos">
    <article class="itens-produto">
        <article class="box-produto">
            <img src="imagens/beterraba.png" alt="Produto 1 Imagem de uma Beterraba">
            <p class="nome-produto">Beterraba Vermelha (330g)</p>
            <p class="nome-vendedor">NomedoVendedor</p>
            <p class="valor-produto">R$ 00,00</p>
            <button class="botao-adicionar">ADICIONAR</button>
        </article>
        <article class="box-produto">
            <img src="imagens/maça.png" alt="Produto 2 Imagem de uma Maçã Fuji">
            <p class="nome-produto">Maçã Fuji (300g)</p>
            <p class="nome-vendedor">NomedoVendedor</p>
            <p class="valor-produto">R$ 00,00</p>
            <button class="botao-adicionar">ADICIONAR</button>
        </article>
        <article class="box-produto">
            <img src="imagens/laranja.png" alt="Produto 3 Imagem de uma Laranja">
            <p class="nome-produto">Laranja Lima (160g)</p>
            <p class="nome-vendedor">NomedoVendedor</p>
            <p class="valor-produto">R$ 00,00</p>
            <button class="botao-adicionar">ADICIONAR</button>
        </article>
        <article class="box-produto">
            <img src="imagens/abacaxi.png" alt="Produto 4 Imagem de um Abacaxi">
            <p class="nome-produto">Abacaxi Pérola (200g)</p>
            <p class="nome-vendedor">NomedoVendedor</p>
            <p class="valor-produto">R$ 00,00</p>
            <button class="botao-adicionar">ADICIONAR</button>
        </article>
    </article>

    <article class="itens-produto">
        <article class="box-produto">
            <img src="imagens/batata.png" alt="Produto 5 Imagem de uma Batata">
            <p class="nome-produto">Batata Inglesa(130g)</p>
            <p class="nome-vendedor">NomedoVendedor</p>
            <p class="valor-produto">R$00,00</p>
            <button class="botao-adicionar">ADICIONAR</button>
        </article>
        <article class="box-produto">
            <img src="imagens/cenoura.png" alt="Produto 6 Imagem de uma Cenoura">
            <p class="nome-produto">Cenoura Romance (150g)</p>
            <p class="nome-vendedor">NomedoVendedor</p>
            <p class="valor-produto">R$ 00,00</p>
            <button class="botao-adicionar">ADICIONAR</button>
        </article>
        <article class="box-produto">
            <img src="imagens/madioca.png" alt="Produto 7 Imagem de uma Mandioca">
            <p class="nome-produto">Mandioca-Mansa (250g) </p>
            <p class="nome-vendedor">NomedoVendedor</p>
            <p class="valor-produto">R$00,00</p>
            <button class="botao-adicionar">ADICIONAR</button>
        </article>
        <article class="box-produto">
            <img src="imagens/brocolis.png" alt="Produto 8 Imagem de um Brocolis">
            <p class="nome-produto">Brocólis Ninja (300g)</p>
            <p class="nome-vendedor">NomedoVendedor</p>
            <p class="valor-produto">R$00,00</p>
            <button class="botao-adicionar">ADICIONAR</button>
        </article>
    </article>

    <article class="itens-produto">
        <article class="box-produto">
            <img src="imagens/beterraba.png" alt="Produto 1 Imagem de uma Beterraba">
            <p class="nome-produto">Beterraba Vermelha (330g)</p>
            <p class="nome-vendedor">NomedoVendedor</p>
            <p class="valor-produto">R$ 00,00</p>
            <button class="botao-adicionar">ADICIONAR</button>
        </article>
        <article class="box-produto">
            <img src="imagens/maça.png" alt="Produto 2 Imagem de uma Maçã Fuji">
            <p class="nome-produto">Maçã Fuji (300g)</p>
            <p class="nome-vendedor">NomedoVendedor</p>
            <p class="valor-produto">R$ 00,00</p>
            <button class="botao-adicionar">ADICIONAR</button>
        </article>
        <article class="box-produto">
            <img src="imagens/laranja.png" alt="Produto 3 Imagem de uma Laranja">
            <p class="nome-produto">Laranja Lima (160g)</p>
            <p class="nome-vendedor">NomedoVendedor</p>
            <p class="valor-produto">R$ 00,00</p>
            <button class="botao-adicionar">ADICIONAR</button>
        </article>
        <article class="box-produto">
            <img src="imagens/abacaxi.png" alt="Produto 4 Imagem de um Abacaxi">
            <p class="nome-produto">Abacaxi Pérola (200g)</p>
            <p class="nome-vendedor">NomedoVendedor</p>
            <p class="valor-produto">R$ 00,00</p>
            <button class="botao-adicionar">ADICIONAR</button>
        </article>
    </article>
    <article class="itens-produto">
        <article class="box-produto">
            <img src="imagens/batata.png" alt="Produto 5 Imagem de uma Batata">
            <p class="nome-produto">Batata Inglesa(130g)</p>
            <p class="nome-vendedor">NomedoVendedor</p>
            <p class="valor-produto">R$00,00</p>
            <button class="botao-adicionar">ADICIONAR</button>
        </article>
        <article class="box-produto">
            <img src="imagens/cenoura.png" alt="Produto 6 Imagem de uma Cenoura">
            <p class="nome-produto">Cenoura Romance (150g)</p>
            <p class="nome-vendedor">NomedoVendedor</p>
            <p class="valor-produto">R$ 00,00</p>
            <button class="botao-adicionar">ADICIONAR</button>
        </article>
        <article class="box-produto">
            <img src="imagens/madioca.png" alt="Produto 7 Imagem de uma Mandioca">
            <p class="nome-produto">Mandioca-Mansa (250g) </p>
            <p class="nome-vendedor">NomedoVendedor</p>
            <p class="valor-produto">R$00,00</p>
            <button class="botao-adicionar">ADICIONAR</button>
        </article>
        <article class="box-produto">
            <img src="imagens/brocolis.png" alt="Produto 8 Imagem de um Brocolis">
            <p class="nome-produto">Brocólis Ninja (300g)</p>
            <p class="nome-vendedor">NomedoVendedor</p>
            <p class="valor-produto">R$00,00</p>
            <button class="botao-adicionar">ADICIONAR</button>
        </article>
    </article>
    <!-- Você pode adicionar mais seções "intens-produto" aqui -->
</article>