<article class="todos-produtos">
    <article class="itens-produto">

        
        <article class="box-produto">
            <a  class="link-produto" href="/produto">
            <img src="imagens/Frutas/agriao.png" alt="Produto 48 Imagem de um Agrião">
            <p class="nome-produto">Agrião (300g)</p>
            <p class="nome-vendedor"><a href="/vendedor">NomedoVendedor</a></p>
            <p class="valor-produto"><strong class="current-price">R$ 10,00</strong></p>
            <button class="botao-adicionar">ADICIONAR</button>
            </a>
        </article>
        <article class="box-produto">
            <a  class="link-produto" href="/produto">
            <img src="imagens/Frutas/cenoura.png" alt="Produto 6 Imagem de uma Cenoura">
            <p class="nome-produto">Cenoura Romance (150g)</p>
            <p class="nome-vendedor"><a href="/vendedor">NomedoVendedor</a></p>
           <p class="valor-produto"><strong class="current-price">R$ 10,00</strong></p>
            <button class="botao-adicionar">ADICIONAR</button>
            </a>
        </article>
        <article class="box-produto">
            <a  class="link-produto" href="/produto">
            <img src="imagens/Frutas/brocolis.png" alt="Produto 8 Imagem de um Brocolis">
            <p class="nome-produto">Brocólis Ninja (300g)</p>
            <p class="nome-vendedor"><a href="/vendedor">NomedoVendedor</a></p>
            <p class="valor-produto"><strong class="current-price">R$ 10,00</strong></p>
            <button class="botao-adicionar">ADICIONAR</button>
            </a>
        </article>
        <article class="box-produto">
            <a  class="link-produto" href="/produto">
            <img src="imagens/Frutas/couve.png" alt="Produto 10 Imagem de uma Couve">
            <p class="nome-produto">Couve-Manteiga (300g)</p>
            <p class="nome-vendedor"><a href="/vendedor">NomedoVendedor</a></p>
           <p class="valor-produto"><strong class="current-price">R$ 10,00</strong></p>
            <button class="botao-adicionar">ADICIONAR</button>
            </a>
        </article>
    </article>

    <article class="itens-produto">
        <article class="box-produto">
            <a  class="link-produto" href="/produto">
            <img src="imagens/Frutas/alface.png" alt="Produto 16 Imagem de um Alface">
            <p class="nome-produto">Alface (300g)</p>
            <p class="nome-vendedor"><a href="/vendedor">NomedoVendedor</a></p>
            <p class="valor-produto"><strong class="current-price">R$ 10,00</strong></p>
            <button class="botao-adicionar">ADICIONAR</button>
            </a>
        </article>
        <article class="box-produto">
            <a  class="link-produto" href="/produto">
            <img src="imagens/Frutas/pepino.png" alt="Produto 20 Imagem de um Pepino">
            <p class="nome-produto">Pepino (300g)</p>
            <p class="nome-vendedor"><a href="/vendedor">NomedoVendedor</a></p>
            <p class="valor-produto"><strong class="current-price">R$ 10,00</strong></p>
            <button class="botao-adicionar">ADICIONAR</button>
            </a>
        </article>
        <article class="box-produto">
            <a  class="link-produto" href="/produto">
            <img src="imagens/Frutas/milho.png" alt="Produto 22 Imagem de um Milho">
            <p class="nome-produto">Milho-Verde Orgânico (150g)</p>
            <p class="nome-vendedor"><a href="/vendedor">NomedoVendedor</a></p>
           <p class="valor-produto"><strong class="current-price">R$ 10,00</strong></p>
            <button class="botao-adicionar">ADICIONAR</button>
            </a>
        </article>
        <article class="box-produto">
            <a  class="link-produto" href="/produto">
            <img src="imagens/Frutas/batata-doce-branca.png" alt="Produto 47 Imagem de uma Batata-Doce-Branca">
            <p class="nome-produto">Batata-Doce-Branca(250g) </p>
            <p class="nome-vendedor"><a href="/vendedor">NomedoVendedor</a></p>
            <p class="valor-produto"><strong class="current-price">R$ 10,00</strong></p>
            <button class="botao-adicionar">ADICIONAR</button>
            </a>
        </article>

    </article>

    <article class="itens-produto">
       
        <article class="box-produto">
            <a  class="link-produto" href="/produto">
            <img src="imagens/Frutas/erva-doce.png" alt="Produto 24 Imagem de um punhado de Erva-Doce">
            <p class="nome-produto">Erva-Doce (300g)</p>
            <p class="nome-vendedor"><a href="/vendedor">NomedoVendedor</a></p>
            <p class="valor-produto"><strong class="current-price">R$ 10,00</strong></p>
            <button class="botao-adicionar">ADICIONAR</button>
            </a>
        </article>
        <article class="box-produto">
            <a  class="link-produto" href="/produto">
            <img src="imagens/Frutas/manjericao.png" alt="Produto 28 Imagem de um Manjericao">
            <p class="nome-produto">Manjericao (300g)</p>
            <p class="nome-vendedor"><a href="/vendedor">NomedoVendedor</a></p>
            <p class="valor-produto"><strong class="current-price">R$ 10,00</strong></p>
            <button class="botao-adicionar">ADICIONAR</button>
            </a>
        </article>
        <article class="box-produto">
            <a  class="link-produto" href="/produto">
            <img src="imagens/Frutas/hortela.png" alt="Produto 34 Imagem de uma Hortela">
            <p class="nome-produto">Hortelã (150g)</p>
            <p class="nome-vendedor"><a href="/vendedor">NomedoVendedor</a></p>
           <p class="valor-produto"><strong class="current-price">R$ 10,00</strong></p>
            <button class="botao-adicionar">ADICIONAR</button>
            </a>
        </article>
        <article class="box-produto">
            <a  class="link-produto" href="/produto">
            <img src="imagens/Frutas/couve-flor.png" alt="Produto 42 Imagem de uma Couve-Flor">
            <p class="nome-produto">Couve-Flor (150g)</p>
            <p class="nome-vendedor"><a href="/vendedor">NomedoVendedor</a></p>
           <p class="valor-produto"><strong class="current-price">R$ 10,00</strong></p>
            <button class="botao-adicionar">ADICIONAR</button>
            </a>
        </article>
    </article>

    <article class="itens-produto">
    
        <article class="box-produto">
            <a  class="link-produto" href="/produto">
            <img src="imagens/Frutas/pimentao-verde.png" alt="Produto 36 Imagem de uma Pimentao-Verde">
            <p class="nome-produto">Pimentao-Verde(300g)</p>
            <p class="nome-vendedor"><a href="/vendedor">NomedoVendedor</a></p>
            <p class="valor-produto"><strong class="current-price">R$ 10,00</strong></p>
            <button class="botao-adicionar">ADICIONAR</button>
            </a>
        </article>
        <article class="box-produto">
            <a  class="link-produto" href="/produto">
            <img src="imagens/Frutas/pimentao-vermelho.png" alt="Produto 37 Imagem de um Pimentao-Vermelho">
            <p class="nome-produto">Pimentao-Vermelho (130g)</p>
            <p class="nome-vendedor"><a href="/vendedor">NomedoVendedor</a></p>
            <p class="valor-produto"><strong class="current-price">R$ 10,00</strong></p>
            <button class="botao-adicionar">ADICIONAR</button>
            </a>
        </article>
        <article class="box-produto">
            <a  class="link-produto" href="/produto">
            <img src="imagens/Frutas/pimentao-amarelo.png" alt="Produto 38 Imagem de uma Pimentao-Amarelo">
            <p class="nome-produto">Pimentao-Amarelo (150g)</p>
            <p class="nome-vendedor"><a href="/vendedor">NomedoVendedor</a></p>
           <p class="valor-produto"><strong class="current-price">R$ 10,00</strong></p>
            <button class="botao-adicionar">ADICIONAR</button>
            </a>
        </article>
        <article class="box-produto">
            <a  class="link-produto" href="/produto">
            <img src="imagens/Frutas/salsa.png" alt="Produto 39 Imagem de uma Salsa">
            <p class="nome-produto">Salsa (250g) </p>
            <p class="nome-vendedor"><a href="/vendedor">NomedoVendedor</a></p>
            <p class="valor-produto"><strong class="current-price">R$ 10,00</strong></p>
            <button class="botao-adicionar">ADICIONAR</button>
            </a>
        </article>
    </article>

    <article class="itens-produto">
        <article class="box-produto">
            <a  class="link-produto" href="/produto">
            <img src="imagens/Frutas/repolho.png" alt="Produto 40 Imagem de uma Repolho">
            <p class="nome-produto">Repolho (300g)</p>
            <p class="nome-vendedor"><a href="/vendedor">NomedoVendedor</a></p>
            <p class="valor-produto"><strong class="current-price">R$ 10,00</strong></p>
            <button class="botao-adicionar">ADICIONAR</button>
            </a>
        </article>
        
        
    </article>

    <!-- Você pode adicionar mais seções "intens-produto" aqui -->
</article>