
      /* BANNER PROMOÇÃO ASSINATURA PREMIUM */

:root {
  --backgroundcolor: #FCF2E6;
  --corprincipal: #5AA504;
  --cortexto: rgb(255, 255, 255);
  --fonteprincipal: "Montserrat", sans-serif;
  --verdeescuro: #006837;
  --branco: #FFFFFF;
  --laranja: #E68A00;
  --marrom: #493A31;
  --corlayouts: #f2f2f2;
}

.agro-assinatura {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #056934; /* Cor de fundo verde */
  color: white;
  margin-top: 70px;
}

.agro-content {
  margin-left: 150px;  
  max-width: 60%; /* Limita o espaço ocupado pelo texto */
}

.agro-content h1 {
  font-size: 3.0em;
  font-weight: bold;
  margin-bottom: 30px;
 
}

.agro-content h1 strong {
  color: var(--laranja);  /* Cor verde diferente para a palavra Agro+ */
}

.agro-content ul {
  list-style-type: disc; /* Bolinhas antes dos itens */
  padding-left: 50px;
}

.agro-content ul li {
  margin-bottom: 5  px; /* Espaçamento entre as linhas */
  font-size: 1.35em;
}

.agro-imagem {
  display: flex;
  margin-right: 150px;
}

.agro-imagem img {  
  max-width: 400px;
   height: auto;
   max-height: auto;
  object-fit: contain;
}



    /*  SOBRE AGROBOX  */


.sobre-agrobox {
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #056934; /* Cor de fundo verde */
  padding: 20px;
  margin-top: 50px;
  margin-bottom: 120px;
  color: white;
}

.content-Agrobox {
  
  padding-left: 100px;
  max-width: 60%; /* Limita o espaço ocupado pelo texto */
  letter-spacing: 1px;
  line-height: 1.5;
}

.content-Agrobox h1 {
  font-size: 2.5em;
  font-weight: bold;
  margin-bottom: 30px;
  
}

.content-Agrobox h1 strong {
  color: var(--corprincipal); /* Cor verde diferente para a palavra Agro+ */
}

.content-Agrobox ul {
  list-style-type: disc; /* Bolinhas antes dos itens */
  padding-left: 150px;
  
}

.content-Agrobox ul li {
  margin-bottom: 5px; /* Espaçamento entre as linhas */
  font-size: 1.35em;
}

.agrobox-imagem {
  margin-right: 150px;  
}

.agrobox-imagem img {
  width: 100%;
  height: auto;
  border-radius: 15px;
}
      
.message-button-agrobox {
  margin-top: 10px;
  font-size: 18px;
  padding: 10px 35px;
  color:  #71b21e;
  border-radius: 6px;
  font-weight: 500;
  cursor: pointer;
  border: 1px solid transparent;
  transition: 0.2s ease;
}

 .message-button-agrobox.message-button-agrobox:hover{
  background: #308467;
 
  color: var(--cortexto);
}

