
      /* BANNER PROMOÇÃO ASSINATURA PREMIUM */

:root {
  --backgroundcolor: #FCF2E6;
  --corprincipal: #5AA504;
  --cortexto: rgb(255, 255, 255);
  --fonteprincipal: "Montserrat", sans-serif;
  --verdeescuro: #006837;
  --branco: #FFFFFF;
  --laranja: #f1a532;
  --marrom: #493A31;
  --corlayouts: #f2f2f2;
}

.agro-assinatura {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #056934; /* Cor de fundo verde */
  color: white;
  margin-top: 70px;
}

.agro-content {
  margin-left: 200px;  
  max-width: 60%; /* Limita o espaço ocupado pelo texto */
}

.agro-content h1 {
  margin-top: 30px;
  font-size: 3.7em;
  font-weight: 700;
  margin-bottom: 30px;
}

.agroMobileText{
  display: none;
}

.laranjaText{
  color: var(--laranja);  /* Cor verde diferente para a palavra Agro+ */
}

.verdeText{
  color: var(--corprincipal);
}

.agro-content ul {
 
  list-style-type: disc; /* Bolinhas antes dos itens */
  padding-left: 50px;
}

.agro-content ul li {
  margin-bottom: 10px;
  font-size: 1.7em;
}

.agro-imagem {
  display: flex;
  margin-right: 150px;
}

.agro-imagem img {  
  max-width: 600px;
  height: 100%;
  object-fit: contain;
  outline: none;
  display: block;
  object-fit: contain; 
}



    /*  SOBRE AGROBOX  */


.sobre-agrobox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #056934; /* Cor de fundo verde */
  padding: 20px;
  margin-top: 50px;
  margin-bottom: 120px;
  color: white;
}

.content-Agrobox {
  padding-left: 100px;
  max-width: 60%; /* Limita o espaço ocupado pelo texto */
  letter-spacing: 1px;
  line-height: 1.5;
}

.content-Agrobox h1 {
  font-size: 3em;
  font-weight: bold;
  margin-bottom: 20px;
}

.content-Agrobox h1 strong {
  color: var(--corprincipal); /* Cor verde diferente para a palavra Agro+ */
}

.content-Agrobox p {
  margin-bottom: 25 px; /* Espaçamento entre as linhas */
  font-size: 1.4em;
}

.agrobox-imagem {
  margin-right: 120px;  
}

.agrobox-imagem img {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 700px;
  height: auto;
  border-radius: 21px;
}
      
.message-button-agrobox {
  margin-top: 10px;
  font-size: 20px;
  padding: 10px 35px;
  color:  #71b21e;
  border-radius: 6px;
  font-weight: 500;
  cursor: pointer;
  border: 1px solid transparent;
  transition: 0.2s ease;
}

 .message-button-agrobox.message-button-agrobox:hover{
  background: #308467;
  color: var(--cortexto);
}

.message-button-agrobox1 {
  margin-top: 20px;
  margin-left: 55px;
  font-size: 20px;
  padding: 15px 55px;
  color:  #71b21e;
  border-radius: 18px;
  font-weight: 500;
  cursor: pointer;
  border: 1px solid transparent;
  transition: 0.2s ease;
  margin-bottom: 60px;
}

 .message-button-agrobox1.message-button-agrobox1:hover{
  background: #308467;
  color: var(--cortexto);
}
