/* primeiro banner box */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.titulo-box {
    width: 476px;
    background-color: rgba(255, 255, 255, 0);
    font-family: "Cooper Black", "Cooper", sans-serif;
    font-weight: 900;
    color: #006837;
    text-align: left;
    line-height: 79px;
    letter-spacing: 8px;
    font-size: 73px;
    padding-left: 20px;
} 

.descricao-box {
    width: 417px;
    background-color: rgba(255, 255, 255, 0);
    font-family: "Montserrat SemiBold", "Montserrat", sans-serif;
    font-weight: 600;
    color: #333333;
    text-align: left;
    font-size: 17px;
    margin-top: 10px; /* Ajuste de espaço entre título e descrição */
    padding-left: 20px;
}

.imagem-primeiro-box img {
    max-width: 700px;
    height: auto;
}

.primeiro-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FCF2E6;
}

.texto-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 20px;
}

.FAÇA-SUA-BOX {
    margin-top: 20px; 
    width: 140px;
    height: 40px;
    padding: 2px 2px 2px 2px;
    border-radius: 5px;
    background-color: #006837;
    box-sizing: border-box;
    font-family: "Montserrat SemiBold", "Montserrat", sans-serif;
    font-weight: 600;
    color: #ffffff;
    text-align: center;
    line-height: normal;
    align-self: flex-start;
}

.segundo-box {
    
    padding: 60px;
    background-color: #006837;
    box-sizing: border-box;
    display: flex; /* Alinha os itens em linha */
    align-items: center; /* Alinha verticalmente no centro */
    justify-content: center; /* Centraliza os itens */
}

.imagem-segundo-box {
    width: 616px;
    height: 420px;
    box-sizing: border-box;
    margin-right: 100px; /* Espaço entre a imagem e a descrição */
}

.imagem-segundo-box img {
    width: 100%; /* Ajusta a imagem para caber no contêiner */
    height: auto; /* Mantém a proporção da imagem */
}

.descricao-box2 {
    width: 474px;
    background-color: rgba(255, 255, 255, 0);
    box-sizing: border-box;
    font-family: "Montserrat SemiBold", "Montserrat", sans-serif;
    font-weight: 600;
    color: #ffffff;
    text-align: left;
    line-height: 25px;
    letter-spacing: 0.3px;
}

/* primeiro e segundo box */

.ambos-box {
    margin: 0;
    padding: 0;
}

.primeiro-box,
.segundo-box {
    margin: 0;
}
