/* primeiro banner box */

* {
    margin: 0;
    padding: 0;
}


.titulo-box {
    width: 476px;
    background-color: rgba(255, 255, 255, 0);
    font-family: "Cooper Black", "Cooper", sans-serif;
    font-weight: 900;
    color: #006837;
    text-align: left;
    line-height: 79px;
    letter-spacing: 8px;
    font-size: 73px;
    padding-left: 50px;
}


.descricao-box {
    width: 417px;
    background-color: rgba(255, 255, 255, 0);
    font-family: "Montserrat SemiBold", "Montserrat", sans-serif;
    font-weight: 600;
    color: #333333;
    text-align: left;
    font-size: 17px;
    margin-top: 10px; /* Ajuste de espaço entre título e descrição */
    padding-left: 50px;
}

.strong {
    color: #006837;
}

.imagem-primeiro-box img {
    max-width: 700px;
    height: auto;
    margin-right: 150px;
}

.primeiro-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FCF2E6;
}

.texto-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 150px;
}

.FAÇA-SUA-BOX {
    margin-top: 20px; 
    width: 140px;
    height: 40px;
    margin-left: 50px;
    border: none;
    border-radius: 5px;
    background-color: #006837;
    box-sizing: border-box;
    font-family: "Montserrat SemiBold", "Montserrat", sans-serif;
    font-weight: 600;
    color: #ffffff;
    text-align: center;
    line-height: normal;
    align-self: flex-start;
}

.segundo-box {
    
    padding: 60px;
    background-color: #006837;
    box-sizing: border-box;
    display: flex; /* Alinha os itens em linha */
    align-items: center; /* Alinha verticalmente no centro */
    justify-content: center; /* Centraliza os itens */
}

.imagem-segundo-box {
    width: 616px;
    height: 420px;
    box-sizing: border-box;
    margin-right: 100px; /* Espaço entre a imagem e a descrição */
}

.imagem-segundo-box img {
    width: 100%; /* Ajusta a imagem para caber no contêiner */
    height: auto; /* Mantém a proporção da imagem */
}

.descricao-box2 {
    width: 474px;
    background-color: rgba(255, 255, 255, 0);
    box-sizing: border-box;
    font-family: "Montserrat SemiBold", "Montserrat", sans-serif;
    font-weight: 600;
    color: #ffffff;
    text-align: left;
    line-height: 25px;
    letter-spacing: 0.3px;
}

/* terceiro box */

  .terceiro-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FCF2E6;
    padding: 150px;
    margin-bottom: 150px;
}

.titulo-terceiro-box {
    display: flex;
    font-family: "Cooper Black", "Cooper", sans-serif;
    font-weight: 900;
    color: #006837;
    text-align: center;
    letter-spacing: 8px;
    margin-bottom: 60px;
    font-size: 83px;
}

.conteudo-premium {
    display: flex;
    justify-content: center; /* Centraliza os itens horizontalmente */
    align-items: flex-start; /* Mantém os itens alinhados ao topo */
    width: 100%;
    max-width: 1000px; /* Defina uma largura máxima para a seção */
    gap: 20px; /* Adiciona um espaço fixo entre os itens */
}

.descricao-terceiro-box {
    
    font-family: "Montserrat SemiBold", "Montserrat", sans-serif;
    font-weight: 600;
    color: #493a31;
    line-height: 25px;
    letter-spacing: 0.3px;
    font-size: 22px;
    margin-right: 200px; /* Adiciona espaço entre a descrição e a caixa premium */
}

.assine-agro-premium {
    width: 65%;
    padding: 50px;
    border-radius: 47px;
    background-color: #006837;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center; /* Alinha os itens horizontalmente no centro */
}

.AGRO-PREMIUM  {
    color: #f2f2f2;
    font-size: 30px;
    padding-bottom: 30px ;
}


.assine-ja {
    cursor: pointer;
    border: none;
    width: 197px;
    height: 56px;
    padding: 2px;
    border-radius: 5px;
    background-color: #f5a83c;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    color: #f2f2f2;
    text-align: center;
    line-height: normal;
  } 

  .assine-ja:hover{
    background-color: rgba(243, 166, 22, 0.911);
    color: var(--cortexto);
    border: 2px solid var(--laranja);
  }

  .topicos-premium {
    width: 200px;
    background-color: rgba(255, 255, 255, 0);
    font-family: "Montserrat Bold", "Montserrat", sans-serif;
    font-weight: 700;
    color: #f2f2f2;
    text-align: left;
    margin-bottom: 20px; /* Espaço entre os tópicos e o preço */
}

.preco-premium {
    color: #f2f2f2;
    font-size: 30px;
    margin-bottom: 20px; /* Espaço entre o preço e o botão */
}