    /* começo carroseis */

/* carrosel 01 */

.carrosel-margin{
    
    padding: 20px;     /*margin de todo o conteúdo (bloco) */
}

.carrosel-container{
    position: relative;
    max-width: 900px;
    margin: auto;
    overflow: hidden;
    background-color:#fff;
    border-radius: 10px; /* container de todo o conteúdo */
  /* box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1); */
}

.carrosel-interno {
    display: flex;
}

.carrosel-margin .nome-fruta{
    margin-left: 300px;
    font-size: 30px;
    color:  #493a31; 
}

.carrosel-itens{
  display: grid;
  place-items: center;
  max-width: 100%;
  box-sizing: border-box;
  margin: 10px;
  line-height: 1.5;
}

.carrosel-itens img {
  max-width: 140px;
  height: auto;
  padding: 20px;
}

.desconto {
  background-color: #f5a83c;
  color: #ffffff;
  padding: 5px;
  font-size: 10px;
  position: absolute;
  top: 10px;
  left: 10px;
}

.preco{
  font-size: 19px;
  color: #006837;
  font-weight: bold;
}

.botao-add {
  display: block;
  width: 100%;
  padding: 15px;
  background-color: white;
  color: #006837;
  border: 2px solid #006837;
  font-weight: bold;
  cursor: pointer;
  border-radius: 15px;
  text-align: center;
  border: 1px solid ;
  transition: 0.2s ease;
}

.botao-add:hover{
  background: #006837;
  color: var(--cortexto);
}


.carousel-control {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #493a31;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 1;
}

.carousel-control.prev {
  left: 10px;
}

.carousel-control.next {
  right: 10px;
}

.carousel-dots {
  text-align: center;
  padding: 10px;
}

.dot {
  height: 15px;
  width: 15px;
  margin: 0 5px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
}

.dot.active {
  background-color: #2e7d32;
}