
:root {
  --backgroundcolor: #FCF2E6;
  --corprincipal: #5AA504;
  --cortexto: rgb(255, 255, 255);
  --fonteprincipal: "Montserrat", sans-serif;
  --verdeescuro: #006837;
  --branco: #FFFFFF;
  --laranja: #E68A00;
  --marrom: #493A31;
  --marromClaro: rgba(98, 78, 66, 0.99);
  --corlayouts: #f2f2f2;
}

 /*inicio css slider*/

 /*passagem dos sliders*/
 

 .slider {
  list-style-type: none; 
  position: relative;
  width: 100%;
  overflow: hidden;
 }

 .slides {
  list-style-type: none; 
  display: flex;
  transition: transform 0.5s ease-in-out;
 }

 .slide{
  list-style-type: none; 
  min-width: 100%;
  box-sizing: border-box;
 }

 /*imagens do slider*/

 .slide img {
  outline: none;
  width: 100%;
  height: 400px;
  display: block;
  object-fit: cover;
 }



/* CAROSSEL 02 FRUTAS */

.link-produto {
  display: block;
  width: 100%;
  text-decoration: none;
  color: inherit;
}

.link-vendedor {
  z-index: 1;
}

.frutas-section, .legumes-section {
  color: #333333;
  border-radius: 15px;
  max-width: 1650px;
  overflow: hidden;
  margin: auto;
}

.section-title {
  margin-top: 100px;
  margin-bottom: 15px;
  margin-left: 40px;
  font-size: 40px;
  color: #493a31;
}

.seta {
  margin: auto;
  position: relative;
}

/* containers */

.carousel-container, .carousel-container2 {
  border-radius: 15px;
  position: relative;
  max-width: 1550px;
  height: 450px;
  overflow: hidden;
  margin: auto;
}

.carousel, .carousel2 {
  gap: 17px;
  display: flex;
  transition: transform 0.6s ease-in-out;
}

.carousel-item, .carousel-item2 {
  padding: 22px;
  height: 400px;
  border-radius: 15px;
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.3);
  background-color: var(--branco);
  position: relative;
}

.carousel-item img, .carousel-item2 img {
  display: block;
  object-fit: cover;
  height: 190px;
  width: 230px;
  margin: 10px;
}

.product-info, .product-info2 {
  margin-top: 30px;
}

.product-name,.product-name2 {
  font-size: 1.1em;
  margin-bottom: 5px;
}

.seller-name, .seller-name2 {
  font-size: 1.2em;
  color: gray;
  margin-bottom: 5px;
}

.product-price {
  color: #006837;
  font-size: 1.7em;
  font-weight: bold;
  margin-bottom: 5px;
}

.desconto {
  background-color: #f5a83c;
  color: #ffffff;
  padding: 7px;
  font-size: 15px;
  margin-top: 15px;
  width: 80px;
  position: absolute;
  border-radius: 4px;
}

/* titulo de preço riscado geral */

.old-price{
  font-size: 0.88em;
  color: var(--marrom);
  font-weight: bold;
  margin-bottom: 5px;
  text-decoration: line-through;
  margin-right: 5px;
  margin-bottom: 5px;
  opacity: 0.9;
}

.current-price , .current-price2 {
  color:#006837;
}

.add-to-cart, .add-to-cart2 {
  cursor: not-allowed;
  margin-bottom: 10px;
  width: 100%;
  padding: 15px;
  background-color: var(--branco);
  color: #006837;
  border: 2px solid #006837;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
  border-radius: 12px;
  transition: 0.2s ease;
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.add-to-cart:hover, .add-to-cart2:hover  {
  background: var(--verdeescuro);
  color: var(--cortexto);
}

.carousel-control, .carousel-control2 {
  position: absolute;
  top: 50%;
  transform: translateY(50%);
  background-color: transparent;
  color: var(--marrom);
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 50%;
}

.carousel-control img, .carousel-control2 img {
  height: 25px;
  width: 25px;
}

.prev, .prev2, .PREV3{
  left: 2px;
}

.next, .next2,  .NEXT3{
  right: 10px;
}

.carousel-indicators, .carousel-indicators2 {
  text-align: center;
  margin-top: 20px;
}

.indicator, .indicator2 {
  border: none;
  width: 19px;
  height: 19px;
  background-color: rgba(81, 149, 117, 0.6);
  border-radius: 50%;
  display: inline-block;
  margin: 0 5px;
  cursor: pointer;
  transition: 0.3s ease;
}

.indicator.active, .indicator2.active {
  background-color: #519575;
}



 /* CAROSSEL 04 AGRICULTORES  */

.tituloAgro{
  position: relative;
  max-width: 1450px;
  overflow: hidden;
  margin-top: 60px;
  margin: auto;
}

.container-section{
  margin: 0 auto;
  justify-content: center;
  width: 1300px; /* Defina a largura que desejar */
  overflow: hidden; /* Oculta os itens que estão fora da área visível */
  position: relative; /* Necessário para posicionar as setas */
}

.user-name{
  margin-top: 50px;
  margin-bottom: 20px;
  margin-left: 40px;
  font-size: 40px;
  color: #493a31;
}

.carousel-conteudo3 {
  background-color: var(--branco);
  border-radius: 15px;
  position: relative;
  max-width: 1300px;
  overflow: hidden;
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.3);
  margin: auto;
}

.carousel-container3 { 
  display: flex;
  align-items: center;
  transition: transform 0.5s ease;
}

.carousel-item3 {
  display: flex;
  align-items: center;
  min-width: 100%; /* Faz com que cada item ocupe 100% da largura do contêiner */
  box-sizing: border-box;
  padding: 20px;
  text-align: center;
 
}
.farmer-details {
  text-align: left;
  display: flex;
  flex-direction: column;
}

.perfil-image3 {
  margin: 20px;
  max-width: 400px;
  height: 250px;
  width: 230px;
  max-height: auto;
  padding: 10px;
}

.user-profession {
  text-align: left;
  margin-top: 10px;
  margin-bottom: 30px;
  font-size: 1.5em;
  color: #333333;
}

.user-profession-name{
  font-size: 38px;
  font-weight: bold;
  color: var(--marrom);
}

.user-profession-emoji{
  font-size: 36px;
  font-weight: bold;
  color: yellow;
}

.user-profession-emoji strong{
  font-size: 36px;
  font-weight: bold;
  color: gray;
  opacity: 0.4;
}

.message-button {
  margin-bottom: 10px;
  width: 30%;
  padding: 13px;
  background-color:var(--branco);
  color: #006837;
  border: 2px solid #006837;
  font-weight: bold;
  font-size: 19px;
  text-align: center;
  border-radius: 12px;
  transition: 0.2s ease;
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.message-button:hover {
  background-color: var(--verdeescuro);
  color: var(--cortexto);
}

.carousel-control3 {
  position: absolute;
  top: 55%;
  transform: translateY(-50%);
  background-color: transparent;
  color: var(--marrom);
  border: none;
  padding: 10px;
  cursor: pointer;
}

.carousel-control3 img{
  height: 25px;
  width: 25px;
}

.prev3 {
  left: 30px;
}

.next3 {
  right: 30px;
}

.carousel-indicators3 {
  text-align: center;
  margin-top: 30px;
}

.indicator3 {
  border: none;
  width: 19px;
  height: 19px;
  background-color: rgba(81, 149, 117, 0.6);
  border-radius: 50%;
  display: inline-block;
  margin: 0 5px;
  cursor: pointer;  
  transition: 0.3s ease;
}

.indicator3.active {
  background-color: #519575;
}


.link-s{
  z-index: -1000;
  
}



/* Resumo Carrinho */

.cart-summary {
  position: absolute;
  top: 80px; /* Ajuste a posição vertical conforme necessário */
  right: 0; /* Ajuste a posição horizontal conforme necessário */
  margin-right: 20px;
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  width: 450px;
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.3);
  z-index: 1000;
}

 
.cart-summary p {
  color: var(--marrom);
  font-weight: 550;
  margin: 0;
  padding: 5px 0;
}

.cart-summary input[type="number"]::-webkit-inner-spin-button,
.cart-summary input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none; /* Remove a setinha */
    margin: 0; /* Remove a margem */
}



/* carrinho mais produtos etc */

.section-titleCV {
  margin-bottom: 15px;
  margin-left: 40px;
  font-size: 40px;
  color: #493a31;
}
