
:root {
    --backgroundcolor: #FCF2E6;
    --corprincipal: #5AA504;
    --cortexto: rgb(255, 255, 255);
    --fonteprincipal: "Montserrat", sans-serif;
    --verdeescuro: #006837;
    --branco: #FFFFFF;
    --laranja: #E68A00;
    --marrom: #493A31;
    --corlayouts: #f2f2f2;
  }


.container {
    display: flex;
    margin-top: 60px;
}

.sidebar {
    width: 250px;
    background-color: #FCF2E6;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.profile {
    text-align: center;
    margin-bottom: 40px;
}

.profile img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.profile h3 {
    margin: 10px 0 5px;
    font-size: 18px;
    color: #333;
}

.profile p {
    font-size: 14px;
    color: #777;
}

.menu {
    list-style-type: none;
    padding: 0;
}

.menu li {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.menu li img {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

.menu li a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
}

.menu li a:hover {
    color: #72a443;
}

.edit-icon{
    height: 30px;
    width: 30px;
    object-fit: contain;
}
/* PARTE MINHA CONTA */
/* Estilizar o container principal da página */
.page-container {
    width: 70%;
    padding: 30px;
    background-color: white;
    margin-bottom: 60px;
}

.page-container h1{
    margin-bottom: 20px;
    margin-left: 1%;
    font-size: 30px;
    color:  #72a443;
}

/* Estilizar as caixas de dados pessoais e dados de acesso */
.box-container {
    display: flex;
    justify-content: space-between;
    
}

.box-dados-pessoais, .box-dados-acesso {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
    width: 48%;
}

/* Estilizar os inputs de texto */
.input-wrapper input{
    width: calc(80%); /* Espaço reservado para o ícone */
    padding: 12px;
    margin-top: 10px;
    margin-bottom: 20px;
    border: 2px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    align-items: center;
    justify-content: center;
}

/* Estilizar os ícones de edição ao final dos inputs */
.input-wrapper {
    position: relative;
}

.input-wrapper .edit-icon {
    position: absolute;
    right: 10px;
    margin-right: 110px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

/* Alinhamento de textos e espaçamentos */
h3 {
    margin-bottom: 20px;
    font-size: 18px;
    color: var(--marrom);
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: gray;
}
