

:root {
    --corNeutra:#493a31;
    --backgroundcolor: #FCF2E6;
    --corprincipal: #5AA504;
    --cortexto: rgb(255, 255, 255);
    --fonteprincipal: "Montserrat", sans-serif;
    --verdeescuro: #006837;
    --branco: #FFFFFF;
    --laranja: #f1a532;
    --marrom: #493A31;
    --corlayouts: #f2f2f2;
}

            /* CONTA CONSUMIDOR */


.modal-content-endereco .close {
    position: absolute;
    top: 145px;
    left: 1170px;
    color: #aaa;
    font-size: 70px;
    font-weight: bold;
    cursor: pointer;;
}

.modal-content-endereco .close:hover,
.modal-content-endereco .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}    


.modal-content-cartao .close {
    position: absolute;
    top: 320px;
    left: 1190px;
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.modal-content-cartao .close:hover,
.modal-content-cartao .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}    

/* container geral */

.container {
    display: flex;
    margin-top: 60px;
    z-index: 10000;
}

/* Primeira parte conta seção icones e etc */

.sidebar {
    margin-right: 30px;
    margin-left: 70px;
    width: 250px;
    padding: 20px;
}   

.profile {
    display: flex;
    text-align: center;
    margin-bottom: 40px;
}

.profile img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.profile h3 {
    margin-top: 15px;
    margin-left: 5px;
    font-size: 18px;
    color: #333;
}

.profile h3 a{
    color: #333;
}

.profile strong {
    margin-left: 10px;
    font-weight: 600;
    opacity: 0.9;
    font-size: 14px;
    text-transform: uppercase;
    color: #777;
}

.menu {
    margin-left: 25px;
    list-style-type: none;
    padding: 0;
}

.menu li {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.menu li img {
    width: 45px;
    height: 45px;
    margin-right: 10px;
}

.menu li a {
    text-align: center;
    text-decoration: none;
    color: var(--marrom);
    font-weight: 700;
    font-size: 19px;

}

.menu li a:hover {
    color: #71b21e
}

.menu a.hover {
    color: var(--corprincipal);
}

.edit-icon{
    margin-top: 6px;
    height: 30px;
    width: 30px;
    object-fit: contain;
}

/* Segunda parte seção MINHA CONTA */


.page-container {
    width: 1260px;
    padding: 30px;
    padding-bottom: 40px;
    background-color: white;
    margin-bottom: 100px;
    box-sizing: border-box;
    box-shadow: 0px 10px 8px 0px rgba(0, 0, 0, 0.35);
}

.page-container .minhaConta h1, .produtosSection h1, .vendas h1, .avaliacoes h1, .configuracoes h1 {
    margin-bottom: 20px;
    margin-left: 20px;
    font-size: 35px;
    color:  #71b21e 
}

/* Estilizar as caixas de dados pessoais e dados de acesso */

.box-container {
    border: 1px solid rgba(121, 121, 121, 0.24);
    box-sizing: border-box;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
}

.box-dados-pessoais, .box-dados-acesso {
    padding: 30px;
    width: 48%;
}

.box-dados-acesso{
    border-left: 1px solid rgba(121, 121, 121, 0.24);
}

.input-wrapper input{
    width: calc(100% - 40px);
    padding: 12px;
    margin-top: 10px;
    border: 2px solid #ccc;
    border-radius: 8px;
    font-size: 17px;
    align-items: center;
    justify-content: center;
}

.input-wrapper {
    position: relative;
}

.input-wrapper .edit-icon {
    position: absolute;
    right: 20px;
    top: 60%;
    transform: translateY(-50%);
    cursor: pointer;

}

/* Alinhamento de textos e espaçamentos */

.box-dados-pessoais h3 {
    margin-bottom: 30px;
    font-size: 27px;
    color: var(--marrom);
    font-weight: 700;   
}

.box-dados-acesso h3{
    font-size: 27px;
    font-weight: 700;
    margin-bottom: 30px;
    color: var(--marrom);
}
.input-wrapper label {
    display: block;
    margin-top: 20px;
    font-size: 20px;
    font-weight: 450;
    color: #493a31;
    line-height: normal;
}

.botao-enviar{
    border: 2px solid var(--corlayouts);
    margin-top: 20px;
    border-radius: 8px;
    background-color: var(--marrom);
    color: var(--branco);
    font-size: 16px;
    font-weight: 570;
    height: 30px;
    width: 100px;
    cursor: pointer;    
}

.botao-enviar:hover{
    opacity: 0.7;
}

/* Validação css */

.error-message{
    margin-top: 4px;
    margin-bottom: 4px;
}

/* Segunda parte seção conta Consumidor Parte Pedidos */

.menu2{
    margin-left: 50px;
    list-style-type: none;
    display: flex;
    margin-top: 30px;
    gap: 80px;
    

}

.menu2 li{
    align-items: center;
    line-height: 20px;
}

.menu2 li a{
    color: var(--marrom);
    font-weight: 700;
}


                            /* Seção Principal */

            
.container-pedidos{
    /* height: 460px; */
    border: 1px solid rgba(121, 121, 121, 0.24);
    border-radius: 15px;
    text-align: center;
    font-size: 25px;
    text-decoration: none;
    
}

                            /* Seção Produtos Geral */
.Titulos {
    margin-bottom: 20px;
    margin-left: 20px;
    font-size: 35px;
    color:  #71b21e 
}

.produtosGeral{
    display: flex;
    justify-content: space-between; 
    font-size: 12px;
    margin-top: 10px;
}

.produto{
    margin-top: 20px;
    display: flex;
    padding: 30px; /* Espaçamento interno */
}



.information-produto {
    border-bottom: 2px solid rgba(121, 121, 121, 0.24);
    padding: 20px;
    text-align: left;
}

.information-produto img{
    height: 130px;
    width: 180px;
    display: block;
    object-fit: cover;
    margin-bottom: 10px;
}

.tittle{
    display: flex;
}


/* Titulo NomeDoVendedor */
.information-produto h1{
    font-size: 23px;
    text-align: left;
    font-weight: 600;
    color: var(--marrom);
}

/* Titulo Quantidade */
.information-produto p{
    font-size: 17px;
    font-weight: 500;
    margin-top: 6px;
    margin-bottom: 12px;
    color: var(--marrom);
}
/* Titulo Valor */
.information-produto h3{
    font-size: 17px;
    font-weight: 500;
    margin-bottom: 30px;
    color: var(--marrom);
}

.details-produtosInterior {
    gap: 60px;
    margin-left: 40px;
    margin-right: 40px;
    display: flex;
}

.details-produtos{
    border-left: 2px solid rgba(121, 121, 121, 0.24);
    border-right: 2px solid rgba(121, 121, 121, 0.24);
    border-bottom: 2px solid rgba(121, 121, 121, 0.24);
    padding: 15px;
}

/* Titulo  */
.details-produtos .tittle h1{
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 10px;
}

.details-produtos .tittle strong{
    color: var(--marrom);
    font-weight: 600;
}

.detail-produto p {
    font-weight: 320;
}

.detail-produto h3{
    font-weight: 500;
    color: var(--corprincipal);
}

.detail-produto img{
        border: 2px solid var(--corprincipal);
        border-radius: 50%;
        box-sizing: border-box;
        padding: 5px;
        margin: 5px;    
        background-color: transparent;
        height: 70px;
        width: 70px;
        display: block;
        object-fit: contain;
}

/* Não verde */
.detail-produtoP p {
   text-align: center;
    font-weight: 320;
}

.detail-produtoP h3{
    font-weight: 500;
}
.detail-produtoP img{
    border: 2px solid;
    border-radius: 50%;
    box-sizing: border-box;
    padding: 5px;
    margin: 5px;    
    background-color: transparent;
    height: 70px;
    width: 70px;
    display: block;
    object-fit: contain;
}

.connector{
    margin-top: 70px;
    width: 50px; /* Largura da barra */
    height: 5px; /* Espessura da barra */
    background-color: var(--corprincipal);/* Cor da barra */
}

.resumo-produtos{
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    text-align: left;
}

.resumo-produtos h3{
    color: var(--marrom);
    font-size: 22px;
    margin-bottom: 15px;
    margin-top: 10px;
}

.resumo-produtos p{
    margin-bottom: 10px;
    font-size: 17px;
}

.resumo-produtos strong{
    color: var(--marrom);
}

/* segundo produto do pedido 1 ("são dois produtos em um pedido") */



                            /*  Seção Cartões */

.container-cartoes{
    display: flex;
    border-radius: 15px;
    border: 1px solid rgba(121, 121, 121, 0.24);
    padding: 30px;
    gap: 50px;
    flex-wrap: wrap;
}

.container-cards{
  width: 530px;
  display: flex;
}

.btn-cartoes, .btn-endereco{
  margin-left: auto;
  width: 300px;
  height: 45px;
  background-color: var(--corprincipal);
  color: white;
  font-size: 19px;
  text-align: center;
  border-radius: 13px;
  transition: 0.2s ease;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.carton{
    display: flex;
    margin-bottom: 10px;
}


.padron{
  margin-left: 20px;
  width: 100px;
  height: 25px;
  background-color: var(--corprincipal);
  color: white;
  font-size: 16px;
  text-align: center;
  border-radius: 6px;
  transition: 0.2s ease;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.container-cartoes{
    display: flex;
}

.card-image{
  width: 221px;
}

.card-image img{
  margin: 10px;
}

.card-image p{
  font-size: 18px;
  color: var(--corprincipal);
  font-weight: 650;
}

.card-image2 p{
  font-size: 18px;
  color: var(--corprincipal);
  font-weight: 320;
}

.card-image2 img{
  display: block;
  object-fit: cover;
  margin: 5px;
  align-items: center;
  width: 200px;
  height: 150px;
}

.card-image img{
    display: block;
    object-fit: cover;
    margin: 5px;
    align-items: center;
    width: 200px;
    height: 150px;
}

.remover-card{
    display: flex;
    margin-top: 70px;
    margin-left: 75px;
    text-align: center;
    align-items: center;
}

.card2 h3{
  font-size: 24px;
  font-weight: 450;
}

.card2 p{
  font-size: 20px;
  font-weight: 300;
}

.card2 strong{
  font-size: 19px;
  font-weight: 500;
  color: var(--marrom);
}

.card2 img{
    width: 30px;
    height: 30px;
}



                  /*  Seção Endereços */


.container-enderecos{
  border-radius: 15px;
  border: 1px solid rgba(121, 121, 121, 0.24);
  border-bottom: 3px solid rgba(121, 121, 121, 0.24);
  padding: 30px; 
  display: flex;
}

.container-enderecos h1{
  font-size: 22px;
  font-weight: 400;
  color: var(--marrom);
  margin-bottom: 15px;
}

.container-enderecos h2{
  font-size: 22px;
  font-weight: 400;
  color: var(--marrom);
  margin-bottom: 5px;
}

.container-enderecos strong{

  font-size: 22px;
  font-weight: 600;
  color: var(--marrom);
}

.edition{
  text-align: right;
  padding: 20px;
  margin-left: auto;
}

.edition p{
  margin-right: 10px;
  margin-bottom: 10px;
  font-size: 18px;
  color: var(--corprincipal);
  font-weight: 700;
}

.btn-padron{
  margin-left: 20px;
  width: 230px;
  height: 30px;
  background-color: var(--corlayouts);
  color: var(--corprincipal);
  font-size: 16px;
  text-align: center;
  border-radius: 8px;
  transition: 0.2s ease;
  border: 2px solid var(--corprincipal);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.informationEnderecos{
  display: flex;
  flex-wrap: wrap;
}

.interiorEnderecos{
  margin-bottom: 50px;
}

.informationEnderecos2{
  display: flex;
  margin-bottom: 40px;
  flex-wrap: wrap;
}


/* LINK VERDE JAVASCRIPT */

.section-link.ativo {
    color: var(--corprincipal);
}

.section-link img {
    transition: all 0.3s ease;
}

/* FORMULARIO ENDERECO */

.modal-endereco {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content-endereco {
    background-color: white;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    width: 25%;
    height: 60%;
    text-align: center;
}

/* Inputs endereco */


/* * inputs cartão */ 

.nomeCompletoEndereco{
    width: 350px;
    height: 30px;
    margin: 10px;
    padding: 2px 2px 2px 10px;
    border-radius: 10px;
    border: 1px solid #493a31;
    background-color: #ffffff;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    color: #999999;
    text-align: left;
}
.bairroEndereco{
    width: 350px;
    height: 30px;
    margin: 10px;
    padding: 2px 2px 2px 10px;
    border-radius: 10px;
    border: 1px solid #493a31;
    background-color: #ffffff;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    color: #999999;
    text-align: left;
}

.RuaEndereco{
    width: 350px;
    height: 30px;
    margin: 10px;
    padding: 2px 2px 2px 10px;
    border-radius: 10px;
    border: 1px solid #493a31;
    background-color: #ffffff;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    color: #999999;
    text-align: left; 
}


.numeroTelefoneEndereco {
    width: 350px;
    height: 30px;
    margin: 10px;
    padding: 2px 2px 2px 10px;
    border-radius: 10px;
    border: 1px solid #493a31;
    background-color: #ffffff;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    color: #999999;
    text-align: left;
}

.CEPEndereco {
    width: 350px;
    height: 30px;
    margin: 10px;
    padding: 2px 2px 2px 10px;
    border-radius: 10px;
    border: 1px solid #493a31;
    background-color: #ffffff;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    color: #999999;
    text-align: left;

}

.cidadeEndereco {
    width: 350px;
    height: 30px;
    margin: 10px;
    padding: 2px 2px 2px 10px;
    border-radius: 10px;
    border: 1px solid #493a31;
    background-color: #ffffff;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    color: #999999;
    text-align: left;
}

.estadoEndereco {
    width: 350px;
    height: 30px;
    margin: 10px;
    padding: 2px 2px 2px 10px;
    border-radius: 10px;
    border: 1px solid #493a31;
    background-color: #ffffff;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    color: #999999;
    text-align: left;
}

.numeroEndereco {
    width: 350px;
    height: 30px;
    margin: 10px;
    padding: 2px 2px 2px 10px;
    border-radius: 10px;
    border: 1px solid #493a31;
    background-color: #ffffff;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    color: #999999;
    text-align: left;
}




.titulo-formulario {

    width: 218px;
    height: 18px;
    background-color: rgba(255, 255, 255, 0);
    box-sizing: border-box;
    font-family: "Montserrat Medium", "Montserrat", sans-serif;
    font-weight: 500;
    color: #493a31;
    text-align: left;
    line-height: normal;

}

.botaoadd-endereco{
    width: 140px;
    height: 40px;
    padding: 2px 2px 2px 2px;
    border-radius: 5px;
    background-color: #5aa504;
    box-sizing: border-box;
    font-family: "Montserrat Medium", "Montserrat", sans-serif;
    font-weight: 500;
    color: #f2f2f2;
    text-align: center;
    line-height: normal;
    border: none;
}


/* FORMULARIO CARTÂO  */

.modal-cartao {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content-cartao {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    width: 25%;
    height: 25%;
    text-align: center;
}

/* inputs cartão */

.numeroCartao {
    width: 350px;
    height: 30px;
    margin-top: 20px;
    padding: 2px 2px 2px 10px;
    border-radius: 10px;
    border: 1px solid #493a31;
    background-color: #ffffff;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    color: #999999;
    text-align: left;
}

.cvvCartao {
    width: 175px;
    height: 30px;
    margin-left: 1px;
    padding: 2px 2px 2px 10px;
    border-radius: 10px;
    border: 1px solid #493a31;
    background-color: #ffffff;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    color: #999999;
    text-align: left;
}

.validadeCartao {
    width: 150px;
    margin: 10px;
    height: 30px;
    padding: 2px 2px 2px 10px;
    border-radius: 10px;
    border: 1px solid #493a31;
    background-color: #ffffff;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    color: #999999;
    text-align: left;
}

.nomeCartao {
    width: 350px;
    height: 30px;
    margin: 10px;
    padding: 2px 2px 2px 10px;
    border-radius: 10px;
    border: 1px solid #493a31;
    background-color: #ffffff;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    color: #999999;
    text-align: left;
}


.titulo-formulario {

    width: 218px;
    height: 18px;
    background-color: rgba(255, 255, 255, 0);
    box-sizing: border-box;
    font-family: "Montserrat Medium", "Montserrat", sans-serif;
    font-weight: 500;
    color: #493a31;
    text-align: left;
    line-height: normal;

}

.botaoadd-cartao{
    width: 140px;
    height: 40px;
    padding: 2px 2px 2px 2px;
    border-radius: 5px;
    background-color: #5aa504;
    box-sizing: border-box;
    font-family: "Montserrat Medium", "Montserrat", sans-serif;
    font-weight: 500;
    color: #f2f2f2;
    text-align: center;
    line-height: normal;
    border: none;
}

/* Seção configurações */


.botao-darkMode{
    float: right;
    justify-content: flex-end;
    padding: 15px;
    border: 2px solid var(--corlayouts);
    margin-top: 20px;
    border-radius: 8px;
    background-color: var(--marrom);
    color: var(--branco);
    font-size: 16px;
    font-weight: 570;
    height: 50px;
    width: auto;
    cursor: pointer;    
}

.botao-darkMode:hover{
    opacity: 0.9;
}


/*             RESPONSIVIDADE             */


/* Celulares Menores */

@media(max-width: 375px ) {

}

/* Celulares */

@media(max-width: 767px){

.sidebar{
    margin: 0 auto;
    width: 100%;
}

.menu {
    display: flex;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    justify-content: center;
    align-items: center;
}

.profile h3 a{
    text-align: center;
    font-size: large;
}

.box-container{
    border: none;
    flex-direction: column;
}

.box-dados-pessoais, .box-dados-acesso{
    width: 100%;
    padding: 10px;
}

.edit-icon{
    width: 20px;
    height: 20px;
}

.input-wrapper input{
    width: 100%;
    font-size: 0.7em;
}

.input-wrapper .edit-icon{
    right: 5px;
}

.box-dados-pessoais h3{
    font-size: 1.5em;
}

.box-dados-acesso h3{
    margin-top: 20px;
    font-size: 1.5em;
}


.menu li a{
    display: none;
}

.container {
    flex-direction: column;
}

.box-dados-acesso{
    border: none;
}

.page-container{
    width: 95%;
    margin: 20px auto 60px auto;
}

.page-container .minhaConta h1, .produtosSection h1, .vendas h1, .avaliacoes h1, .configuracoes h1{
    margin-left: 1%;
}

}


/* Tablets */

@media(min-width: 768px) and (max-width: 1024px){

.container{
    width: 100%;    
}

.page-container{
    width: 70%;
    margin: 20px auto 60px auto;
    
}

.page-container .minhaConta h1, .produtosSection h1, .vendas h1, .avaliacoes h1, .configuracoes h1{
    margin-left: 1%;
}


.box-dados-acesso h3{
    font-size: 1.2em;
}

.box-dados-pessoais h3{
    font-size: 1.2em;
}

.box-dados-pessoais, .box-dados-acesso{
    padding: 10px;
}

.input-wrapper input{
    font-size: 12px;
}

.profile h3 a{
    font-size: 17px;
}

.input-wrapper label{
    font-size: 1.1em;
}

.sidebar{
    margin: 0 ;
    width: 25%;
    padding-right: 0;
}

.menu {
    width: 100%;
    margin: 0 auto;
    padding: 0;
    justify-content: center;
    align-items: center;
}



}

.menu a.ativo {
    color: #26a726;
 }
 
 .menu a.ativo + img {
    filter: brightness(0.5) sepia(1) hue-rotate(90deg); 
 }


/*  Desktops */

@media(min-width: 1024px){
    
}