
:root {
    --corNeutra:#493a31;
    --backgroundcolor: #FCF2E6;
    --corprincipal: #5AA504;
    --cortexto: rgb(255, 255, 255);
    --fonteprincipal: "Montserrat", sans-serif;
    --verdeescuro: 
    --branco: #FFFFFF;
    --laranja: #f1a532; 
    --marrom: #493A31;
    --corlayouts: #f2f2f2;
  }

/*     Cadastro Vendedor    */

.bodydoPerfil {
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: 950px;
    height: 600px;
    background-color: var(--corprincipal);
    display: flex;
    justify-content: space-between;
    border-radius: 20px;
    box-shadow: 10px 12px 25px -6px rgba(0, 0, 0, 0.66);
}

.banner {
    position: relative;
    color: var(--marrom);
    text-align: center;
    font-size: 30px;
    background-color: var(--branco);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: auto;
    margin: 0 auto;
    width: 45%;
    border-radius: 19px 0px 0px 19px;
}

.cantinhoLogoMobile {
    margin: 0 auto;
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner h1{
    padding-bottom: 10px;
}

.banner img {
    width: 85%;
    height: auto;
}

.cantinhoLogoMobile h1 {
    justify-content: center;
    text-align: center;
    font-size: 35px;
    padding-bottom: 15px;
    color: var(--cortexto);
}

.input-group input { 
    outline: none;  
    text-indent: 10px;
    margin-bottom: 8px;
    margin-left: 20px;
    height: 35px;
    width: 350px;
    margin-top: 5px;
    border-radius: 8px;
    border-color: #493a31;
    border: 1px solid #493a31;
}

.cadastro-form h3 { 
    margin-left: 20px;
    font-size: 14px;
    color: var(--cortexto);
}

.entrar {
    display: inline-block;
    cursor: pointer;
    text-decoration: none; /* Remove o sublinhado do link */
    text-align: center; /* Centraliza o texto */
    font-weight: bold;
    background-color: var(--backgroundcolor);
    border: none;
    border-radius: 5px;
    padding: 10px;
    width: 209px;
    color: var(--corprincipal);
    margin: 10px;
    font-size: 14px;
}

.entrar strong {
color: var(--marrom);
}

.cadastro-form .entrar{
    margin-left: 170px;
}

.cadastro-form p{
    font-weight: 600;
    margin: 8px;
    font-size: 18px;
    color: var(--cortexto);
    text-align: center;
}

.cadastro-form strong{  
    font-weight: 900;
}

.cadastro-form .text-cadastro, .text-cadastroMobile{
    font-weight: bold;
    color: var(--corNeutra);
    margin-left: 100px;
    font-size: 24px;
    text-align: center;
}

.voltar, .voltarMobile{
    position: absolute;
    top: 20px;
    left: 20px;
    display: flex;
    align-items: center; 
    gap: 8px; 
    padding: 4px 8px;
    font-size: 22px;
    color: var(--laranja);
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.voltar:hover{
opacity: 0.5;
}


/*             RESPONSIVIDADE             */


/* Celulares Menores */

@media(max-width: 375px ) {

}

/* Celulares */

@media(max-width: 767px){

.cadastro-form p{
    font-weight: 600;
    margin: 15px;
    font-size: 18px;
    color: var(--marrom);
    text-align: start;
}

.cadastro-form p strong{
    color: var(--laranja);
    font-weight: 450;
}

.cantinhoLogoMobile h1{
    font-size: larger;
    color: var(--corprincipal);
    text-align: start;
}

.cadastro-form .text-cadastroMobile{
    font-size: x-large;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cadastro-form{
    width: 100%;
}
.cantinhoLogo{
    width: 90%;
    margin: 0 auto;
}

}