/* @import
url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

            /*COMEÇO CSS*/

* {
    margin: 0;
    padding: 0;
    font-family: var(--fonteprincipal);
}

:root {
    --backgroundcolor: #fcf2e6;
    --corprincipal: #5aa403;
    --cortexto: rgb(255, 255, 255);
    --fonteprincipal: "Montserrat", sans-serif;
}

a {
    color: #fff;
    text-decoration: none;
}

a:hover {
    opacity: 0.7;
}

body {
    background-color: var(--backgroundcolor);
    height: 100vh;
    width: 100vw;
}

.logo img{
    height: 77px;
    margin: 22px 50px 20px 85px;
}

/* <!-- COMEÇO NAV BAR -->  */

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: var(--fonteprincipal);
    background-color: var(--corprincipal);
    height: 12.5vh;
    box-shadow: 0px 4px 14px 0px rgba(0,0,0,0.1);
}

/* <!-- COMEÇO BARRA DE PESQUISA -->  */

.barradepesquisa {
    background: #ffffff;
    height: 31px;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center center;
    margin: 0px 87px 0px 180px;
}

 .barradepesquisa img {
    height: 27px;
    width: 27px;
    box-sizing: border-box;
} 

.barra-texto-pesquisa{
    background: none;
    border: none;
    outline: none;
    padding: 0 7px;
    color: #614a3d;
    font-size: 13px;
    line-height: 40px;
    width: 425px;
    font-family: var(--fonteprincipal)
}

.botao-pesquisa{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

/* <!-- COMEÇO CARRINHO DE COMPRAS -->  */


.carrinho{
    align-items: center;
    display: flex;
}

.text-carrinho {
    font-family: var(--fonteprincipal);
    font-size: 15px;
    color: #ffff;
    text-align: center;
    margin-right: 70px;
}

.carrinho img {
    height: 47px;
    margin-right: 7px;
}

/* <!-- COMEÇO PERFIL -->  */

.perfil{
    align-items: center;
    display: flex;
}

.text-perfil{
    font-family: var(--fonteprincipal);
    font-size: 15px;
    color: #ffff;
    text-align: center;
    margin-right: 40px;
}

.perfil img {
    height: 43px;
    margin-right: 7px;
}


/* <!-- COMEÇO SUBNAV -->  */

.subnav {
    background-color: black;
    height: 6vh;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 4px 14px 0px rgba(0,0,0,0.1);
}

.subnav a {
    padding: 0px 20px;
}

.subnav ul {
    list-style: none;
    display: flex;
}

.subnav ul li a {
    text-decoration: none;
    color: var(--corprincipal );
}

.subnav li {
    
    margin-left: 0px;  /* arrumar */
    list-style-type: none;
    text-decoration: none;
}z

.dropdown-menu{
    margin-top: 5px;
    position: absolute;
    background-color: white;
    padding: 10px 5px 0px 0px;
    letter-spacing: 2px;
    box-shadow: 0px 4px 14px 0px rgba(0,0,0,0.1);
    display: none;
    border-radius: 5%;
}

.dropdown-menu a {
    display: block;
}

.dropdown-menu a:hover{
    text-decoration: underline;
}

.subnav-list:hover .dropdown-menu {
    display: block;
}



/* <!-- COMEÇO RODAPÉ -->  */

.fixarRodape img {
    height: 80px;
}






/* .menulogin {
margin-top: 5px;
position: absolute;
background-color: white;
padding: 5px 45px 15px 0px;
box-shadow: 0px 4px 14px 0px rgba(0,0,0,0.1);
border-radius: 10px;
display: none;
}
.menulogin a {
display: block;
color: black;
padding-top: 5px;
text-decoration: none;
}
.menulogin ul li {
list-style-type: none;
padding-top: 5px;
}
.menulogin ul li a:hover {
color: #4e850f;
text-decoration: underline;
}
.sessaoentrar:hover .menulogin {
display: block;
} */