:root {
  --backgroundcolor: #FCF2E6;
  --corprincipal: #5AA504;
  --cortexto: rgb(255, 255, 255);
  --fonteprincipal: "Montserrat", sans-serif;
  --verdeescuro: #006837;
  --branco: #FFFFFF;
  --laranja: #E68A00;
  --marrom: #493A31;
  --corlayouts: #f2f2f2;
}


/* Seção de Eventos em Destaque */
.container-eventos {
  text-align: center;
  margin-bottom: 60px;
}

.section-title {
  margin-top: 50px;
  font-weight: 900;
  color: #5aa504;
  line-height: normal;
  font-size: 3em;
  margin-bottom: 30px;
}

.featured-events-boxes {
  display: flex;
  justify-content: center;
  gap: 100px;
}

.event-box {
  background-color: var(--branco);
  width: 22%;
  height: 550px;
  border-radius: 18px;
  box-shadow: 0px 5px 11px 0px rgba(0, 0, 0, 0.35);
}

.event-image {
  width: 100%;
  height: 300px;
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
}

.event-title {
  line-height: normal;
  font-size: 2em;
  color: var(--marrom);
  font-weight: 700;
  margin-top: 10px ;
}

.event-date {
  font-size: 1.6em;
  line-height: normal;
  color: var(--marrom);
  font-weight: 700;
  font-weight: bold;
}

.event-details {
  margin: 10px 0;
  font-size: 1em;
}

.event-button {
  font-size: 18px;
  color: var(--cortexto);
  width: 170px;
  height: 50px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  background-color: var(--laranja);
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  align-items: center;
  text-align: center;
  line-height: normal;
  margin-bottom: 10px;
}

.event-button:hover {
  background-color: rgba(243, 166, 22, 0.911);
  color: var(--cortexto);
  border: 2px solid var(--laranja);
}

.see-more {
  margin-top: 20px;
  cursor: pointer;
  font-size: 1.6em;
  color: var(--marrom);
}

.arrow-down::before {
  content: "↓";
  display: block;
  font-size: 1.5em;
  margin-top: 5px;
  color: var(--marrom);
}


/* Seção de Eventos */

.container-eventos2{
  margin-bottom: 150px;
}


.events-container1 {
  text-align: center;
  margin-left: 150px;
  margin-right: 150px;
  margin-bottom: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
}

.event-box1 {
  padding: 20px;
  border-radius: 18px;
  width: 25%;
  background-color: #f2f2f2;
  box-sizing: border-box;
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.35);
}


.event-flex{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.event-image1 {
  max-width: 190px;
  object-fit: contain;
}


.event-images {
  width: auto;
  height: 200px;
  object-fit: contain;
}

.event-info1 {
  flex: 1;
}

.event-title1 {
  color: var(--marrom);
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: left;
}

.event-date1 {
  font-size: 1.2em;
  color: var(--marrom);
  margin-bottom: 10px;
  text-align: left;
}

.event-details1 {
  font-size: 1em;
  color: var(--marrom);
  margin-bottom: 20px;
  text-align: left;
}

.event-button1 {
  font-size: 18px;
  color: var(--cortexto);
  width: 150px;
  height: 40px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  background-color: var(--laranja);
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  align-items: center;
  text-align: center;
  line-height: normal;
  margin-bottom: 10px;
}

.event-button1:hover {
  background-color: rgba(243, 166, 22, 0.911);
  color: var(--cortexto);
  border: 2px solid var(--laranja);
}