* {
    margin: 0;
    padding: 0;
}


:root {
    --backgroundcolor: #FCF2E6;
    --corprincipal: #5AA504;
    --cortexto: rgb(255, 255, 255);
    --fonteprincipal: "Montserrat", sans-serif;
    --verdeescuro: #006837;
    --branco: #FFFFFF;
    --laranja: #E68A00;
    --marrom: #493A31;
    --corlayouts: #f2f2f2;
  }


/* titilo e orientação*/

.titulo-faca-box {
        background-color: rgba(255, 255, 255, 0);
        box-sizing: border-box;
        font-family: "Cooper Black", "Cooper", sans-serif;
        font-weight: 900;
        color: #006837;
        text-align: center;
        font-size: 60px;
        margin-top: 30px;
        margin-bottom: 40px;
        letter-spacing: 8px;
}

.titulos{
    display: flex;
    align-items: center;
    justify-content: center;
}

.titulos-sectionBox{
    font-size: 1.5em;
    margin-right: 25px;
    color: var(--corprincipal);
    text-align: center;
    font-weight: 600;
}

.titulos-sectionBox2{
    font-size: 1.5em;
    margin-left: 25px;
    color: rgba(73, 58, 49, 0.69);
    text-align: center;
    font-weight: 600;
}

/* carrosel Box */


.Box-section{
    border-radius: 15px;
    max-width: 1300px;
    overflow: hidden;
    margin: auto;
    position: relative;
    width: 100%;
}

.seta {
    margin: auto;
    position: relative;
}

.carousel-container {
    border-radius: 15px;
    overflow: hidden;
    max-width: 1000px;
    margin: auto;
    position: relative;
}

.todos-produtos {
    transition: transform 0.6s ease-in-out;
    height: 560px;
}

.itens-produto {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding: 10px;
    margin: auto;
    overflow: hidden;
}

.box-produto {
    padding: 15px 10px 15px 10px;
    height: 230px;
    width: 200px;
    border-radius: 15px;
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.35);
    background-color: var(--branco);
    position: relative;
   
}

.box-produto img{
    display: block;
    object-fit: cover;
    height: 100px;
    width: 130px;
    margin: auto;
}

.box-produto:hover {
    transform: scale(1.05);
}

.nome-produto {
    margin-top: 15px;
    margin-bottom: 3px;
    font-size: 14px;
    font-weight: bold;  
}

.nome-vendedor {
    font-size: 14px;
    color: #666;
    margin-bottom: 5px;
}

.valor-produto {
    font-size: 20px;
    color: var(--verdeescuro);
    margin-bottom: 5px;
}

.botao-adicionar {
    background-color: var(--corlayouts);
    border: 3px solid var(--verdeescuro);
    color: var(--verdeescuro);
    font-weight: 550;
    width: 100%;
    justify-items: center;
    align-items: center;
    text-align: center;
    height: 40px;
    margin-bottom: 10px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 13px;
}

.botao-adicionar:hover {
    background-color: var(--verdeescuro);
    color: var(--branco);
}

.carousel-control {
    position: absolute;
    top: 50%; 
    transform: translateY(-50%); 
    background-color: transparent;
    color: var(--marrom);
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
    z-index: 1; 
}
  
.carousel-control img{
    height: 25px;
    width: 25px;
}
  
.prev{
    left: 90px;
    z-index: 200000;
}

.next{
    right: 130px;
    z-index: 200000;
}

.carousel-control, .carousel-control2 {
    position: absolute;
    top: 41%;
    transform: translateY(50%);
    background-color: transparent;
    color: var(--marrom);
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
}
.carousel-control img, .carousel-control2 img{
    height: 25px;
    width: 25px;
}

.carousel-indicators{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 80px;
}
  
.indicator{
    border: none;
    width: 19px;
    height: 19px;
    background-color: rgba(81, 149, 117, 0.6);
    border-radius: 50%;
    display: inline-block;
    margin: 0 5px;
    cursor: pointer;
    transition: 0.3s ease;
}
  
.indicator.active{
    background-color: #519575;
}