* {
    margin: 0;
    padding: 0;
}


:root {
    --backgroundcolor: #FCF2E6;
    --corprincipal: #5AA504;
    --cortexto: rgb(255, 255, 255);
    --fonteprincipal: "Montserrat", sans-serif;
    --verdeescuro: #006837;
    --branco: #FFFFFF;
    --laranja: #E68A00;
    --marrom: #493A31;
    --corlayouts: #f2f2f2;
}

.PagamentoTotalBox{
    margin-left: auto;
    margin-right: auto;
    background-color: var(--corprincipal);
    width: 75%;
    border-radius: 16px;
    height: auto;
    margin: 0 auto;
    padding: 50px;
}

.titleEnderecosBox{
    font-size: 2.5em;
    color: var(--marrom);
    font-weight: bold;
}

.card-image img{
    height: 120px;
    width: 120px;
    display: block;
}

.editionTittle{
    margin-left: 750px;
    font-size: 1.3em;
    color: var(--marrom);
    font-weight: bold;
}

.InteriorEnderecos{
    color: var(--branco);
    font-weight: 400;
    padding: 15px 30px 0px 30px;
    border: 3px solid var(--branco);
    border-radius: 15px;
    margin: 20px;
}

.card2{
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    font-size: 22px;
}

.numero-cartao{
    font-weight: 500;
    margin-bottom: 30px;
}

.nome-cartao{
    font-weight: 500;
    margin-bottom: 30px;
}

.tituloprimarioAddress{
    display: flex;
}

.selecaoEnderess{
    margin-top: 10px;
    display: block;
    margin-left: auto;
    width: 200px;
    height: 30px;
    border-radius: 10px;
    background-color: var(--branco);
    border: 2px solid var(--corprincipal);
    font-size: 15px;
    color: var(--corprincipal);
}

.AddEnderess{
    width: 500px;
    height: 75px;
    margin-left: 450px;
    font-size: 30px;
    padding: 2px 2px 2px 2px;
    border-radius: 5px;
    border: 1px solid rgba(252, 242, 230, 0.5);
    background-color: rgba(30, 152, 215, 0);
    box-sizing: border-box;
    font-family: "Montserrat Medium", "Montserrat", "Montserrat", sans-serif;
    font-weight: 500;
    color: rgba(252, 242, 230, 0.5);
    text-align: center;
    line-height: normal;
    cursor: pointer;
}


/*             RESPONSIVIDADE             */


/* Celulares Menores */

@media(max-width: 375px ) {

}

/* Celulares */

@media(max-width: 767px){

.geralBox{
    width: 100%;
    margin: 0 auto;
}

.titulo-faca-box{
    width: 100%;
    margin: 20px auto;  
    font-size: 20px;  
}

.selecaoEnderess{
    width: 70%;
    height: 20px;
    margin: 10px auto;
    font-size: 5px;
}

.PagamentoTotalBox{
    width: 85%;
    height: auto;
    padding: 20px;

}

.titleEnderecosBox{
    font-size: 1em;
    margin-bottom: 20px;
}

.card-image{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.card-image img{
    height: 75%;
    width: 75%;
}

.InteriorEnderecos{
    width: 100%;
    margin: 10px auto;
    padding: 10px;
}

.card2{
    width: 100%;
    font-size: 0.5em;
    margin: 0 auto;

}

.numero-cartao{
    width: 100%;
}

.acoes-cartao{
    width: 100%;
    text-align: center;
}

.editionTittle{
    font-size: 0.5em;
    margin-left: auto;
}

.tittleAddress{
    font-size: 0.6em;
}

.tituloprimarioAddress{
    margin-bottom: 5px;
}

.editionTittle{
    font-size: 0.5em;
}


.EnderecosTotalBox{
    padding: 10px;
    height: auto;
}

.AddEnderess{
    width: 90%;
    margin: 0 auto;
    display: flex;
    font-size: 10px;
    height: auto;
    padding: 7px;
    justify-content: center;
    align-items: center;
}


}


/* Tablets */

@media(min-width: 768px) and (max-width: 1024px){


    .geralBox{
        width: 100%;
        margin: 0 auto;
    }
    
    .titulo-faca-box{
        width: 100%;
        margin: 20px auto;  
        font-size: 20px;  
    }
    
    .selecaoEnderess{
        width: 70%;
        height: 20px;
        margin: 10px auto;
        font-size: 5px;
    }
    
    .PagamentoTotalBox{
        width: 85%;
        height: auto;
        padding: 20px;
    
    }
    
    .card-image{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        margin: 0 auto;
    }
    
    .card-image img{
        height: 75%;
        width: 75%;
    }
    
    .InteriorEnderecos{
        width: 95%;
        margin: 10px auto;
        padding: 10px;
    }
    
    .card2{
        width: 100%;
        font-size: 0.5em;
        margin: 0 auto;
    
    }
    
    .numero-cartao{
        width: 100%;
    }
    
    .acoes-cartao{
        width: 100%;
        text-align: center;
    }
    
    .editionTittle{
        font-size: 0.5em;
        margin-left: auto;
    }
    
    .tittleAddress{
        font-size: 0.6em;
    }
    
    .tituloprimarioAddress{
        margin-bottom: 5px;
    }
    
    .editionTittle{
        font-size: 1em;
    }
    
    
    .EnderecosTotalBox{
        padding: 10px;
        height: auto;
    }
    
    .AddEnderess{
        width: 90%;
        margin: 0 auto;
        display: flex;
        font-size: 10px;
        height: auto;
        padding: 7px;
        justify-content: center;
        align-items: center;
    }

    
}


/*  Desktops */

@media(min-width: 1024px){
 
    
    .geralBox{
        width: 100%;
        margin: 0 auto;
    }
    
    .titulo-faca-box{
        width: 100%;
        margin: 20px auto;  
    }
    
    .selecaoEnderess{
        width: 70%;
    }

    .card-image{

        display: flex;
        justify-content: center;
        margin: 0 auto;
    }
    

    
    .InteriorEnderecos{
        width: 95%;
        margin: 10px auto;
        padding: 10px;
    }
    
    .card2{
        width: 100%;
        margin: 0 auto;
        margin-left: 20px;
    }
    
    .numero-cartao{
        width: 100%;
    }
    
    .acoes-cartao{
        width: 100%;
        text-align: center;
    }
    
    .editionTittle{
        margin-left: auto;
    }
    
    .tituloprimarioAddress{
        margin-bottom: 5px;
    }
    
    
    
    .EnderecosTotalBox{
        padding: 10px;
        height: auto;
    }
    
    .AddEnderess{
        width: 500px;
        height: 75px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 30px;
        padding: 2px 2px 2px 2px;
        border-radius: 5px;
        border: 1px solid rgba(252, 242, 230, 0.5);
        background-color: rgba(30, 152, 215, 0);
        box-sizing: border-box;
        font-family: "Montserrat Medium", "Montserrat", "Montserrat", sans-serif;
        font-weight: 500;
        color: rgba(252, 242, 230, 0.5);
        text-align: center;
        line-height: normal;
        cursor: pointer;
    
    }
}