* {
    margin: 0;
    padding: 0;
}


:root {
    --backgroundcolor: #FCF2E6;
    --corprincipal: #5AA504;
    --cortexto: rgb(255, 255, 255);
    --fonteprincipal: "Montserrat", sans-serif;
    --verdeescuro: #006837;
    --branco: #FFFFFF;
    --laranja: #E68A00;
    --marrom: #493A31;
    --corlayouts: #f2f2f2;
}

.titulo-faca-box {
    background-color: rgba(255, 255, 255, 0);
    box-sizing: border-box;
    font-family: "Cooper Black", "Cooper", sans-serif;
    font-weight: 900;
    color: #006837;
    text-align: center;
    font-size: 60px;
    margin-top: 30px;
    margin-bottom: 40px;
    letter-spacing: 8px;
}

.EnderecosTotalBox{
    margin-left: auto;
    margin-right: auto;
    background-color: var(--corprincipal);
    width: 75%;
    margin: 0 auto;
    border-radius: 16px;
    height: 430px;
    padding: 50px;
}

.tiitleEnderecosBox{
    font-size: 2.5em;
    color: var(--marrom);
    font-weight: bold;
}

.InteriorEnderecos{
    padding: 15px 30px 15px 30px ;
    border: 3px solid var(--branco);
    border-radius: 15px;
    margin: 20px;
}

.tituloprimarioAddress{
    display: flex;
    margin-bottom: 20px;
}

.tittleAddress{
    color: var(--branco);
}

.editionTittle{
    margin-left: auto;
    font-size: 1.3em;
    color: var(--marrom);
    font-weight: bold;
}

.selecaoEnderess{
    margin-left: auto;
    width: 200px;
    height: 30px;
    border-radius: 10px;
    background-color: var(--branco);
    border: 2px solid var(--corprincipal);
    font-size: 15px;
    color: var(--corprincipal);
}

.AddEnderess{
    width: 500px;
    height: 75px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    padding: 2px 2px 2px 2px;
    border-radius: 5px;
    border: 1px solid rgba(252, 242, 230, 0.5);
    background-color: rgba(30, 152, 215, 0);
    box-sizing: border-box;
    font-family: "Montserrat Medium", "Montserrat", "Montserrat", sans-serif;
    font-weight: 500;
    color: rgba(252, 242, 230, 0.5);
    text-align: center;
    line-height: normal;
    cursor: pointer;
  }

  /*             RESPONSIVIDADE             */


/* Celulares Menores */

@media(max-width: 375px ) {

}

/* Celulares */

@media(max-width: 767px){

.geralBox{
    width: 100%;
    margin: 0 auto;
}

.titulo-faca-box{
    width: 100%;
    margin: 20px auto;  
    font-size: 20px;  
}

.selecaoEnderess{
    width: 30%;
    height: 20px;
    margin-top: 10px;
    font-size: 5px;
}

.EnderecosTotalBox{
    width: 85%;
}

.tiitleEnderecosBox{
    font-size: 1em;
    margin-bottom: 20px;
}

.InteriorEnderecos{
    width: 100%;
    margin: 10px auto;
    padding: 10px;
}

.tittleAddress{
    font-size: 0.6em;
}

.tituloprimarioAddress{
    margin-bottom: 5px;
}

.editionTittle{
    font-size: 0.5em;
}


.EnderecosTotalBox{
    padding: 10px;
    height: auto;
}

.AddEnderess{
    width: 90%;
    margin: 0 auto;
    display: flex;
    font-size: 10px;
    height: auto;
    padding: 7px;
    justify-content: center;
    align-items: center;
}

}


/* Tablets */

@media(min-width: 768px) and (max-width: 1024px){

.editionTittle{
    font-size: 0.9em;    
}

}


/*  Desktops */

@media(min-width: 1024px){
    
}