:root {
    --backgroundcolor: #FCF2E6;
    --corprincipal: #5AA504;
    --cortexto: rgb(255, 255, 255);
    --fonteprincipal: "Montserrat", sans-serif;
    --verdeescuro: #006837;
    --branco: #FFFFFF;
    --laranja: #f1a532;
    --marrom: #493A31;
    --corlayouts: #f2f2f2;
    --vermelho: #FF0000;

}


.error-message {
  color: var(--vermelho);
  display: none;
}

/* .email-error {
    color: red;
    display: none;
}

.password-error {
    color: red;
    display: none;
} */

.bodydoPerfil {
    margin-top: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: 889px;
    height: 530px;
    background-color: var(--corprincipal);
    display: flex;
    justify-content: space-between;
    border-radius: 20px;
    box-shadow: 10px 12px 25px -6px rgba(0, 0, 0, 0.66);
}

.banner {
    color: var(--marrom);
    text-align: center;
    font-size: 30px;
    background-color: var(--branco);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: auto;
    padding: 25px;
    padding-top: 35px;
    padding-bottom: 35px;
    border-radius: 19px 0px 0px 19px;
}

.cantinhoLogo {
    width: 667px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner h1{
    padding-bottom: 10px;
}

.banner img {
    width: 250px;
    height: 210px;
}

.cantinhoLogo h1 {
    text-align: center;
    font-size: 35px;
    padding-bottom: 15px;
    color: var(--cortexto);
}

.input-group input { 
    outline: none;  
    text-indent: 10px;
    margin-bottom: 8px;
    margin-left: 20px;
    height: 35px;
    width: 350px;
    margin-top: 5px;
    border-radius: 8px;
    border-color: #493a31;
    border: 1px solid #493a31;
}

.cadastro-form h3 { 
    margin-top: 5px;
    margin-left: 20px;
    font-size: 14px;
    color: var(--cortexto);
}

.img-login{
    margin-left: 160px;
}

.img-login img{
    background-color: var(--branco);
    border-radius: 100%;
    margin-left: 5px;
    margin-right: 5px;
    height: 25px;
    width: 25px;
}

.entrar {
    display: inline-block;
    cursor: pointer;
    text-decoration: none; /* Remove o sublinhado do link */
    text-align: center; /* Centraliza o texto */
    font-weight: bold;
    background-color: var(--backgroundcolor);
    border: none;
    border-radius: 5px;
    padding: 10px;
    width: 209px;
    color: var(--corprincipal);
    margin: 13px;
    font-size: 14px;
}

.cadastro-form .entrar{
    margin-left: 90px;
}

.cadastro-form p{
    margin-top: 5px;
    margin-bottom: 7px;
    color: var(--cortexto);
    text-align: center;
}

.cadastro-form .text-cadastro{
    font-weight: bold;
    color: var(--laranja);
}
.checagem {
    display: flex;
    margin: 10px;
}


/* 
@media (max-width:900px){

}

 */

