:root {
    --backgroundcolor: #FCF2E6;
    --corprincipal: #5AA504;
    --cortexto: rgb(255, 255, 255);
    --fonteprincipal: "Montserrat", sans-serif;
    --verdeescuro: #006837;
    --branco: #FFFFFF;
    --laranja: #f1a532;
    --marrom: #493A31;
    --corlayouts: #f2f2f2;
    --vermelho: #FF0000;

}

.error-message {
  color: var(--vermelho);
  display: none;
}

/* .email-error {
    color: red;
    display: none;
}

.password-error {
    color: red;
    display: none;
} */

.bodydoPerfil {
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: 950px;
    height: 600px;
    background-color: var(--corprincipal);
    display: flex;
    justify-content: space-between;
    border-radius: 20px;
    box-shadow: 10px 12px 25px -6px rgba(0, 0, 0, 0.66);
}

.banner {
    color: var(--marrom);
    text-align: center;
    font-size: 30px;
    background-color: var(--branco);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: auto;
    padding: 35px;
    padding-top: 35px;
    padding-bottom: 35px;
    border-radius: 19px 0px 0px 19px;
}

.cantinhoLogo {
    width: 667px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner h1{
    padding-bottom: 10px;
}

.banner img {
    width: 250px;
    height: 210px;
}

.cantinhoLogo h1 {
    text-align: center;
    font-size: 45px;
    padding-bottom: 15px;
    color: var(--cortexto);
}

.input-group input { 
    outline: none;  
    text-indent: 10px;
    margin-bottom: 4px;
    font-size: 15px;
    height: 40px;
    width: 390px;
    margin-top: 5px;
    border-radius: 8px;
    border-color: #493a31;
    border: 1px solid #493a31;
}

.cadastro-form h3 { 
    margin-top: 5px;
    
    font-size: 16px;
    color: var(--cortexto);
}

.img-login{
    margin-left: 160px;
    margin-top: 8px;
}

.img-login img{
    background-color: var(--branco);
    border-radius: 100%;
    margin-left: 5px;
    margin-right: 5px;
    height: 30px;
    width: 30px;
}

.entrar {
    display: inline-block;
    cursor: pointer;
    text-decoration: none; /* Remove o sublinhado do link */
    text-align: center; /* Centraliza o texto */
    justify-content: center;
    font-weight: 700;
    background-color: var(--branco);
    border: none;
    border-radius: 5px;
    padding: 10px;
    width: 225px;
    color: var(--corprincipal);
    margin: 13px;
    font-size: 16px;
}

.cadastro-form .entrar{
    margin-left: 90px;
}

.cadastro-form .texto-entrar{
    margin-top: 5px;
    margin-bottom: 7px;
    color: var(--cortexto);
    text-align: center;
    font-size: 19px;
}

.cadastro-form p{
    margin-top: 5px;
    margin-bottom: 7px;
    color: var(--cortexto);
    text-align: center;
    font-size: 16px;
}

.cadastro-form .texto-checkbox{
    margin-top: 5px;
    margin-bottom: 7px;
    color: var(--cortexto);
    text-align: center;
    font-size: 18px;
}

.cadastro-form .text-cadastro{
    font-weight: bold;
    color: var(--laranja);
}
.checagem {
    display: flex;
    margin: 3px;
}

.voltar{
    width: 280px;
    height: 70px;
    padding: 2px;
    border-radius: 5px;
    border: none;
    background-color: var(--corprincipal);
    box-sizing: border-box;
    font-size: 22px;
    font-weight: 500;
    color: white;
    text-align: center;
    line-height: normal;
    cursor: pointer;
    margin-right: 50px;
    margin-top: auto;
    transition: background-color 0.3s ease;
}

.voltar:hover{
    border: 3px solid var(--corprincipal);
    background-color: white;
    color: var(--corprincipal);
}