@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


/* COMEÇO CSS */

/*  */

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat'
}

:root {
    --backgroundcolor: #534b41;
    --corprincipal: #5AA504;
    --cortexto: rgb(255, 255, 255);
    --fonteprincipal: 'Montserrat';
    --verdeescuro: #006837;
    --branco: #FFFFFF;
    --laranja: #E68A00;
    --marrom: #493A31;
    --corlayouts: #f2f2f2;
}

.container{
    border-radius: 20px;
    margin-left: 150px;
    margin-right: 150px;
    margin-bottom: 100px;
    background-color: var(--branco);
}
 .titulo{
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 10px;
    font-size: 90px;
    text-align: center;
    padding-top: 90px;
    margin-bottom: 30px;
    color: var(--marrom);
    text-transform: uppercase;
}
.premium-container {
    padding-top: 80px;
    color: white;
    padding-bottom: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.premium-verde {
    height: 500px;
    width: 420px;
    border-radius: 40px;
    margin: 35px;
    background-color: var(--verdeescuro);
}

.premium-laranja {
    height: 500px;
    width: 420px;
    border-radius: 40px;        
    margin: 35px;
    background-color: var(--laranja);
}

.text-lista{
    margin-bottom: 30px;
}

 .price{
    padding-top:  20px;
}

.text-premium ul {
    line-height: 30px;
    font-size: 19px;
    padding-top: 20px;
   
    font-weight: bold;
    color: var(--cortexto);
}

.text-premium .title {
    text-align: center;
    margin-top: 50px;
    font-size: 2.3em;
    font-weight: bold;
    margin-bottom: 20px;
}
.text-premium h1{
    color: var(--cortexto);
    text-align: center;
    font-size: 2em;
    font-weight: bold;

}



.text-premium ul {
    list-style-type: disc;
    /* Bolinhas antes dos itens */
    padding-left: 50px;
}

.text-premium ul li {
    margin-bottom: 5px;
    /* Espaçamento entre as linhas */
    font-size: 1.05em;
}

.button-premium {
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 30px;
    justify-content: center;
    border: none;
    width: 200px;
    height: 50px;
    padding: 2px 2px 2px 2px;
    border-radius: 5px;
    background-color: var(--branco);
    margin-left: 25%;
    font-size: 18px;
    font-family: "Arial", sans-serif;
    color: var(--marrom);
    text-align: center;
    line-height: normal;
    font-weight: bold;
}

.button-premium:hover{
    opacity: 0.60;
 
}