
:root {
    --backgroundcolor: #FCF2E6;
    --corprincipal: #5AA504;
    --cortexto: rgb(255, 255, 255);
    --fonteprincipal: "Montserrat", sans-serif;
    --verdeescuro: #006837;
    --branco: #FFFFFF;
    --laranja: #E68A00;
    --marrom: #493A31;
    --corlayouts: #f2f2f2;
  }

        /*   COMEÇO CSS    */


.titulo{
    margin-top: 90px;
    margin-bottom: 25px;
    font-size: 30px;
    color: var(--marrom);
    text-align: left;
}
        
.tudo{
    display: flex;
}



/* FILTRO PRODUTOS */



.filter-section {
    margin-bottom: 100px;
    width: 200px;
    padding: 90px;
    border-radius: 5px;
    margin-right: 20px; /* Espaçamento entre filtros e produtos */
    flex-shrink: 0; /* Garante que a seção de filtros não encolha */

}

.filter-section h2 {
    margin-bottom: 30px;
    color: var(--marrom);
}

.filter-section .categorias{
    font-size: 30px;
}

.filter-section .ordernar  {
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    color: var(--marrom);
}

.category-filters{
    margin-right: 30px;
}

.filter-option {
    font-size: 20px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    cursor: pointer;
    position: relative;
    padding-left: 35px;
    user-select: none;

}

.filter-option input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}   

.filter-option .checkmark,
.filter-option .radiomark {
    position: absolute;
    left: 0; /* Alinha os círculos à esquerda do texto */
    height: 20px;
    width: 20px;
    background-color: var(--branco);
    border: 1px solid ;
    
}
.filter-option .radiomark{
    position: absolute;
    left: 0; /* Alinha os círculos à esquerda do texto */
    height: 20px;
    width: 20px;
    background-color: var(--branco);
    border: 1px solid ;
    border-radius: 50%;
}

.filter-option .checkmark:after,
.filter-option .radiomark:after {
    content: "";
    position: absolute;
    display: none;
}

.filter-option input:checked ~ .checkmark:after {
    display: block;
}

.filter-option input:checked ~ .radiomark:after {
    display: block;
}

.filter-option .checkmark:after {
    left: 6px;
    top: 2px;
    width: 4px;
    height: 10px;
    border: solid var(--marrom);
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}

.filter-option .radiomark:after {
    top: 5px;
    left: 5px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: var(--marrom);
}

.apply-button {
    width: 100%;
    padding: 10px;
    background-color: var(--branco);
    color: var(--verdeescuro);
    border: 2px solid var(--verdeescuro);
    font-weight: bold;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s ease;
}

.apply-button:hover {
    background-color: var(--verdeescuro);
    color: var(--cortexto);
}


    /*  ESTILIZAÇÃO GERAL PRODUTOS */

.antes-produtos{
    margin-bottom: 60px;
    margin-left: 100px;
}

.todos-produtos {
    display: flex;
    flex-direction: row; /* Alinha os filtros e os produtos lado a lado */
    gap: 20px; /* Espaçamento entre filtros e produtos */
}
    

.todos-produtos {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.itens-produto {
    
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

.box-produto {
    width: 250px;
    background-color: white;
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.35);
    border-radius: 10px;
    margin-bottom: 20px; /* Espaçamento entre os produtos na vertical */

}

.box-produto img {
    width: 100%;
    height: 150px;
    object-fit: contain; /* Assegura que a imagem seja ajustada sem cortar */
    margin-bottom: 15px;
}

.nome-produto {
    color:  rgba(98, 78, 66, 0.99);
    font-weight: 500;   
    text-align: left;
    font-weight: bold;
   
}

.nome-vendedor {
    text-align: left;
    color: #777;
    margin-bottom: 10px;
}

.valor-produto {
    text-align: left;
    color: var(--verdeescuro);
    font-size: 1.4em;
    font-weight: bold;
    margin-bottom: 10px;
}

.botao-adicionar {
    width: 100%;
    padding: 15px;
    background-color: var(--corlayouts);
    color: var(--verdeescuro);
    border: 2px solid var(--verdeescuro);
    font-weight: bold;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 10px;
    transition: background-color 0.3s ease;
    border-radius: 10px;
}

.botao-adicionar:hover {
    background-color: var(--verdeescuro);
    color: var(--cortexto);
}
