
:root {
    --backgroundcolor: #FCF2E6;
    --corprincipal: #5AA504;
    --cortexto: rgb(255, 255, 255);
    --fonteprincipal: "Montserrat", sans-serif;
    --verdeescuro: #006837;
    --branco: #FFFFFF;
    --laranja: #E68A00;
    --marrom: #493A31;
    --corlayouts: #f2f2f2;
  }

        /*   COMEÇO CSS    */


.titulo{
    margin-left: 15px;
    margin-top: 90px;
    margin-bottom: 25px;
    font-size: 40px;
    color: var(--marrom);
    text-align: left;
}
        
.tudo{
    display: flex;
}



/* FILTRO PRODUTOS */



.filter-section {
    position: sticky;
    margin-bottom: 100px;
    width: 200px;
    padding: 90px;
    transition: all 0.5s ease;
    border-radius: 5px;
    margin-right: 20px; 
    top: 0;
    align-self: flex-start;
}

.filter-section h2 {
    margin-bottom: 30px;
    color: var(--marrom);
}

.filter-section .categorias{
    font-size: 30px;
}

.filter-section .ordernar  {
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    color: var(--marrom);
}

.category-filters{
    margin-right: 30px;
}

.filter-option {
    font-size: 20px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    cursor: pointer;
    position: relative;
    padding-left: 35px;
    user-select: none;

}

.filter-option input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}   

.filter-option .checkmark,
.filter-option .radiomark {
    position: absolute;
    left: 0; /* Alinha os círculos à esquerda do texto */
    height: 20px;
    width: 20px;
    background-color: var(--branco);
    border: 1px solid ;
    
}
.filter-option .radiomark{
    position: absolute;
    left: 0; /* Alinha os círculos à esquerda do texto */
    height: 20px;
    width: 20px;
    background-color: var(--branco);
    border: 1px solid ;
    border-radius: 50%;
}

.filter-option .checkmark:after,
.filter-option .radiomark:after {
    content: "";
    position: absolute;
    display: none;
}

.filter-option input:checked ~ .checkmark:after {
    display: block;
}

.filter-option input:checked ~ .radiomark:after {
    display: block;
}

.filter-option .checkmark:after {
    left: 6px;
    top: 2px;
    width: 4px;
    height: 10px;
    border: solid var(--marrom);
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}

.filter-option .radiomark:after {
    top: 5px;
    left: 5px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: var(--marrom);
}

.apply-button {
    width: 100%;
    padding: 10px;
    background-color:  var(--branco);
    color: var(--verdeescuro);
    border: 2px solid var(--verdeescuro);
    font-weight: bold;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s ease;
}

.apply-button:hover {
    background-color: var(--verdeescuro);
    color: var(--cortexto);
}


    /*  ESTILIZAÇÃO GERAL PRODUTOS */

.antes-produtos{
    margin-bottom: 60px;
    margin-left: 40px;
}

.TudoFiltroMobile{
    display: none;
}

.todos-produtos {
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.itens-produto {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 35px;
    margin: auto;
}

.box-produto {
    width: 275px;
    background-color: white;
    border: 1px solid #ddd;
    padding: 13px;
    text-align: center;
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.35);
    border-radius: 18px;
    margin-bottom: 20px; /* Espaçamento entre os produtos na vertical */

}

.mobile-filter{
    display: none;
}

.box-produto img {
    width: 100%;
    height: 190px;
    display: block;
    object-fit: contain; /* Assegura que a imagem seja ajustada sem cortar */
    margin-bottom: 15px;
    margin-top: 15px;
}

.nome-produto {
    color:  rgba(98, 78, 66, 0.99);
    font-weight: 500;   
    text-align: left;
    font-weight: bold;
    font-size: 18px;
   
}

.nome-vendedor {
    text-align: left;
    color: #777;
    margin-bottom: 10px;
}

.valor-produto {
    text-align: left;
    color: var(--verdeescuro);
    font-size: 1.7em;
    font-weight: bold;
    margin-bottom: 10px;
}

.botao-adicionar {
    width: 100%;
    padding: 8px;
    background-color: white;
    color: var(--verdeescuro);
    border: 3px solid #297f57;
    font-weight: 500;
    text-align: center;
    border-radius: 12px;
    font-size: 19px;
    cursor: pointer;
    margin-bottom: 10px;
    transition: background-color 0.3s ease;
}

.botao-adicionar:hover {
    background-color: var(--verdeescuro);
    color: var(--cortexto);
}

.filter-sectionMobile{
    display: none;
}

.Mobileclose{
    display: none;
}

/*             RESPONSIVIDADE             */


/* Celulares Menores */

@media(max-width: 375px ) {

}

/* celulares */

/* @media(min-width: 375px) and (max-width: 767px){ */
@media(max-width: 767px){


body {
    width: 100%;
    height: 100%;
}

a {
    font-size: small;
}

/* funcionalidade filtro MOBILE */

.openF {
    display: block;
}

.mobile-filter {
    position: fixed; /* Fica fixo na tela */
    top: 0;
    right: 0;
    width: 60%; /* Largura de 60% da tela */
    height: 100%; /* Altura total da tela */
    background-color: white;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5); /* Sombra para destaque */
    transform: translateX(100%); /* Inicialmente escondido à esquerda */
    transition: transform 0.3s ease; /* Transição suave */
    z-index: 100000; /* Certifique-se de que fique sobre outros conteúdos */
    padding: 15px;
}

.mobile-filter.openF {
    transform: translateX(0); /* Move para a posição visível */
}

.filter-content {
    padding: 20px; 
}

.filter-mobile {
    cursor: pointer; 
    display: flex; 
    align-items: center; 
}

.imagem-filtro {
    margin-left: 10px; 
}


/* filtros */

.mobile-filter openF{
    padding: 15px;
}

.filter-option{
    font-size: 15px;
}

.filter-section {
    display: none;   
}

.categorias, .ordernar{
    margin-top: 20px;
    margin-bottom: 20px;
    color: var(--marrom);
}

.imagem-filtro{
    height: 20px;
    width: 20px;
}

.TudoFiltroMobile{
    display: flex;
    margin-right: 2%;
}

.filter-mobile {
    margin-right: 5px;
    color: var(--corprincipal);
    font-weight: 550;
    display: block;
}

.tudo{
    width: 100%;    
}

.antes-produtos{
    margin: 0px;
    margin: auto;
    width: 100%;
}

/* produtos */

.todos-produtos{
    gap: 10px;
    overflow: hidden;
}

.antes-produtos{
    margin-top: 20px;
}

.titulos{
    justify-content: space-between;
    display: flex;    
}

.titulo{
    margin-top: 0;
    white-space: nowrap;
    font-size: 20px
}

.box-produto{
    width: 100%;
    max-width: 165px;
}

.box-produto img{
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    width: 135px;
    height: 70px;
}

.nome-produto{
    font-size: 0.74em;
}

.nome-vendedor{
    margin: 0px;
}

.valor-produto{
    line-height: 1; /* ou um valor que deixe o texto bem ajustado */
    font-size: 1.7em;
    margin: 0px;
}

.current-price, .current-price2{
    font-size: 0.5em;
    line-height: 1;
}

.botao-adicionar{
    font-size: 0.7em;
}

.itens-produto{
    column-gap: 20px;
    grid-row-gap: 0px;
    grid-template-columns: repeat(2, 1fr);
}

}

/* tablets */

@media(min-width: 768px) and (max-width: 1024px){
 

/* filtros */

.filter-section .categorias, .filter-section .ordernar{
    font-size: 18px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.filter-section{
    margin: 0;
    padding: 10px;
    width: 16%;   
}

.filter-option{
    font-size: 15px;
}

.filter-option .checkmark, .filter-option .radiomark{
    height: 15px;
    width: 15px;
}

.filter-option{
    padding-left: 30px;
    font-size: 12px;
}

.apply-button{
    font-size: 12px;  
    width: 90%;
    padding: 7px;  
}

/* produtos */

.todos-produtos{
    gap: 10px;
}

.antes-produtos{
    margin-left: 0;
    margin-top: 20px;
}

.titulos{
    justify-content: space-between;
    display: flex;    
}

.titulo{
    margin-top: 0;
    white-space: nowrap;
    font-size: 20px
}

.box-produto{
    width: 100%;
    max-width: 165px;
}

.box-produto img{
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    width: 135px;
    height: 70px;
}

.nome-produto{
    font-size: 0.74em;
}

.nome-vendedor{
    margin: 0px;
}

.valor-produto{
    line-height: 1; /* ou um valor que deixe o texto bem ajustado */
    font-size: 1.7em;
    margin: 0px;
}

.current-price, .current-price2{
    font-size: 0.5em;
    line-height: 1;
}

.botao-adicionar{
    font-size: 0.7em;
    padding: 7px;
    border-radius: 10px;
}

.itens-produto{
    column-gap: 40px;
    grid-row-gap: 0px;
    grid-template-columns: repeat(3, 1fr);
}
  
    
}

/*  Desktops */

@media(min-width: 1024px){


.antes-produtos{
    overflow: hidden;
}


}