:root {
    --backgroundcolor: #FCF2E6;
    --corprincipal: #5AA504;
    --cortexto: rgb(255, 255, 255);
    --fonteprincipal: "Montserrat", sans-serif;
    --verdeescuro: #006837;
    --branco: #FFFFFF;
    --laranja: #E68A00;
    --marrom: #493A31;
    --corlayouts: #f2f2f2;
}

.section-sobre{
    margin: 150px 200px 100px 200px;
    height: auto;
    width: auto;
}

.title-sobre, .tittle-bx{
   color: var(--marrom);
   font-size: 3.3em;
}

.description{
    font-weight: 500;
    font-size: 1.35em;
    color: var(--marrom);
}

.content-sobre{
    align-items: center;
    justify-content: flex-start;
    display: flex;
}

.imagem-agrobox{
    margin-left: 100px;
}

.imagem-agrobox img{
    max-width: 500px;
    height: 100%;
    object-fit: contain;
    outline: none;
    display: block;
    object-fit: contain;
}

.agro-imagem img{
    outline: none;
    width: 100%;
    height: 550px;
    display: block;
    object-fit: contain;
    border-bottom: none;
    margin-right: 50px;
    margin-left: 100px;
}

/* parte seção nosso diferencial */

.sobre-nos{
    background-color: var(--corprincipal);
    width: 100%;
    height: 550px;
    display: flex;
    margin-bottom: 150px;
}

.content-diferencial{
    margin-top: 70px;
}

.tittle-bx{
    font-size: 3em;
    font-weight: 600;
    color: var(--branco);
    margin-top: 40px;
}

.text-sobre{
    margin-top: 40px;
    font-size: 1.35em;
    color: var(--branco);
    font-weight: 500;
}