 /*inicio css slider*/

 /*passagem dos sliders*/
 .slider {
    width: 100%;
    overflow: hidden;
    position: relative;
  }
  
  .slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }
  
  /*imagens do slider*/
  .slide img {
    min-width: 100%;
    box-sizing: border-box;
    width: 1484px;
    height: 233px;
    padding: 2px 2px 2px 2px;
    line-height: normal;
  }

  
  
