 /*inicio css slider*/

 /*passagem dos sliders*/

:root {
  --backgroundcolor: #fcf2e6;
  --corprincipal: #5aa403;
  --cortexto: rgb(255, 255, 255);
  --fonteprincipal: "Montserrat", sans-serif;
}

 .slider {
  max-width: 100vw;
  overflow: hidden;
  height: 230px;
  margin: 0 auto;
  box-sizing: border-box;
  
}

.slides {
  display: flex;
  transition: transform 0.5s ease-in-out;
  
}

.slides input{
  display: none;
}

/*imagens do slider*/

.slide img {
  margin: auto;
  width: 100vw;
  overflow: hidden;
  box-sizing: border-box;
  height: 230px;
  line-height: normal;
  object-fit: cover;
  
}




    /* COMEÇO CARROSÉIS */



        /* CAROSSEL 1 */


.carrosel{
  max-width: 60vw;
  height: 60vh;
  box-sizing: border-box;
  background-color: #ddf0e6; /* Cor de fundo verde */
}

.radios li {
  list-style: none;
}
.radios img {
    margin:auto;
    height: 200x;
    width: 600px;
    opacity: 0;
    visibility: visible;    
   
}
.radios input {
    display: none;
}
.radios label {
    background-color: #519575;
    bottom: 15px;
    height: 15px;
    width: 15px;
    cursor: pointer;
    position: absolute;
    border-radius: 50%;
}

.radios li:nth-child(1) label {
    left: 30px;
}

.radios li:nth-child(2) label {
    left: 30px;
}

.radios li:nth-child(3) label {
   left: 30px;
}

.radios li input:checked ~ img {
    opacity: 1;
    visibility: visible;
    z-index: 10;
}


  /* CAROSSEL 2 */
 
.carrosel-2 {
  max-width: 60vw;
  height: 60vh;
  box-sizing: border-box;
  background-color: #ddf0e6; /* Cor de fundo verde */
}

.auto-radios li {
  list-style: none;
}
.auto-radios img {
    margin:auto;
    height: 200x;
    width: 600px;
    opacity: 0;
    visibility: visible;    
   
}
.auto-radios input {
    display: none;
}
.auto-radios label {
    background-color: #519575;
    bottom: 15px;
    height: 15px;
    width: 15px;
    cursor: pointer;
    position: absolute;
    border-radius: 50%;
}

.auto-radios li:nth-child(1) label {
    left: 30px;
}

.auto-radios li:nth-child(2) label {
    left: 30px;
}

.auto-radios li:nth-child(3) label {
   left: 30px;
}

.auto-radios li input:checked ~ img {
    opacity: 1;
    visibility: visible;
    z-index: 10;
}



      /* BANNER PROMOÇÃO ASSINATURA */

      
.agro-assinatura {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #056934; /* Cor de fundo verde */
  padding: 20px;
  color: white;
  margin-top: 70px;
}

.agro-content {
  
  padding-left: 100px;
  max-width: 60%; /* Limita o espaço ocupado pelo texto */
}

.agro-content h1 {
  font-size: 3.0em;
  font-weight: bold;
  margin-bottom: 30px;
 
}

.agro-content h1 span {
  color: var(--corprincipal) /* Cor verde diferente para a palavra Agro+ */
}

.agro-content ul {
  list-style-type: disc; /* Bolinhas antes dos itens */
  padding-left: 50px;
}

.agro-content ul li {
  margin-bottom: 5px; /* Espaçamento entre as linhas */
  font-size: 1.35em;
}

.agro-imagem {
 justify-content: center;
  
}

.agro-imagem img {
  width: 100%;
  height: auto;
  object-fit: contain;
}





    /* CAROSSEL 3 */


    
.container {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 50vh;
}

.card-list{
  font-size: 17px;
  color:  #493a31;

}
.card-list .card-item { 
  width: 1068px;
  height: 259px;
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(30px); /*não faço ideia */
  background: #fff;
}

.card-list .card-item .user-image {
  width: 170px;
  height: 170px;
  margin: center;
  margin-left: 80px;
}

.card-list .card-item .user-profession {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.15rem;
  color: #333333;
  font-weight: 500;
  margin: 14px 0 30px; /*14 de margem 0 para ambos os lados e 40 de borda inferior*/
}

.card-list .card-item .message-button {
  font-size: 18px;
  padding: 10px 35px;
  color: #308467;
  border-radius: 6px;
  font-weight: 500;
 
  cursor: pointer;
  background: #fff;
  border: 1px solid transparent;
  transition: 0.2s ease;
}

.card-list .card-item .message-button.message-button:hover{
  background: #308467;
  border: 1px solid #fff;
  color: var(--cortexto);
}




    /*  SOBRE AGROBOX  */


.sobre-agrobox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #056934; /* Cor de fundo verde */
  padding: 20px;
  margin-bottom: 70px;
  color: white;
}

.content-Agrobox {
  padding-left: 100px;
  max-width: 60%; /* Limita o espaço ocupado pelo texto */
}

.content-Agrobox h1 {
  font-size: 2.5em;
  font-weight: bold;
  margin-bottom: 30px;

}

.content-Agrobox h1 span {
  color: var(--corprincipal) /* Cor verde diferente para a palavra Agro+ */
}

.content-Agrobox ul {
  list-style-type: disc; /* Bolinhas antes dos itens */
  padding-left: 50px;
}

.content-Agrobox ul li {
  margin-bottom: 5px; /* Espaçamento entre as linhas */
  font-size: 1.35em;
}

.agrobox-imagem {
justify-content: center;

  
}

.agrobox-imagem img {
  width: 100%;
  height: auto;
  object-fit: contain;
  border-radius: 13px;
}
      
.message-button-agrobox {
  font-size: 18px;
  padding: 10px 35px;
  color:  #71b21e;
  border-radius: 6px;
  font-weight: 500;
  cursor: pointer;
  border: 1px solid transparent;
  transition: 0.2s ease;
}

 .message-button-agrobox.message-button-agrobox:hover{
  background: #308467;
  border: 1px solid #fff;
  color: var(--cortexto);
}

