:root {
    --backgroundcolor: #FCF2E6;
    --corprincipal: #5AA504;
    --cortexto: rgb(255, 255, 255);
    --fonteprincipal: "Montserrat", sans-serif;
    --verdeescuro: #006837;
    --branco: #FFFFFF;
    --laranja: #E68A00;
    --marrom: #493A31;
    --marromClaro: rgba(98, 78, 66, 0.99);
    --corlayouts: #f2f2f2;
}



.details-perfil{
    margin-left: 150px;
    padding: 20px;
    margin-top: 50px;
    display: flex;
}

.imagem-perfil{
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: 0px 12px 5px 0px rgba(0, 0, 0, 0.35);
    display: flex;
    width: 300px;
    height: 270px;
    background-color: white;
    justify-content: center;
    align-items: center;
}

.imagem-perfil img{
    padding: 10px;
    width: 230px;
    height: 230px;
    display: block;
    object-fit: contain;
}

.tudo-perfil{
    display: flex;
}

.details{
    margin-left: 60px;
    margin-top: 20px;
}

.details h1{
    color: var(--marrom);
    font-size: 2.5em;
    font: bold;
}

.details .p-title{
    color: var(--marrom);
    font-size: 1.8em;
    font-weight: 500;
}

.details .p-avaliacao{
    color: var(--marrom);
    font-size: 1.5em;
    font-weight: 500;
    line-height: auto;
    align-items: center;
    justify-content: center;
}

.details strong{
    color: #f5a83c;
    font-size: 1.8em;
    font-weight: 450;
}

.details span{
    margin-left: 4px;
    color: #f5a83c;
    font-weight: 500;
    font-size: 0.92em;
}

.btn-chat{
    margin-top: 20px;
    border: none;
    width: 200px;
    height: 50px;
    padding: 2px;
    font-size: 18px;
    border-radius: 5px;
    background-color: #5aa504;
    box-sizing: border-box;
    font-family: "Arial", sans-serif;
    color: #ffffff;
    text-align: center;
    line-height: normal;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-chat:hover {
    opacity: 0.8;
}

.sobre-perfil{
    margin-left: 130px;
}

.sobre-perfil h1{
    color: var(--marrom);
    font-size: 1.75em;
    font-weight: bold;
    line-height: auto;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 20px;
}

.sobre-perfil p{
    color: var(--marrom);
    font-size: 1.4em;
    font-weight: 450;
    line-height: auto;
    align-items: center;
    justify-content: center;
}


.tituloProduto{
    margin-left: 170px;
    margin-top: 90px;
    margin-bottom: 55px;
    font-size: 35px;
    color: var(--marrom);
    text-align: left;
}

.todos-produtos-p{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 100px;
}