<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AgroBox</title>
    <link rel="icon" href="imagens/logo.png">
    <link rel="stylesheet" href="css/estilo.css">
    <link rel="stylesheet" href="css/agro.css">
    <link rel="stylesheet" href="css/box.css">
</head>

<body>  
     <!-- NavBar -->
    <%- include('../partials/navbar'); %>
<section class="ambos-box">
    <section class="primeiro-box">
    
        <section class="texto-box">
            <h1 class="titulo-box">FAÇA SUA BOX</h1>
            <h3 class="descricao-box">Monte sua própria <strong class="strong">"box"</strong> de produtos agrícolas frescos e receba em casa, uma vez ou todo mês, do jeito que você quiser!</h3>
            <a href="/faca-box">
            <button class="FAÇA-SUA-BOX">Monte sua Box</button>
            </a>
        </section>

        <section class="imagem-primeiro-box">
            <img src="imagens/homembox2.png" alt="homem segurando caixa">
        </section>
    </section>

    <section class="segundo-box">
        <section class="imagem-segundo-box">
            <img src="imagens/madeira-fruta.png" alt="homem segurando caixa">
        </section>

        <section class="descricao-box2">
            <p>Com a nossa funcionalidade "Box", 
            você pode personalizar sua própria seleção 
            de produtos agrícolas frescos, escolhendo 
            exatamente o que deseja receber em cada 
            entrega. Seja uma única vez ou com a 
            comodidade de um serviço de assinatura 
            mensal, você tem a liberdade de montar 
            uma caixa que atende às suas preferências 
            e necessidades. Aproveite a variedade e a 
            qualidade dos nossos produtos direto do campo 
            para a sua mesa, na frequência que melhor se 
            adapta ao seu estilo de vida.</p>
        </section>
    </section>
</section>

<!-- terceiro box -->

<section class="terceiro-box">
    <h1 class="titulo-terceiro-box">PREMIUM</h1>
    <section class="conteudo-premium">
        <p class="descricao-terceiro-box">
            Com o Premium, você desbloqueia uma experiência ainda mais exclusiva. 
            Tenha acesso a uma maior variedade e quantidade de produtos para personalizar sua box. Além disso, 
            desfrute de entregas prioritárias, frete grátis em todas as suas compras e benefícios adicionais que 
            fazem sua experiência ser ainda mais conveniente e satisfatória. Seja para um único pedido, mensais ou 
            semanais, o Premium oferece a máxima qualidade e serviço direto à sua porta.
        </p>
        <section class="assine-agro-premium">
            <h2 class="AGRO-PREMIUM">AGRO PREMIUM</h2>
            <ul class="topicos-premium">
                <li>Frete grátis</li>
                <li>Box Semanal</li>
                <li>Aumento de produtos por box</li>
            </ul>
            <h2 class="preco-premium">R$99,99</h2>
            <a href="/premium">
            <button class="assine-ja">ASSINE JÁ</button>
            </a>
        </section>
    </section>
</section>

    <!-- Rodapé -->
    <%- include('../partials/footer'); %>
</body>
</html>
