<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AgroBox</title>
    <link rel="stylesheet" href="css/estilo.css">
    <link rel="stylesheet" href="css/agro.css">
    <link rel="stylesheet" href="css/box.css">
</head>

<body>  
     <!-- NavBar -->
    <%- include('../partials/navbar'); %>

    <section class="primeiro-box">
        <section class="texto-box">
            <h1 class="titulo-box">FAÇA SUA BOX</h1>
            <h3 class="descricao-box">Monte sua própria "box" de produtos agrícolas frescos e receba em casa, uma vez ou todo mês, do jeito que você quiser!</h3>
            <button class="FAÇA-SUA-BOX">Monte sua Box</button>
        </section>

        <section class="imagem-primeiro-box">
            <img src="imagens/homembox.png" alt="homem segurando caixa">
        </section>
    </section>

    <!-- Rodapé -->
    <%- include('../partials/footer'); %>
</body>
</html>
