<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AgroBox</title>
    <link rel="icon" href="imagens/logo.png">
    <link rel="stylesheet" href="css/home.css">
    <link rel="stylesheet" href="css/agro.css">
    <link rel="stylesheet" href="css/box.css">
    <link rel="stylesheet" href="css/premium.css">
</head>

<body>  

     <!-- NavBar -->
    <%- include('../partials/navbar'); %>

    <!-- CONTEUDO BOX -->

<main class="ambos-box">
    <section class="primeiro-box">
    
        <section class="texto-box">
            <h1 class="titulo-box">FAÇA SUA BOX</h1>
            <h3 class="descricao-box">Monte sua própria <strong class="strong">"box"</strong> de produtos agrícolas frescos e receba em casa, uma vez ou todo mês, do jeito que você quiser!</h3>
            <a href="/faca-box">
            <button class="FAÇA-SUA-BOX">Monte sua Box</button>
            </a>
        </section>

        <section class="imagem-primeiro-box">
            <img src="imagens/homembox2.png" alt="homem segurando caixa">
        </section>
    </section>

    <section class="segundo-box">
        <section class="imagem-segundo-box">
            <img src="imagens/madeira-fruta.png" alt="homem segurando caixa">
        </section>

        <section class="descricao-box2">
            <p>Com a nossa funcionalidade "Box", 
            você pode personalizar sua própria seleção 
            de produtos agrícolas frescos, escolhendo 
            exatamente o que deseja receber em cada 
            entrega. Seja uma única vez ou com a 
            comodidade de um serviço de assinatura 
            mensal, você tem a liberdade de montar 
            uma caixa que atende às suas preferências 
            e necessidades. Aproveite a variedade e a 
            qualidade dos nossos produtos direto do campo 
            para a sua mesa, na frequência que melhor se 
            adapta ao seu estilo de vida.</p>
        </section>
    </section>
</main>

<!-- terceiro box -->

<main class="terceiro-box">
    <h1 class="titulo-terceiro-box">PREMIUM</h1>
    <h2 class="tittlePremiumBox">RECOMENDADO</h2>
    <section class="conteudo-premium">
        
        <p class="descricao-terceiro-box">
            Com o Premium, você desbloqueia uma experiência ainda mais exclusiva. 
            Tenha acesso a uma maior variedade e quantidade de produtos para personalizar sua box. Além disso, 
            desfrute de entregas prioritárias, frete grátis em todas as suas compras e benefícios adicionais que 
            fazem sua experiência ser ainda mais conveniente e satisfatória. Seja para um único pedido, mensais ou 
            semanais, o Premium oferece a máxima qualidade e serviço direto à sua porta.
        </p>

        <section class="premiumV-Total1">
            <section class="premium-Laranja">
                <article class="text-premium">
                    <h1 class="title">AgroPremium</h1>
                    <h2 class="title2">R$69,90</h2>
                </article>
            </section>
        
                <section class="premium-Branco">
                    <article class="text-premium">
                        <ul class="text-lista">
                        <li>Frete grátis</li>
                        <li>Box com até 30 produtos.</li>
                        <li>Box semanal</li>
                        </ul>
                        <a class="linksPremium"  href="/premium"><button class="button-premium">ASSINAR</button></a>
                    </article>
                </section>
                
        </section>
        
        <section class="premiumV-Total1">
        
            <section class="premium-Marrom">
                <article class="text-premium">
                    <h1 class="title">Agro+</h1>
                    <h2 class="title2Verde">R$39,90</h2>
                </article>
            </section>
        
            <section class="premium-Branco">
                <article class="text-premium">
                    <ul class="text-lista">
                        <li>Desconto no Frete</li>
                        <li>Box com até 20 produtos.</li>
                    </ul>
                    <a  class="linksPremium" href="/premium"><button class="button-premium">ASSINAR</button></a>
                </article>
            </section>
        
        </section>
    </section>
</main>

    <!-- Rodapé -->
    <%- include('../partials/footer'); %>
    
</body>
</html>
