<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AgroBox</title>
    <link rel="icon" href="imagens/logo.png">
    <link rel="stylesheet" href="css/home.css">
    <link rel="stylesheet" href="css/agro.css">
    <link rel="stylesheet" href="css/cadastre-se.css">
    <link rel="stylesheet" href="css/LoginsMobile.css">
    <style>
        .error-message {
            color: red;
            display: none;
        }
    </style>
</head>
<body> 
    <a href="/"> <button class="voltar">Voltar Para Home</button></a>

    <main class="bodydoPerfil">  
        <section class="container">
            <section class="banner">
                <h1>Seja <br> Bem Vindo </h1>
                <a href="/"><img src="imagens/logo.png" alt="logo da agroBox"></a>
            </section>
            <section class="cantinhoLogo">
                <form class="cadastro-form" action="/login" method="POST">
                    <h1>Cadastre-se</h1>
                    <section class="input-group">
                        <i class="fas far-enveloper"></i>
                        <h3>Entre com seu e-mail </h3>
                        <input type="email" name="email" placeholder="Ex: seuemail@gmail.com">
                        <p class="error-message" id="email-error">Por favor, insira um email válido.</p>
                    </section>
                    <section class="input-group">   
                        <i class="fas far-lock"></i>
                        <h3>Sua senha</h3>
                        <input type="password" name="password" placeholder="Senha">
                        <p class="error-message" id="password-error">A senha deve ter pelo menos 6 caracteres.</p>
                    </section>
                    <section class="input-group">
                        <i class="fas far-lock"></i>
                        <h3>Confirmar senha</h3>
                        <input type="password" name="confirm-password" placeholder="Senha">
                        <p class="error-message" id="confirm-password-error">As senhas não correspondem.</p>
                    </section>  
                    <button type="submit" class="entrar">Cadastrar</button>
                    <p class="texto-entrar">Já tem conta no AgroBox?<a class="text-cadastro"  action="/login" method="POST" href="/login"> Acesse aqui!</a></p>
                </form>
            </section>
        </section>
    </main>

    <main class="bodydoPerfilMobile">  
        <section class="containerMobile">
            <section class="bannerMobile">
                <a href="/"><img src="imagens/logo.png" alt="logo da agroBox"></a>
            </section>

            <section class="cantinhoLogo">
                <form class="cadastro-form" action="/login" method="POST">
                    <h1>Cadastre-se</h1>
                    <section class="input-group">
                        <i class="fas far-enveloper"></i>
                        <h3>Entre com seu e-mail </h3>
                        <input type="email" name="email" placeholder="Ex: seuemail@gmail.com">
                        <p class="error-message" id="email-error">Por favor, insira um email válido.</p>
                    </section>
                    <section class="input-group">   
                        <i class="fas far-lock"></i>
                        <h3>Sua senha</h3>
                        <input type="password" name="password" placeholder="Senha">
                        <p class="error-message" id="password-error">A senha deve ter pelo menos 6 caracteres.</p>
                    </section>
                    <section class="input-group">
                        <i class="fas far-lock"></i>
                        <h3>Confirmar senha</h3>
                        <input type="password" name="confirm-password" placeholder="Senha">
                        <p class="error-message" id="confirm-password-error">As senhas não correspondem.</p>
                    </section>  
                    <button type="submit" class="entrar">Cadastrar</button>
                    <p class="texto-entrar">Já tem conta no AgroBox?<a class="text-cadastro"  action="/login" method="POST" href="/login"> Acesse aqui!</a></p>
                </form>
            </section>
            
        </section>
        <a href="/"> <button class="voltarMobile">Voltar Para Home</button></a>
    </main>

    <script src="js/validacaocadastro.js"></script>
</body>
</html>
