<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AgroBox</title>
    <link rel="icon" href="imagens/logo.png">
    <link rel="stylesheet" href="css/home.css">
    <link rel="stylesheet" href="css/agro.css">
    <link rel="stylesheet" href="css/cadastroVendedor.css">
    <style>
        .error-message {
            color: red;
            display: none;
        }
    </style>
</head>
<body> 
    <main class="bodydoPerfil">  
        <section class="container">
            <section class="banner">
                <h1>Seja <br> Bem-vindo </h1>
                <img src="imagens/logo.png" alt="logosingup">
            </section>
            <section class="cantinhoLogo">
                <form class="cadastro-form" action="/loginV" method="POST">
                    <h1>Cadastre-se</h1>
                    <section class="input-group">
                        <i class="fas far-enveloper"></i>
                        <h3>Seu CNPJ</h3>
                        <input type="text" name="cnpj" placeholder="Ex: 00000000000000">
                        <p class="error-message" id="cnpj-error">Por favor, insira um CNPJ válido.</p>
                    </section>
                    <section class="input-group">
                        <i class="fas far-enveloper"></i>
                        <h3>Seu CPF</h3>
                        <input type="text" name="cpf" placeholder="Ex: 00000000000">
                        <p class="error-message" id="cpf-error">Por favor, insira um CPF válido.</p>
                    </section>
                    <section class="input-group">
                        <i class="fas far-enveloper"></i>
                        <h3>Seu e-mail</h3>
                        <input type="email" name="email" placeholder="Ex: seuemail@gmail.com">
                        <p class="error-message" id="email-error">Por favor, insira um email válido.</p>
                    </section>
                    <section class="input-group">   
                        <i class="fas far-lock"></i>
                        <h3>Sua senha</h3>
                        <input type="password" name="password" placeholder="Senha">
                        <p class="error-message" id="password-error">A senha deve ter pelo menos 6 caracteres.</p>
                    </section>
                    <section class="input-group">
                        <i class="fas far-lock"></i>
                        <h3>Confirmar senha</h3>
                        <input type="password" name="confirm-password" placeholder="Senha">
                        <p class="error-message" id="confirm-password-error">As senhas não correspondem.</p>
                    </section>  
                    <button type="submit" class="entrar">Cadastrar</button>
                    <p class="texto-entrar">Já tem conta no AgroBox?<a class="text-cadastro" href=""> Acesse aqui!</a></p>
                </form>
            </section>
        </section>
    </main>
    <script src="js/validacaovendedor.js"></script>
</body>
</html>


