<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AgroBox</title>
    <link rel="icon" href="imagens/logo.png">
    <link rel="stylesheet" href="css/estilo.css">
    <link rel="stylesheet" href="css/agro.css">
    <link rel="stylesheet" href="css/cadastroVendedor.css">

</head>

<body> 
    
    <main class="bodydoPerfil">  
        <section class="container">
                <section class="banner">
                    <h1>Seja <br> Bem Vindo </h1>
                    <img src="imagens/logo.png" alt="logosingup">
                </section>
                <section class="cantinhoLogo">
                    <form class="cadastro-form">
                        <h1>Cadastre-se</h1>
                        
                        <section class="input-group">
                            <i class="fas far-enveloper"></i>
                            <h3>Seu CNPJ  </h3>
                            <input type="email" placeholder="Ex: seuemail@gmail.com">
                        </section>

                        <section class="input-group">
                            <i class="fas far-enveloper"></i>
                            <h3>Seu CPF  </h3>
                            <input type="email" placeholder="Ex: seuemail@gmail.com">
                        </section>

                        <section class="input-group">
                            <i class="fas far-enveloper"></i>
                            <h3>Seu e-mail </h3>
                            <input type="email" placeholder="Ex: seuemail@gmail.com">
                        </section>

                        <section class="input-group">   
                            <i class="fas far-lock"></i>
                            <h3>Sua senha</h3>
                            <input type="password" placeholder="Senha">
                        </section>

                        <section class="input-group">
                            <i class="fas far-lock"></i>
                            <h3>Confirmar senha</h3>
                            <input type="" placeholder="Senha">
                        </section>  

                        <!-- <a href=""><img src="" alt="Imagem de icone do google"></a>
                        <a href=""><img src="" alt="Imagem de icone da apple"></a> -->

                        
                        <a class="entrar" href="/loginV">Cadastrar</a>
                        <p>Ja tem conta no AgroBox?<a class="text-cadastro" href="/loginV"> Acesse aqui!</a></p>
                    </form>
            </section>
            </section>
        </section>
    </main>
    
</body>
</html>

        <!-- Script -->
<script src="singup.ejs"> </script>
