<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AgroBox</title>
    <link rel="icon" href="imagens/logo.png">
    <link rel="stylesheet" href="css/estilo.css">
    <link rel="stylesheet" href="css/agro.css">
    <link rel="stylesheet" href="css/carrinho.css">

    
</head>

<body>  
     <!-- NavBar -->
    <%- include('../partials/navbar'); %>

   
    </header>

    <body>

        <script src="js/carrinho.js"> </script>

        
        <div class="container">
            <h1>Carrinho de Compras</h1>
    
            <div class="cart-items">
                <div class="cart-item">
                    <input type="checkbox" id="item1">
                    <img src="imagens/maça.png" alt="Produto 1">
                    <div class="details">
                        <h3>Nome Do Produto</h3>
                        <p class="vendor">Nome Do Vendedor</p>
                        <div class="quantity">
                            <button>-</button>
                            <input type="number" class="input-quantity" value="1" min="1">
                            <button>+</button>
                        </div>
                    </div>
                    <div class="price">R$000,00</div>
                    <div class="remove">
                        <i class="fas fa-trash-alt"></i> Excluir
                    </div>
                </div>
    
                <div class="cart-item">
                    <input type="checkbox" id="item2">
                    <img src="imagens/maça.png" alt="Produto 2">
                    <div class="details">
                        <h3>Nome Do Produto</h3>
                        <p class="vendor">Nome Do Vendedor</p>
                        <div class="quantity">
                            <button>-</button>
                            <input type="number" claass="input-quantity" value="1" min="1">
                            <button>+</button>
                        </div>
                    </div>
                    <div class="price">R$000,00</div>
                    <div class="remove">
                        <i class="fas fa-trash-alt"></i> Excluir
                    </div>
                </div>
    
                <div class="cart-item">
                    <input type="checkbox" id="item3">
                    <img src="imagens/maça.png" alt="Produto 3">
                    <div class="details">
                        <h3>Nome Do Produto</h3>
                        <p class="vendor">Nome Do Vendedor</p>
                        <div class="quantity">
                            <button>-</button>
                            <input type="number" class="input-quantity" value="1" min="1">
                            <button>+</button>
                        </div>
                    </div>
                    <div class="price">R$000,00</div>
                    <div class="remove">
                        <i class="fas fa-trash-alt"></i> Excluir
                    </div>
                </div>
            </div>
    
            <div class="summary">
                <h2>Resumo do Pedido</h2>
                <div class="item">
                    Produtos(2)
                    <span>R$000,00</span>
                </div>
                <div class="item">
                    Frete:
                    <span>R$000,00</span>
                </div>
                <div class="item">
                    Inserir cupom de desconto
                    <i class="fas fa-tag"></i>
                </div>
                <div class="total">
                    Total: <span>R$000,00</span>
                </div>
                <button class="checkout-button">Finalizar Compra</button>
            </div>
    
            <div class="shipping-calculator">
                <h3>Calcular frete e prazo de entrega</h3>
                <input type="text" placeholder="Digite seu CEP">
                <button>CALCULAR</button>
            </div>
        </div>
        <script src="https://kit.fontawesome.com/your-font-awesome-kit-id.js" crossorigin="anonymous"></script>
        <%- include('../partials/footer'); %>
    </body>
</html>

        <!-- Script -->
<script src="#"> </script>


<!-- git config --global user.email "you@example.com" -->

