<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AgroBox</title>
    <link rel="icon" href="imagens/logo.png">
    <link rel="stylesheet" href="css/home.css">
    <link rel="stylesheet" href="css/agro.css">
    <link rel="stylesheet" href="css/carroseis.css">
    <link rel="stylesheet" href="css/carrinho.css">
    <script async src="js/carrinho.js"> </script>
</head>

<body>  
     <!-- NavBar -->
    <%- include('../partials/navbar'); %>
</header>

    

<main class="container">
      <h1>Carrinho de Compras</h1>

        <section class="conteudo">

            <article class="cart-itens">

                <p class="empty-cart-message" style="display: none;">Seu carrinho está vazio.</p>
                <p class="empty-cart-message2" style="display: none;">Adicione produtos para montar seu Carrinho.</p>

                <article class="cart-item">
                    <article class="imagem-Maçã">
                        <img src="imagens/maça.png" alt="Produto 1">
                    </article>
                    <article class="details">
                        <h3 class="cart-product-title">Maçã Fuji (300g)</h3>
                        <p class="vendor">Nome Do Vendedor</p>
                        <article class="quantity">
                            <button class="menos">-</button>
                            <input type="number" class="product-quantity" value="1" min="1"> 
                            <button class="mais">+</button>
                        </article>
                    </article>
                    
                    <article class="price">
                        <h3 class="cart-item-price">R$10,00</h3>
                    <article class="remove">
                        <img class="removimg" src="imagens/icon_lixeira.png" alt="icone de uma lixeira">  
                        <i class="excluir">Excluir</i> 
                    </article>
                </article>
                </article>

                <article class="cart-item">
                    <article class="imagem-Maçã">
                        <img src="imagens/laranja.png" alt="Produto 1">
                    </article>

                    <article class="details">
                        <h3 class="cart-product-title">Laranja Lima (160g)</h3>
                        <p class="vendor">Nome Do Vendedor</p>
                        <article class="quantity">
                            <button class="menos">-</button>
                            <input type="number" class="product-quantity" value="2" min="1"> 
                            <button class="mais">+</button>
                        </article>
                    </article>
                    
                    <article class="price">
                        <h3 class="cart-item-price">R$10,00</h3>
                        <article class="remove">
                            <img class="removimg" src="imagens/icon_lixeira.png" alt="icone de uma lixeira">  
                            <i class="excluir">Excluir</i> 
                        </article>
                    </article>
                </article>
                
                <article class="cart-item">
                    <article class="imagem-Maçã">
                        <img src="imagens/abacaxi.png" alt="Produto 1">
                    </article>

                    <article class="details">
                        <h3 class="cart-product-title">Abacaxi Pérola (200g)</h3>
                        <p class="vendor">Nome Do Vendedor</p>
                        <article class="quantity">
                            <button class="menos">-</button>
                            <input type="number" class="product-quantity" value="1" min="1"> 
                            <button class="mais">+</button>
                        </article>
                    </article>
                    
                    <article class="price">
                        <h3 class="cart-item-price">R$10,00</h3>
                        <article class="remove">
                            <img class="removimg" src="imagens/icon_lixeira.png" alt="icone de uma lixeira">  
                            <i class="excluir">Excluir</i> 
                        </article>
                    </article>
                </article>

            </article>
           
            <section class="pedido-final">
                <section class="resumo">
                        <h2>Resumo do Pedido</h2>

                        <article class="item">
                            Produtos<span class="cart-count">0</span>
                            
                            <strong id="total-value">R$000,00</strong>
                        </article>

                        <article class="item-frete">
                            Frete:
                            <strong>R$000,00</strong>
                        </article>

                        <article class="item-cupom">
                            <section>
                                Inserir cupom de desconto
                                <i class="cupom">
                                    <img src="imagens/icon_cupom.png" alt="icone de cupom">
                                </i>
                            </section>
                           
                        </article>
                        <section class="content-cupom">
                            <input type="text" id="cupom" placeholder="Digite o codigo do cupom">
                            <button class="botao-cupom" onclick="validarCupom()">Adicionar cupom</button>
                            <p id="-mensagem" style="color: red;"></p> <!-- Mensagem de validação -->
                        </section>
                            
                        
                        
                        <article class="total">
                            Total: 
                            <strong>R$000,00</strong>
                        </article>

                        <button class="checkout-button">Finalizar Compra</button>

                        

                </section>
                <section class="finalizar-compra">
                    <article class="content-text">
                    <h3>Calcular frete e prazo de entrega</h3>
                    <input type="text" id="cep" placeholder="Digite seu CEP" oninput="formatarCEP(this)">
                    <button onclick="validarCEP()">CALCULAR</button>
                    <p id="cep-mensagem" style="color: red;"></p> <!-- Mensagem de validação -->
                    </table>
                </section>
            </section>

</main>

<main class="frutas-section">
   
    <article class="seta">
    <h2 class="section-title">Mais Sobre</h2>
    <section class="carousel-container">
        <article class="carousel">

            <section class="carousel-item">
                <img src="imagens/maça.png" alt="Imagem de uma Maçã Fuji" class="product-image">
                <article class="product-info">
                    <h3 class="product-name">Maçã Fuji (300g)</h3>
                    <p class="seller-name">NomedoVendedor</p>
                    <p class="product-price">R$ 10,00</p>
                    <button class="add-to-cart"> ADICIONAR </button>
                </article>
            </section>
            
            <article class="carousel-item">
                <strong class="desconto"> -10% OFF </strong>
                <img src="imagens/maça.png" alt="Imagem de uma Maçã Fuji" class="product-image">
                <article class="product-info">
                    <h3 class="product-name">Maçã Fuji (300g)</h3>
                    <p class="seller-name">NomedoVendedor</p>
                    <p class="product-price">R$ 00,00</p>
                    <button class="add-to-cart"> ADICIONAR </button>
                </article>
            </article>
            <article class="carousel-item">
                <img src="imagens/maça.png" alt="Imagem de uma Maçã Fuji" class="product-image">
                <article class="product-info">
                    <h3 class="product-name">Maçã Fuji (300g)</h3>
                    <p class="seller-name">NomedoVendedor</p>
                    <p class="product-price">R$ 00,00</p>
                    <button class="add-to-cart"> ADICIONAR </button>
                </article>
            </article>
            <article class="carousel-item">
                <strong class="desconto"> -10% OFF </strong>
                <img src="imagens/maça.png" alt="Imagem de uma Maçã Fuji" class="product-image">
                <article class="product-info">
                    <h3 class="product-name">Maçã Fuji (300g)</h3>
                    <p class="seller-name">NomedoVendedor</p>
                    <p class="product-price">R$ 00,00</p>
                    <button class="add-to-cart"> ADICIONAR </button>
                </article>
            </article>
            <article class="carousel-item">
                <img src="imagens/maça.png" alt="Imagem de uma Maçã Fuji" class="product-image">
                <article class="product-info">
                    <h3 class="product-name">Maçã Fuji (300g)</h3>
                    <p class="seller-name">NomedoVendedor</p>
                    <p class="product-price">R$ 00,00</p>
                    <button class="add-to-cart"> ADICIONAR </button>
                </article>
            </article>
            
            
            <article class="carousel-item">
                <img src="imagens/laranja.png" alt="Imagem de uma Laranja" class="product-image">
                <article class="product-info">
                    <h3 class="product-name">Laranja Lima (160g)</h3>
                    <p class="seller-name">NomedoVendedor</p>
                    <p class="product-price">R$ 10,00</p>
                    <button class="add-to-cart"> ADICIONAR </button>
                </article>
            </article>
            <article class="carousel-item">
                <strong class="desconto"> -10% OFF </strong>
                <img src="imagens/laranja.png" alt="Imagem de uma Laranja" class="product-image">
                <article class="product-info">
                    <h3 class="product-name">Laranja Lima (160g)</h3>
                    <p class="seller-name">NomedoVendedor</p>
                    <p class="product-price">R$ 10,00</p>
                    <button class="add-to-cart"> ADICIONAR </button>
                </article>
            </article>
            <article class="carousel-item">
                
                <img src="imagens/laranja.png" alt="Imagem de uma Laranja" class="product-image">
                <article class="product-info">
                    <h3 class="product-name">Laranja Lima (160g)</h3>
                    <p class="seller-name">NomedoVendedor</p>
                    <p class="product-price">R$ 10,00</p>
                    <button class="add-to-cart"> ADICIONAR </button>
                </article>
            </article>
            <article class="carousel-item">
                <strong class="desconto"> -10% OFF </strong>
                <img src="imagens/laranja.png" alt="Imagem de uma Laranja" class="product-image">
                <article class="product-info">
                    <h3 class="product-name">Laranja Lima (160g)</h3>
                    <p class="seller-name">NomedoVendedor</p>
                    <p class="product-price">R$ 10,00</p>
                    <button class="add-to-cart"> ADICIONAR </button>
                </article>
            </article>
            <article class="carousel-item">
                <img src="imagens/laranja.png" alt="Imagem de uma Laranja" class="product-image">
                <article class="product-info">
                    <h3 class="product-name">Laranja Lima (160g)</h3>
                    <p class="seller-name">NomedoVendedor</p>
                    <p class="product-price">R$ 10,00</p>
                    <button class="add-to-cart"> ADICIONAR </button>
                </article>
            </article>
            <article class="carousel-item">
                <img src="imagens/abacaxi.png" alt="Imagem de um Abacaxi" class="product-image">
                <article class="product-info">
                    <h3 class="product-name"> Abacaxi Pérola (200g) </h3>
                    <p class="seller-name">NomedoVendedor</p>
                    <p class="product-price">R$ 10,00</p>
                    <button class="add-to-cart"> ADICIONAR </button>
                </article>
            </article>
            <article class="carousel-item">
                <strong class="desconto"> -10% OFF </strong>
                <img src="imagens/abacaxi.png" alt="Imagem de um Abacaxi" class="product-image">
                <article class="product-info">
                    <h3 class="product-name"> Abacaxi Pérola (200g) </h3>
                    <p class="seller-name">NomedoVendedor</p>
                    <p class="product-price">R$ 10,00</p>
                    <button class="add-to-cart"> ADICIONAR </button>
                </article>
            </article>
            <article class="carousel-item">
                <img src="imagens/abacaxi.png" alt="Imagem de um Abacaxi" class="product-image">
                <article class="product-info">
                    <h3 class="product-name"> Abacaxi Pérola (200g) </h3>
                    <p class="seller-name">NomedoVendedor</p>
                    <p class="product-price">R$ 10,00</p>
                    <button class="add-to-cart"> ADICIONAR </button>
                </article>
            </article>
            <article class="carousel-item">
                <strong class="desconto"> -10% OFF </strong>
                <img src="imagens/abacaxi.png" alt="Imagem de um Abacaxi" class="product-image">
                <article class="product-info">
                    <h3 class="product-name"> Abacaxi Pérola (200g) </h3>
                    <p class="seller-name">NomedoVendedor</p>
                    <p class="product-price">R$ 10,00</p>
                    <button class="add-to-cart"> ADICIONAR </button>
                </article>
            </article>
            <article class="carousel-item">
                <img src="imagens/abacaxi.png" alt="Imagem de um Abacaxi" class="product-image">
                <article class="product-info">
                    <h3 class="product-name"> Abacaxi Pérola (200g) </h3>
                    <p class="seller-name">NomedoVendedor</p>
                    <p class="product-price">R$ 10,00</p>
                    <button class="add-to-cart"> ADICIONAR </button>
                </article>
            </article>
            <!-- Repetir o bloco "carousel-item" para cada produto -->
    </article>

            

    </section>
            <button class="carousel-control prev"><img src="imagens/seta-esquerda.png"></button>
            <button class="carousel-control next"><img src="imagens/seta-direita.png"></button>
</article>
            <article class="carousel-indicators">
                <button class="indicator"></button>
                <button class="indicator"></button>
                <button class="indicator"></button>
            </article>
</main>

    <script src="js/carroselFrutas.js"> </script>



    <main class="legumes-section">
        <article class="seta">
        <h2 class="section-title">Produtos Que Você Talvez Goste</h2>
    
        <section class="carousel-container2">
    
            <article class="carousel2">
                
                <article class="carousel-item2">
                    <img src="imagens/beterraba.png" alt="Imagem de uma Beterraba" class="product-image">
                    <article class="product-info">
                        <h3 class="product-name"> Beterraba Vermelha(330g)</h3>
                        <p class="seller-name2">NomedoVendedor</p>
                        <p class="product-price">R$ 10,00</p>
                        <button class="add-to-cart">ADICIONAR</button>
                    </article>
                </article>
                <article class="carousel-item2">
                    <strong class="desconto"> -10% OFF </strong>
                    <img src="imagens/beterraba.png" alt="Imagem de uma Beterraba" class="product-image">
                    <article class="product-info">
                        <h3 class="product-name"> Beterraba Vermelha(330g) </h3>
                        <p class="seller-name2">NomedoVendedor</p>
                        <p class="product-price">R$ 00,00</p>
                        <button class="add-to-cart">ADICIONAR</button>
                    </article>
                </article>
                <article class="carousel-item2">
                    <img src="imagens/beterraba.png" alt="Imagem de uma Beterraba" class="product-image">
                    <article class="product-info">
                        <h3 class="product-name"> Beterraba Vermelha(330g) </h3>
                        <p class="seller-name2">NomedoVendedor</p>
                        <p class="product-price">R$ 00,00</p>
                        <button class="add-to-cart">ADICIONAR</button>
                    </article>
                </article>
                <article class="carousel-item2">
                    <strong class="desconto"> -10% OFF </strong>
                    <img src="imagens/beterraba.png" alt="Imagem de uma Beterraba" class="product-image">
                    <article class="product-info">
                        <h3 class="product-name"> Beterraba Vermelha(330g) </h3>
                        <p class="seller-name2">NomedoVendedor</p>
                        <p class="product-price">R$ 00,00</p>
                        <button class="add-to-cart">ADICIONAR</button>
                    </article>
                </article>
                <article class="carousel-item2">
                    <img src="imagens/beterraba.png" alt="Imagem de uma Beterraba" class="product-image">
                    <article class="product-info">
                        <h3 class="product-name"> Beterraba Vermelha(330g)</h3>
                        <p class="seller-name2">NomedoVendedor</p>
                        <p class="product-price">R$ 00,00</p>
                        <button class="add-to-cart">ADICIONAR</button>
                    </article>
                </article>
    
                <article class="carousel-item2">
                    <img src="imagens/cenoura.png" alt="Imagem de uma Cenoura" class="product-image">
                    <article class="product-info">
                        <h3 class="product-name"> Cenoura Romance (150g) </h3>
                        <p class="seller-name2">NomedoVendedor</p>
                        <p class="product-price">R$ 00,00</p>
                        <button class="add-to-cart">ADICIONAR</button>
                    </article>
                </article>
                <article class="carousel-item2">
                    <strong class="desconto"> -10% OFF </strong>
                    <img src="imagens/cenoura.png" alt="Imagem de uma Cenoura" class="product-image">
                    <article class="product-info">
                        <h3 class="product-name"> Cenoura Romance (150g)</h3>
                        <p class="seller-name2">NomedoVendedor</p>
                        <p class="product-price">R$ 00,00</p>
                        <button class="add-to-cart">ADICIONAR</button>
                    </article>
                </article>
                <article class="carousel-item2">
                    <img src="imagens/cenoura.png" alt="Imagem de uma Cenoura" class="product-image">
                    <article class="product-info">
                        <h3 class="product-name"> Cenoura Romance (150g)</h3>
                        <p class="seller-name2">NomedoVendedor</p>
                        <p class="product-price">R$ 00,00</p>
                        <button class="add-to-cart">ADICIONAR</button>
                    </article>
                </article>
                <article class="carousel-item2">
                    <strong class="desconto"> -10% OFF </strong>
                    <img src="imagens/cenoura.png" alt="Imagem de uma Cenoura" class="product-image">
                    <article class="product-info">
                        <h3 class="product-name"> Cenoura Romance (150g)</h3>
                        <p class="seller-name2">NomedoVendedor</p>
                        <p class="product-price">R$ 00,00</p>
                        <button class="add-to-cart">ADICIONAR</button>
                    </article>
                </article>
                <article class="carousel-item2">
                    <img src="imagens/cenoura.png" alt="Imagem de uma Cenoura" class="product-image">
                    <article class="product-info">
                        <h3 class="product-name"> Cenoura Romance (150g) </h3>
                        <p class="seller-name2">NomedoVendedor</p>
                        <p class="product-price">R$ 00,00</p>
                        <button class="add-to-cart">ADICIONAR</button>
                    </article>
                </article>
    
                <article class="carousel-item2">
                    <img src="imagens/batata.png" alt="Imagem de uma Batata" class="product-image">
                    <article class="product-info">
                        <h3 class="product-name"> Batata Inglesa(130g)</h3>
                        <p class="seller-name2">NomedoVendedor</p>
                        <p class="product-price">R$ 00,00</p>
                        <button class="add-to-cart">ADICIONAR</button>
                    </article>
                </article>
                <article class="carousel-item2">
                    <strong class="desconto"> -10% OFF </strong>
                    <img src="imagens/batata.png" alt="Imagem de uma Batata" class="product-image">
                    <article class="product-info">
                        <h3 class="product-name"> Batata Inglesa(130g)</h3>
                        <p class="seller-name2">NomedoVendedor</p>
                        <p class="product-price">R$ 00,00</p>
                        <button class="add-to-cart">ADICIONAR</button>
                    </article>
                </article>
                <article class="carousel-item2">
                    <img src="imagens/batata.png" alt="Imagem de uma Batata" class="product-image">
                    <article class="product-info">
                        <h3 class="product-name"> Batata Inglesa(130g)</h3>
                        <p class="seller-name2">NomedoVendedor</p>
                        <p class="product-price">R$ 00,00</p>
                        <button class="add-to-cart">ADICIONAR</button>
                    </article>
                </article>
                <article class="carousel-item2">
                    <strong class="desconto"> -10% OFF </strong>
                    <img src="imagens/batata.png" alt="Imagem de uma Batata" class="product-image">
                    <article class="product-info">
                        <h3 class="product-name"> Batata Inglesa(130g)</h3>
                        <p class="seller-name2">NomedoVendedor</p>
                        <p class="product-price">R$ 00,00</p>
                        <button class="add-to-cart">ADICIONAR</button>
                    </article>
                </article>
                <article class="carousel-item2">
                    <img src="imagens/batata.png" alt="Imagem de uma Batata" class="product-image">
                    <article class="product-info">
                        <h3 class="product-name"> Batata Inglesa(130g)</h3>
                        <p class="seller-name2">NomedoVendedor</p>
                        <p class="product-price">R$ 00,00</p>
                        <button class="add-to-cart">ADICIONAR</button>
                    </article>
                </article>
                <!-- Repetir o bloco "carousel-item2" para cada produto -->
    
            </article>
            
                
    
        </section>
        
                <button class="carousel-control2 prev2"><img src="imagens/seta-esquerda.png"></button>
                <button class="carousel-control2 next2"><img src="imagens/seta-direita.png"></button>
    </article>
                <article class="carousel-indicators2">
                    <button class="indicator2"></button>
                    <button class="indicator2"></button>
                    <button class="indicator2"></button>
                </article>
    </main>
    
    <script src="js/carroselLegumes.js"> </script>

                    <!--          RODAPÉ            -->

        <%- include('../partials/footer'); %>


    </body>
</html>

        <!-- Script -->


<script src="js/validacaoCEP.js"> </script> 