<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AgroBox</title>
    <link rel="icon" href="imagens/logo.png">
    <link rel="stylesheet" href="css/home.css">
    <link rel="stylesheet" href="css/agro.css">
    <link rel="stylesheet" href="css/carrinho.css">
    <script src="js/carrinho.js"> </script>
 

  



    
</head>

<body>  
     <!-- NavBar -->
    <%- include('../partials/navbar'); %>

   
</header>
<body>
    

<main class="container">
      <h1>Carrinho de Compras</h1>

        <section class="conteudo">

            <article class="cart-itens">

                <article class="cart-item">
                    <article class="imagem-Maçã">
                        <img src="imagens/maça.png" alt="Produto 1">
                    </article>
                    <article class="details">
                        <h3>Nome Do Produto</h3>
                        <p class="vendor">Nome Do Vendedor</p>
                        <article class="quantity">
                            <button>-</button>
                            <p>1</p>
                            <button>+</button>
                        </article>
                    </article>
                    
                    <article class="price">
                        <h3 class="cart-item-price">R$000,00</h3>
                    <article class="remove">
                        <img class="removimg" src="imagens/icon_lixeira.png" alt="icone de uma lixeira">  
                        <i class="excluir">Excluir</i> 
                    </article>
                </article>
                </article>

                <article class="cart-item">
                    <article class="imagem-Maçã">
                        <img src="imagens/laranja.png" alt="Produto 1">
                    </article>

                    <article class="details">
                        <h3>Nome Do Produto</h3>
                        <p class="vendor">Nome Do Vendedor</p>
                        <article class="quantity">
                            <button>-</button>
                            <p>1</p>
                            <button>+</button>
                        </article>
                    </article>
                    
                    <article class="price">
                        <h3 class="cart-item-price">R$000,00</h3>
                        <article class="remove">
                            <img class="removimg" src="imagens/icon_lixeira.png" alt="icone de uma lixeira">  
                            <i class="excluir">Excluir</i> 
                        </article>
                    </article>
                </article>
                
                <article class="cart-item">
                    <article class="imagem-Maçã">
                        <img src="imagens/abacaxi.png" alt="Produto 1">
                    </article>

                    <article class="details">
                        <h3>Nome Do Produto</h3>
                        <p class="vendor">Nome Do Vendedor</p>
                        <article class="quantity">
                            <button>-</button>
                            <p>1</p>
                            <button>+</button>
                        </article>
                    </article>
                    
                    <article class="price">
                        <h3 class="cart-item-price">R$000,00</h3>
                        <article class="remove">
                            <img class="removimg" src="imagens/icon_lixeira.png" alt="icone de uma lixeira">  
                            <i class="excluir">Excluir</i> 
                        </article>
                    </article>
                </article>

            </article>
           
            <section class="pedido-final">
                <section class="resumo">
                        <h2>Resumo do Pedido</h2>

                        <article class="item">
                            Produtos(2)
                            <strong>R$000,00</strong>
                        </article>

                        <article class="item">
                            Frete:
                            <strong>R$000,00</strong>
                        </article>

                        <article class="item-cupom">
                            Inserir cupom de desconto
                            <i class="cupom">
                                <img src="imagens/icon_cupom.png" alt="icone de cupom">
                            </i>
                        </article>
                        
                        <article class="total">
                            Total: 
                            <strong>R$000,00</strong>
                        </article>

                        <button class="checkout-button">Finalizar Compra</button>

                    </section>
                        
                <section class="finalizar-compra">
                    <h3>Calcular frete e prazo de entrega</h3>
                    <input type="text" placeholder="Digite seu CEP">
                    <button>CALCULAR</button>
                </section>    
            </section>  
    </section>
    
</main>

                    <!--          RODAPÉ            -->

        <%- include('../partials/footer'); %>


    </body>
</html>

        <!-- Script -->
<!-- <script src="#"> </script> -->



