<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AgroBox</title>
    <link rel="icon" href="imagens/logo.png">
    <link rel="stylesheet" href="css/home.css">
    <link rel="stylesheet" href="css/contaEscolha.css">
    <link rel="stylesheet" href="css/LoginsMobile.css">
</head>


<body>
    
  
    <a href="/"> <button class="voltar">Voltar Para Home</button></a>
    
    <main class="bodydoPerfil">  
       
        <section class="container">
                <section class="banner">
                    <h1>Seja <br>Bem-vindo</h1>
                    <a href="/"><img src="imagens/logo.png" alt="logo da agroBox"></a>
                </section>
                <section class="cantinhoLogo">
                    <form class="cadastro-form">
                        <h1>Qual conta Deseja ser?</h1>
                        <a class="entrar" href="/cadastre-se">Consumidor <strong>(Cliente)</strong> </a>
                        <a class="entrar" href="/cadastre-seV">Vendedor <strong>(Agricultor)</strong> </a>
                        <p>Ja sabe como se cadastrar como Vendedor?</p>
                        <a class="text-cadastro" href="/detalhesVendedor"> Veja os requisitos Aqui</a>
                    </form>
                </section>
        </section>

    </main>

    <main class="bodydoPerfilMobile">  
        <section class="containerMobile">
            <section class="bannerMobile">
                <a href="/"><img src="imagens/logo.png" alt="logo da agroBox"></a>
            </section>

            <section class="cantinhoLogo">
                    <form class="cadastro-form">
                        <h1>Qual conta Deseja ser?</h1>
                        <a class="entrar" href="/cadastre-se">Consumidor <strong>(Cliente)</strong> </a>
                        <a class="entrar" href="/cadastre-seV">Vendedor <strong>(Agricultor)</strong> </a>
                        <p>Ja sabe como se cadastrar como Vendedor?</p>
                        <a class="text-cadastroContaEscolha" href="/detalhesVendedor"> Veja os requisitos Aqui</a>
                    </form>
                </section>
                
        </section>
        <a href="/"> <button class="voltarMobile">Voltar Para Home</button></a>
    </main>

    
</body>
</html>

        <!-- Script -->
<script src="singup.ejs"> </script>
