<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AgroBox</title>
    <link rel="icon" href="imagens/logo.png">
    <link rel="stylesheet" href="css/home.css">
    <link rel="stylesheet" href="css/detalhesVendedor.css">
    



</head>

<body>
    <a href="/"> <button class="voltar">Voltar Para Home</button></a>
    <main class="bodydoPerfil">  
        
        <section class="container">
                <section class="banner">
                    <h1>Seja <br>Bem-vindo</h1>
                    <img src="imagens/logo.png" alt="logosingup">
                </section>
                <section class="cantinhoLogo">
                    <form class="cadastro-form">
                        <h1>Sobre Conta Vendedor</h1>
                        
                        <p>Olá, Aqui você saberá os requisitos necessários para criar sua conta e entrar como parte de nossa familia Agro..</p>

                        <!-- <a href=""><img src="" alt="Imagem de icone do google"></a>
                        <a href=""><img src="" alt="Imagem de icone da apple"></a> -->

                    
                        <a href="/cadastre-seV"> 
                        <p>Gostaria de fazer parte da AgroBox? <strong>(Clique Aqui)</strong></p> </a>
                        <a class="text-cadastro" href="/contaescolha"> Voltar </a>
            </section>
            </section>
        </section>
    </main>
    
</body>
</html>

        <!-- Script -->
<script src="singup.ejs"> </script>
