<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AgroBox</title>
    <link rel="icon" href="imagens/logo.png">
    <link rel="stylesheet" href="css/home.css">
    <link rel="stylesheet" href="css/eventos.css">
    
</head>

<body>  

     <!-- NavBar -->
    <%- include('../partials/navbar'); %>



    <main class="container-eventos">
        <h2 class="section-title">EVENTOS EM DESTAQUE</h2>
        
        <section class="featured-events-boxes">
          
          <article class="event-box">
            <a href="/evento1">
            <img src="imagens/feiras.png" alt="Imagem do Evento" class="event-image">
            <h3 class="event-title">Nome do Evento</h3>
            <article class="event-infoo">
              <article class="event-flex">  
                  <img src="imagens/icon_callender.png"> 
                  <p>30 de Setembro de 2024</p>
              </article>
              <article class="event-flex">
                  <img src="imagens/icon_flag.png">
                  <p>São Paulo - SP</p>
              </article>
                  <p class="event-details">Lorem ipsum dolor sit amet, consectetur<br> adipiscing elit. Aenean euismod bibendum<br> laoreet. .</p>
              </article>
            </a>
          </article>

          <article class="event-box">
            <a href="/evento2">
            <img src="imagens/feiras.png" alt="Imagem do Evento" class="event-image">
            <h3 class="event-title">Nome do Evento</h3>
            <article class="event-infoo">
              <article class="event-flex">  
                  <img src="imagens/icon_callender.png"> 
                  <p>30 de Setembro de 2024</p>
              </article>  
              <article class="event-flex">
                  <img src="imagens/icon_flag.png">
                  <p>São Paulo - SP</p>
              </article>
                  <p class="event-details">Lorem ipsum dolor sit amet, consectetur<br> adipiscing elit. Aenean euismod bibendum<br> laoreet. .</p>
              </article>
            </a>
          </article>

          <article class="event-box">
            <a href="/evento1">
            <img src="imagens/feiras.png" alt="Imagem do Evento" class="event-image">
            <h3 class="event-title">Nome do Evento</h3>
            <article class="event-infoo">
              <article class="event-flex">  
                  <img src="imagens/icon_callender.png"> 
                  <p>30 de Setembro de 2024</p>
              </article>
              <article class="event-flex">
                  <img src="imagens/icon_flag.png">
                  <p>São Paulo - SP</p>
              </article>
                  <p class="event-details">Lorem ipsum dolor sit amet, consectetur<br> adipiscing elit. Aenean euismod bibendum<br> laoreet. .</p>
              </article>
            </a>
          </article>

        </section>
       
        <article class="see-more">
          <strong>Veja mais eventos</strong>
          <i class="arrow-down"></i> <!-- Ícone de seta para baixo -->
        </article>

</main>

  <main class="container-eventos2">
    <%- include('../partials/eventos'); %>
    <%- include('../partials/eventos'); %>
  </main>

    <!-- Rodapé -->
    <%- include('../partials/footer'); %>
    
</body>
</html>

        <!-- Script -->
<script src="#"> </script>
    



