<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AgroBox</title>
    <link rel="icon" href="imagens/logo.png">
    <link rel="stylesheet" href="css/estilo.css">
    <link rel="stylesheet" href="css/slider.css">
    
</head>

<body>  
     <!-- NavBar -->
    <%- include('../partials/navbar'); %>

   

    <!-- Rodapé -->
    <%- include('../partials/footer'); %>
    
</body>
</html>

        <!-- Script -->
<script src="#"> </script>




