<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AgroBox</title>
    <link rel="icon" href="imagens/logo.png">
    <link rel="stylesheet" href="css/faca-box.css">
</head>

<body>  
    <!-- NavBar -->

   <%- include('../partials/navbar'); %>

    <main>
        <h1 class="titulo-faca-box">FAÇA SUA BOX</h1>
        <h3 class="Orintação">1. Escolha os produtos que deseja para sua box.<strong>(Maximo-10-produtos)</strong></h3>   

        <section class="barradepesquisaBox">
            <input type="text" class="barra-texto-pesquisaBox" placeholder="Busque pela AgroBox">
            <a hrfe="#" class="botao-pesquisa"> 
            <img src="imagens/lupa.png" alt="icone de uma lupa"> 
            </a>
        </section>
    </main>

   <%- include('../partials/produtospartial'); %>

<button class="button-faca-box">PROXIMO</button>

   <!-- Rodapé -->
    
   <%- include('../partials/footer'); %>
   
</body>
</html>