<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AgroBox</title>
    <link rel="icon" href="imagens/logo.png">
    <link rel="stylesheet" href="css/faca-box.css">
</head>

<body>  
    <!-- NavBar -->

   <%- include('../partials/navbar'); %>

    <!-- Corpo/ Conteúdo -->


<!-- Faça sua Box Titulo e afins  -->
<main class="geralBox">
    <h1 class="titulo-faca-box">FAÇA SUA BOX</h1>

    <section class="titulos">
        <h2 class="titulos-sectionBox">Produtos</h2>
        <h2 class="titulos-sectionBox2">Box Prontas</h2>
    </section>




<section class="TodosCarrosel">
    <section>
    <%- include('../partials/carroselFiltroBox'); %>
    </section>
    
    <!-- CarroselBoxProdutos -->
    <section>
    <%- include('../partials/carroselBox'); %>
    </section>
    <!-- Resumo BOX -->
<section class="geralResumo">

    <section class="interiorResumoBox">

    <ul class="resumoBox">
        <h2 class="tittleResumoBox">Sua box (0/10 produtos)</h2>
        <li class="itemResumo">
            <article class="imagemProductBox">
                <img src="imagens/Frutas/maça.png">
            </article>
            <article class="quantityAndPrice">
            <p class="name-Product">Nome do Produto</p>
            <article class="FlexzoneBox">
                <p class="price-Product">R$00,00</p>
                <p class="quantidade-produto">Qtd: 1</p>
            </article>
            </article>  
        </li>

        <li class="itemResumo">
            <article class="imagemProductBox">
                <img src="imagens/Frutas/maça.png">
            </article>
            <article class="quantityAndPrice">
            <p class="name-Product">Nome do Produto</p>
            <article class="FlexzoneBox">
                <p class="price-Product">R$00,00</p>
                <p class="quantidade-produto">Qtd: 1</p>
            </article>
            </article>  
        </li>

        <li class="itemResumo">
            <article class="imagemProductBox">
                <img src="imagens/Frutas/maça.png">
            </article>
            <article class="quantityAndPrice">
            <p class="name-Product">Nome do Produto</p>
            <article class="FlexzoneBox">
                <p class="price-Product">R$00,00</p>
                <p class="quantidade-produto">Qtd: 1</p>
            </article>
            </article>  
        </li>

        <li class="itemResumo">
            <article class="imagemProductBox">
                <img src="imagens/Frutas/maça.png">
            </article>
            <article class="quantityAndPrice">
            <p class="name-Product">Nome do Produto</p>
            <article class="FlexzoneBox">
                <p class="price-Product">R$00,00</p>
                <p class="quantidade-produto">Qtd: 1</p>
            </article>
            </article>  
        </li>

    </ul>
    </section>
    <a href="/faca-box2"> <button class="proximoBox">PRÓXIMO</button></a>
</section>


</section>
</main>


   <!-- Rodapé -->
    
   <%- include('../partials/footer'); %>
   
</body>

</html>


<!-- Script -->
 

<script src="js/carroselBox.js"> </script>
<script src="js/carroselFiltroBox.js"> </script>

