<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AgroBox</title>
    <link rel="icon" href="imagens/logo.png">
    <link rel="stylesheet" href="css/faca-box.css">
</head>

<body>  
    <!-- NavBar -->

   <%- include('../partials/navbar'); %>

    <!-- Corpo/ Conteúdo -->


<!-- Faça sua Box Titulo e afins  -->
<main class="geralBox">
    <h1 class="titulo-faca-box">FAÇA SUA BOX</h1>

    <section class="titulos">
        <h2 class="titulos-sectionBox">Produtos</h2>
        <h2 class="titulos-sectionBox2">Box Prontas</h2>
    </section>






    <!-- CarroselFiltroProdutosBox -->
<!-- 
    <%- include('../partials/carroselFiltroBox'); %> -->


    <!-- CarroselBoxProdutos -->

    <%- include('../partials/carroselBox'); %>


   <!-- Rodapé -->
    
   <%- include('../partials/footer'); %>
   
</body>

</html>


<!-- Script -->
 

<script src="js/carroselBox.js"> </script>

