<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AgroBox</title>
    <link rel="icon" href="imagens/logo.png">
    <link rel="stylesheet" href="css/faca-box.css">
    <link rel="stylesheet" href="css/carroseis.css">
</head>

<body>  
    <!-- NavBar -->

   <%- include('../partials/navbar'); %>

<main>
    <h1 class="titulo-faca-box">FAÇA SUA BOX</h1>
    <h2 class="titulos-sectionBox">Produtos</h2>
    <h2 class="titulos-sectionBox">Box Prontas</h2>
</main>



   <!-- Rodapé -->
    
   <%- include('../partials/footer'); %>
   
</body>

</html>


<!-- Script -->
 
<script src="js/resumoCarrinho.js"> </script>

