<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AgroBox</title>
    <link rel="icon" href="imagens/logo.png">
    <link rel="stylesheet" href="css/faca-box.css">
</head>

<body>  
    <!-- NavBar -->

   <%- include('../partials/navbar'); %>

   <h1 class="titulo-faca-box">FAÇA SUA BOX</h1>
   <h3 class="Orintação">1. Escolha os produtos que deseja para sua box.</h3><h3 class="maximo-produtos">(maximo-10-produtos)</h3>

   <section class="barradepesquisa">
    <input type="text" class="barra-texto-pesquisa" placeholder="Busque pela AgroBox">
    <a hrfe="#" class="botao-pesquisa"> 
    <img src="imagens/lupa.png" alt="icone de uma lupa"> 
    </a>
</section>


   <%- include('../partials/produtospartial'); %>

<button class="button-faca-box">Proximo</button>

   <!-- Rodapé -->
    
   <%- include('../partials/footer'); %>
   
</body>
</html>