<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AgroBox</title>
    <link rel="stylesheet" href="css/estilo.css">
    <link rel="stylesheet" href="css/agro.css">
    <link rel="stylesheet" href="css/carroseis.css">

</head>

<body>
    <!-- NavBar -->
    <%- include('../partials/navbar'); %>

        <!--Carrosel-->

        <section class="slider">

            <ul class="slides">
                <li class="slide"><img src="imagens/pessoa-plantando.jpg" alt="slide1"> </li>
                <li class="slide"><img src="imagens/Rural.jpg" alt="slide2"> </li>
                <li class="slide"><img src="imagens/pessoa-plantando.jpg" alt="slide3"> </li>
            </ul>

        </section>

        _<!-- Carrosel 2 -->

  
        <section class="carrosel-margin">

            <h2 class="nome-fruta"> Frutas </h2>

            <section class="carrosel-interno">
    
                <section class="carrosel-itens1">
                    <section class="item">
                        <img src="imagens/maça.png" alt="imagem de uma maça" class="user-image">
                        <h3> Maçã Fuji (300g) unidade </h3>
                        <p> NomedoVendedor </p>
                        <p class="preco"> R$ 00,00 </p>
                        <button class="botao-add"> ADICIONAR </button>
                    </section>
                
                    <section class="item">
                        <img src="imagens/maça.png" alt="imagem de uma maça" class="user-image">
                        <span class="desconto"> -10% OFF </span>
                        <h3> Maçã Fuji (300g) unidade </h3>
                        <p> NomedoVendedor </p>
                        <p class="preco"> R$ 00,00 </p>
                        <button class="botao-add"> ADICIONAR </button>
                    </section>

                    <section class="item">
                        <img src="imagens/maça.png" alt="imagem de uma maça" class="carrosel-img">
                        <h3 class=""> Maçã Fuji (300g) unidade </h3>
                        <p> NomedoVendedor </p>
                        <p class="preco"> R$ 00,00 </p>
                     <button class="botao-add"> ADICIONAR </button>

                    </section>

                    <section class="item">
                        <img src="imagens/maça.png" alt="imagem de uma maça" class="carrosel-img">
                        <span class="desconto"> -10% OFF </span>
                        <h3> Maçã Fuji (300g) unidade </h3>
                        <p> NomedoVendedor </p>
                        <p class="preco"> R$ 00,00 </p>
                        <button class="botao-add"> ADICIONAR </button>
                    </section>

        
                </section>
                
                <section class="carrosel-itens2">
                    <section class="item">
                        <img src="imagens/laranja.png" alt="imagem de uma laranja" class="carrosel-img">
                        <h3> Laranja (160g) unidade </h3>
                        <p> NomedoVendedor </p>
                        <p class="preco"> R$ 00,00 </p>
                        <button class="botao-add"> ADICIONAR </button>
                    </section>

                    <section class="item">
                        <img src="imagens/laranja.png" alt="imagem de uma laranja" class="carrosel-img">
                        <span class="desconto"> -10% OFF </span>    
                        <h3> Laranja (160g) unidade </h3>
                        <p> NomedoVendedor </p>
                        <p class="preco"> R$ 00,00 </p>
                        <button class="botao-add"> ADICIONAR </button>
                    </section>

                    <section class="item">
                        <img src="imagens/laranja.png" alt="imagem de uma laranja" class="carrosel-img">
                        <h3> Laranja (160g) unidade </h3>
                        <p> NomedoVendedor </p>
                        <p class="preco"> R$ 00,00 </p>
                        <button class="botao-add"> ADICIONAR </button>
                    </section>

                    <section class="item">
                        <img src="imagens/laranja.png" alt="imagem de uma laranja" class="carrosel-img">
                        <span class="desconto"> -10% OFF </span>
                        <h3> Laranja (160g) unidade </h3>
                        <p> NomedoVendedor </p>
                        <p class="preco"> R$ 00,00 </p>
                        <button class="botao-add"> ADICIONAR </button>
                    </section>
                </section>


                <section class="carrosel-itens3">
                    <section class="item">
                        <img src="imagens/abacaxi.png" alt="imagem de uma abacaxi" class="carrosel-img">
                        <h3> Abacaxi (200g) unidade </h3>
                        <p> NomedoVendedor </p>
                        <p class="preco"> R$ 00,00 </p>
                        <button class="botao-add"> ADICIONAR </button>
                    </section>

                    <section class="item">
                        <img src="imagens/abacaxi.png" alt="imagem de uma abacaxi" class="carrosel-img">
                        <span class="desconto"> -10% OFF </span>
                        <h3> Abacaxi (200g) unidade </h3>
                        <p> NomedoVendedor </p>
                        <p class="preco"> R$ 00,00 </p>
                        <button class="botao-add"> ADICIONAR </button>
                    </section>

                    <section class="item">
                        <img src="imagens/abacaxi.png" alt="imagem de uma abacaxi" class="carrosel-img">
                        <h3> Abacaxi (200g) unidade </h3>
                        <p> NomedoVendedor </p>
                        <p class="preco"> R$ 00,00 </p>
                        <button class="botao-add"> ADICIONAR </button>
                    </section>

                    <section class="item">
                        <img src="imagens/abacaxi.png" alt="imagem de uma abacaxi" class="carrosel-img">
                        <span class="desconto"> -10% OFF </span>
                        <h3> Abacaxi (200g) unidade </h3>
                        <p> NomedoVendedor </p>
                        <p class="preco"> R$ 00,00 </p>
                        <button class="botao-add"> ADICIONAR </button>
                    </section>

                    <button class="carousel-control prev" onclick="prevSlide()">&#10094;</button>   
                    <button class="carousel-control next" onclick="nextSlide()">&#10095;</button>
                </section>            
            </section>
        </section>

            <section class="carousel-dots">
            <span class="dot" onclick="currentSlide(1)"></span>
            <span class="dot" onclick="currentSlide(2)"></span>
            <span class="dot" onclick="currentSlide(3)"></span>
            </section>

        </section>
    </section>



        <!-- Assinatura Agro -->


        <section class="agro-assinatura">

            <section class="agro-content">
                <h1> Assine o <span> AgroPremium </span> </h1>
                <ul>
                    <li> Monte sua cesta de entrega semanal ou mensal </li>
                    <li> Ganhe alguma coisa ae </li>
                    <li> Receba frete grátis </li>
                    <li> Promoçoes exclusivas </li>
                </ul>
            </section>

            <section class="agro-imagem">
                <img src="imagens/mulher-agro.png" alt="Imagem da assinatura premium">
            </section>

        </section>


        <!-- Agricultores em Destaques -->

        <section class="container">

            <h2 class="user-name"> Agricultores Destaques </h2>

                <section class="card-list">

                    <section class="card-item">
                        <img src="imagens/jesus.png" alt="imagem do vendedor" class="user-image">
                        <p class="user-profession"> Jesus Cristo </p>
                        <p class="user-profession"> Jesus se destacou pela otima qualidade dos produtos e velocidade na
                        <br> entrega. </p>
                        <button class="message-button"> Veja seu perfil </button>

                        <section class="botoes">
                            <input type="radio" name="carrosel" id="img-1">
                            <input type="radio" name="carrosel" id="img-2">
                            <input type="radio" name="carrosel" id="img-3">
                        </section>

                        <section class="dots">
                            <label for="img-1"></label>
                            <label for="img-2"></label>
                            <label for="img-3"></label>
                        </section>
                    </section>

                </section>
        </section>
            

        
        <!-- Sobre Agrobox -->

        <section class="sobre-agrobox">

            <section class="content-Agrobox">
                <h1> Quem é Agrobox? </h1>
                <p>AgroBox é uma plataforma inovadora e abrangente dedicada <br>
                    ao mundo da agricultura, reunindo pequenos agricultores e até <br>
                    os maiores espalhados pelo Brasil para publicar seus produtos e<br>
                    garantir a eles uma plataforma de auxulio para venda desses <br>
                    produtos.
                </p>
                <button class="message-button-agrobox"> Leia Mais </button>

            </section>

            <section class="agrobox-imagem">
                <img src="imagens/velinha-plantando.jpg" alt="Imagem de uma agricultora">
            </section>

        </section>

        <!-- Rodapé -->
        <%- include('../partials/footer'); %>

</body>

</html>

<!-- Script -->

<script src="js/slider.js"> </script>
<script src="js/index.js"> </script>