<!DOCTYPE html>
<html lang="pt-br">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>AgroColere</title>
<link rel="stylesheet" href="css/estilo.css">
<script src= "css/slider.js"></script>
</head>
    <body>
        <header>
            <!-- Logo AgroColere-->
            <a href="#">
<img src="imagens/logo.png"
class="logoagrocolere" alt="Logo da AgroColere, 4 folhas com cores verde
e marrom.">
</a>
<!-- Barra de Pesquisa-->
<section class="barradepesquisa">
    <img src="icone-busca.png" class="lupa" alt="icone de uma
    lupa">
<input type="text" class="textobarra" placeholder="Busque pela AgroColere">
</section>
<div class="compra">
    <a class="carrinho" href="pagina2.html">
        <img src="icon_carrinho.png" class="carrinho" alt="Icone
    de usuario" width="30" height="28">
    </a>
    <span> Carrinho </span>
</div>

<!-- Botão Login e Cadastro/Perfil-->
<section class="sessaoentrar">
<a class="entrar" href="pagina3.html">
<img src="icon_conta.png" class="iconheader" alt="Icone de
usuario" width="15" height="40">
<span> Minha conta</span>
</a>
<div class="menulogin">
<ul>
<li> <a href="#"> Entrar</a> </li>
<li> <a href="#"> Cadastrar</a> </li>
</ul>
</div>
</section>
<!-- Botão Carrinho-->
</header>
<!-- NAVEGAÇAO-->
<nav>
<ul>
<li class="dropdown">
<a href="">Categorias</a>
<div class="dropdown-menu">
    <a href="#">Frutas</a>
    <a href="#">Legumes</a>
    <a href="#">Cereais</a>
    <a href="#">Verduras</a>
    </div>
    </li>
    <li> <a href="#">Premium</a> </li>
    <li> <a href="#">Promoções</a> </li>
    <li> <a href="#">Comunidade</a> </li>
    </ul>
    </nav>
    <footer>
    <section>
    <img src="logo.png" alt="Logo da
    AgroColere, 4 folhas com cores verde e marrom.">
    </section>
    <section>
    <ul>
    <li> <a href="#"> Sobre nós </a></li>
    <li> <a href="#"> Comunidade </a></li>
    <li> <a href="#"> Fale Conosco</a></li>
    </ul>
    </section>
    <section>
    <p>© 2023-2024 AgroColere </p>
    </section>
    <p>adm esteve aqui</p>
</footer>
</body>
</html>