<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AgroBox</title>
    <link rel="stylesheet" href="css/estilo.css">
    <link rel="stylesheet" href="css/slider.css">
    <link rel="stylesheet" href="css/perfil.css">

</head>

<body class="bodydoPerfil">  
    <section class="container">
            <section class="banner">
                <h1>Bem Vindo <br> de Volta</h1>
                <img src="imagens/logo.png" alt="logosingup">
            </section>
            <section class="cantinhoLogo">
                <form class="cadastro-form">
                    <h1>Fazer Login</h1>
                    <section class="input-group">
                        <i class="fas far-enveloper"></i>
                        <input type="email" placeholder="Ex: seuemail@gmail.com">
                    </section>
                    <section class="input-group">
                        <i class="fas far-lock"></i>
                        <input type="password" placeholder="senha">
                    </section>
                    <section class="checagem">
                        <input type="checkbox" name="" id="checagem2">
                        <p>Manter-se conectado.</p>
                    </section>
                    <button type="button" class="entrar">Entrar</button>
                    <p>Novo no AgroBox?<a href="">Cadastre-se aqui</a></p>
                </form>
        </section>
        </section>
    </section>
</body>
</html>

        <!-- Script -->
<script src="singup.ejs"> </script>
