<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AgroBox</title>
    <link rel="icon" href="imagens/logo.png">
    <link rel="stylesheet" href="css/home.css">
    <link rel="stylesheet" href="css/premium.css">
    
</head>

<body>  
     <!-- NavBar -->
    <%- include('../partials/navbar'); %>
    <h1 class="titulo"> Premium </h1>
<section class="container">
   
   <main class="premium-container">
  
            <section class="premium-laranja">
                <article class="text-premium">
                    <h1 class="title">AGRO PLUS</h1>
                    <ul class="text-lista">
                        <li>Desconto Frete</li>
                        <li>Box com acesso a mais produtos</li>
                        <li>aaaaaaa</li>
                        <li>aaaaaaa</li>
                        <li>aaaaaaa</li>
                    </ul>
                    <h1 class="price">R$99,99</h1>
                    <button class="button-premium">PROXIMO</button>
                </article>
            </section>

            <section class="premium-verde">
                <article class="text-premium">
                <h1 class="title"> AGRO PREMIUM</h1>
                
                <ul class="text-lista">
                    <li>Frete grátis</li>
                    <li>Box Semanal</li>
                    <li>Aumento de produtos 
                        por box</li>
                    <li>aaaaaaa</li>
                    <li>aaaaaaa</li>
                </ul>
                <h1 class="price">R$99,99</h1> 
                <button class="button-premium">PROXIMO</button>
                </article>
            </section>
            
   </main>
</section>

    <!-- Rodapé -->
    <%- include('../partials/footer'); %>
    
</body>
</html>

        <!-- Script -->
<script src="#"> </script>




