<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AgroBox</title>
    <link rel="icon" href="imagens/logo.png">
    <link rel="stylesheet" href="css/home.css">
    <link rel="stylesheet" href="css/premium.css">
    
</head>

<body>  
     <!-- NavBar -->
    <%- include('../partials/navbar'); %>


<!-- Corpo do conteúdo -->

<h1 class="titulo"> recomendado </h1>
<main class="container">
   
        <section class="premium-container">

            <section class="premiumV-Total">
        
            <section class="premium-Verde">
                <article class="text-premium">
                    <h1 class="title">AgroBasic</h1>
                    <h2 class="title2">GRATUITO</h2>
                </article>
            </section>

            <section class="premium-Branco">
                <article class="text-premium">
                    <ul class="text-lista">
                    <li>Acesso básico a Box </li>
                    </ul>
                    <button class="button-premium1">SELECIONADO</button>
                </article>
            </section>

        </section>

        <section class="premiumV-Total">

            <section class="premium-Laranja">
                <article class="text-premium">
                    <h1 class="title">AgroPremium</h1>
                    <h2 class="title2">R$69,90</h2>
                </article>
            </section>

                <section class="premium-Branco">
                    <article class="text-premium">
                        <ul class="text-lista">
                        <li>Frete grátis</li>
                        <li>Box com até 30 produtos.</li>
                        <li>Box semanal</li>
                        </ul>
                        <button class="button-premium">ASSINAR</button>
                    </article>
                </section>
                
        </section>

        <section class="premiumV-Total">

            <section class="premium-Marrom">
                <article class="text-premium">
                    <h1 class="title">Agro+</h1>
                    <h2 class="title2Verde">R$39,90</h2>
                </article>
            </section>

            <section class="premium-Branco">
                <article class="text-premium">
                    <ul class="text-lista">
                        <li>Desconto no Frete</li>
                        <li>Box com até 20 produtos.</li>
                    </ul>
                    <button class="button-premium">ASSINAR</button>
                </article>
            </section>
    
        </section>
        
    </section>
   </section>
</main>

    <!-- Rodapé -->
    <%- include('../partials/footer'); %>
    
</body>
</html>

        <!-- Script -->
<script src="#"> </script>




