<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AgroBox</title>
    <link rel="icon" href="imagens/logo.png">
    <link rel="stylesheet" href="css/home.css">
    <link rel="stylesheet" href="css/produto.css">
    <link rel="stylesheet" href="css/carroseis.css">

    
</head>

<body>  
     <!-- NavBar -->

    <%- include('../partials/navbar'); %>

   
    <!--  CONTEÚDO -->

    <main class="produto-geral">
        <section class="info-geral">
            <article class="info-imagem">
                <img src="imagens/Frutas/maça.png">
            </article>
            <article class="detalhes-produto">
                <h3>AgroBox / Frutas</h3>
                <h1 class="tittle-p">Maçã Fuji (450g)</h1>
                <h2>Vendido por <a style="text-decoration: underline;" href="/vendedor">Um abestado</a> </h2>
                <p><strong>★★★★★ </strong> 1,5mil avaliações</p>
                <h1 class="price-p">R$10,00</h1>

                <article class="botao-c">
                    <p class="tt-quantidade">Quantidade:</p>
                    <button class="menos">-</button>
                    <input type="number" class="botao-quantidade" value="1" min="1" max="1">
                    <button class="mais">+</button>
                </article>
                
                <button class="botao-add">ADICIONAR</button>
                <button class="botao-add-box">ADICIONAR A BOX</button>
            </article>
           
        </section>
     
        <section class="descri">
            <h3>Descrição</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus <br>
                accumsan et viverra justo commodo. Proin sodales pulvinar sic tempor. Sociis natoque penatibus et magnis dis parturient montes,<br>
                 nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus pronin sapien nunc <br> 
                 accuan eget.</p>
        </section>
     
        <section class="preven">
            <h3>Dica de Preservação</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus <br>
                accumsan et viverra justo commodo. Proin sodales pulvinar sic tempor. Sociis natoque penatibus et magnis dis parturient montes,<br>
                 nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus pronin sapien nunc <br> 
                 accuan eget.</p>
        </section>
       
        <section class="detail-Vend">
            <h1 class="dt-tittle">Detalhes do Vendedor</h1>
            <article class="total-detailV">
                <img src="imagens/kawan.png">
                <article class="detail-dtV">
                    <h1>Kawan Barreto</h1>
                    <a href="/vendedor"><button class="btn-detailV">VER PERFIL COMPLETO</button></a>
                </article>

               
                    <article class="space1">

                        <article class="space-itemInfo">
                            <h3>Avaliações</h3>
                            <p>413</p>
                        </article>

                        <article class="space-itemInfo">
                            <h3>Seguidores</h3>
                            <p>128.471</p>
                        </article>

                        <article class="space-itemInfo">
                            <h3>Nota geral</h3>
                            <p>4</p>
                        </article>

                        <article class="space-itemInfo">
                            <h3>Vendedor desde</h3>
                            <p>12/10/24</p>
                        </article>

                    </article>
                       
         

            </article>
        </section>

<!-- Produtos do mesmo vendedor -->

        <section class="frutas-sectionP">
   
            <article class="seta">
            <h2 class="section-titleV">Do mesmo vendedor </h2>
            <section class="carousel-container">
                <article class="carousel">
        
                    <a  class="link-produto" href="/produto">
                    <section class="carousel-item">
                        
                        <img src="imagens/Frutas/maça.png" alt="Imagem de uma Maçã Fuji" class="product-image">
                        <article class="product-info">
                            <h3 class="product-name">Maçã Fuji (450g)</h3>
                            
                            <p class="seller-name">NomedoVendedor</p>
                            
                            <p class="product-price">R$ 10,00</p>
                            <button class="add-to-cart"> ADICIONAR </button>
                        </article>
                    </section>
                    </a>
                    
                    <article class="carousel-item">
                        <strong class="desconto"> -10% OFF </strong>
                        <img src="imagens/Frutas/maça.png" alt="Imagem de uma Maçã Fuji">
                        <article class="product-info">
                            <h3 class="product-name">Maçã Fuji (450g)</h3>
                            <p class="seller-name">NomedoVendedor</p>
                            <p class="product-price"><strong>R$ 10,00</strong>R$ 9,00</p>
                            <button class="add-to-cart"> ADICIONAR </button>
                        </article>
                    </article>
                    <article class="carousel-item">
                        <img src="imagens/Frutas/maça.png" alt="Imagem de uma Maçã Fuji">
                        <article class="product-info">
                            <h3 class="product-name">Maçã Fuji (450g)</h3>
                            <p class="seller-name">NomedoVendedor</p>
                            <p class="product-price">R$ 10,00</p>
                            <button class="add-to-cart"> ADICIONAR </button>
                        </article>
                    </article>
                    <article class="carousel-item">
                        <strong class="desconto"> -10% OFF </strong>
                        <img src="imagens/Frutas/maça.png" alt="Imagem de uma Maçã Fuji">
                        <article class="product-info">
                            <h3 class="product-name">Maçã Fuji (450g)</h3>
                            <p class="seller-name">NomedoVendedor</p>
                            <p class="product-price"><strong>R$ 10,00</strong>R$ 9,00</p>
                            <button class="add-to-cart"> ADICIONAR </button>
                        </article>
                    </article>
                    <article class="carousel-item">
                        <img src="imagens/Frutas/maça.png" alt="Imagem de uma Maçã Fuji">
                        <article class="product-info">
                            <h3 class="product-name">Maçã Fuji (450g)</h3>
                            <p class="seller-name">NomedoVendedor</p>
                            <p class="product-price">R$ 10,00</p>
                            <button class="add-to-cart"> ADICIONAR </button>
                        </article>
                    </article>
                    
                    
                    <article class="carousel-item">
                        <img src="imagens/Frutas/laranja.png" alt="Imagem de uma Laranja">
                        <article class="product-info">
                            <h3 class="product-name">Laranja Lima (500g)</h3>
                            <p class="seller-name">NomedoVendedor</p>
                            <p class="product-price">R$ 10,00</p>
                            <button class="add-to-cart"> ADICIONAR </button>
                        </article>
                    </article>
                    <article class="carousel-item">
                        <strong class="desconto"> -10% OFF </strong>
                        <img src="imagens/Frutas/laranja.png" alt="Imagem de uma Laranja">
                        <article class="product-info">
                            <h3 class="product-name">Laranja Lima (500g)</h3>
                            <p class="seller-name">NomedoVendedor</p>
                            <p class="product-price"><strong>R$ 10,00</strong>R$ 9,00</p>
                            <button class="add-to-cart"> ADICIONAR </button>
                        </article>
                    </article>
                    <article class="carousel-item">
                        
                        <img src="imagens/Frutas/laranja.png" alt="Imagem de uma Laranja">
                        <article class="product-info">
                            <h3 class="product-name">Laranja Lima (500g)</h3>
                            <p class="seller-name">NomedoVendedor</p>
                            <p class="product-price">R$ 10,00</p>
                            <button class="add-to-cart"> ADICIONAR </button>
                        </article>
                    </article>
                    <article class="carousel-item">
                        <strong class="desconto"> -10% OFF </strong>
                        <img src="imagens/Frutas/laranja.png" alt="Imagem de uma Laranja">
                        <article class="product-info">
                            <h3 class="product-name">Laranja Lima (500g)</h3>
                            <p class="seller-name">NomedoVendedor</p>
                            <p class="product-price"><strong>R$ 10,00</strong>R$ 9,00</p>
                            <button class="add-to-cart"> ADICIONAR </button>
                        </article>
                    </article>
                    <article class="carousel-item">
                        <img src="imagens/Frutas/laranja.png" alt="Imagem de uma Laranja">
                        <article class="product-info">
                            <h3 class="product-name">Laranja Lima (500g)</h3>
                            <p class="seller-name">NomedoVendedor</p>
                            <p class="product-price">R$ 10,00</p>
                            <button class="add-to-cart"> ADICIONAR </button>
                        </article>
                    </article>
                    <article class="carousel-item">
                        <img src="imagens/Frutas/abacaxi.png" alt="Imagem de um Abacaxi">
                        <article class="product-info">
                            <h3 class="product-name"> Abacaxi Pérola (1,2kg) </h3>
                            <p class="seller-name">NomedoVendedor</p>
                            <p class="product-price">R$ 10,00</p>
                            <button class="add-to-cart"> ADICIONAR </button>
                        </article>
                    </article>
                    <article class="carousel-item">
                        <strong class="desconto"> -10% OFF </strong>
                        <img src="imagens/Frutas/abacaxi.png" alt="Imagem de um Abacaxi">
                        <article class="product-info">
                            <h3 class="product-name"> Abacaxi Pérola (1,2kg) </h3>
                            <p class="seller-name">NomedoVendedor</p>
                            <p class="product-price"><strong>R$ 10,00</strong>R$ 9,00</p>
                            <button class="add-to-cart"> ADICIONAR </button>
                        </article>
                    </article>
                    <article class="carousel-item">
                        <img src="imagens/Frutas/abacaxi.png" alt="Imagem de um Abacaxi">
                        <article class="product-info">
                            <h3 class="product-name"> Abacaxi Pérola (1,2kg) </h3>
                            <p class="seller-name">NomedoVendedor</p>
                            <p class="product-price">R$ 10,00</p>
                            <button class="add-to-cart"> ADICIONAR </button>
                        </article>
                    </article>
                    <article class="carousel-item">
                        <strong class="desconto"> -10% OFF </strong>
                        <img src="imagens/Frutas/abacaxi.png" alt="Imagem de um Abacaxi">
                        <article class="product-info">
                            <h3 class="product-name"> Abacaxi Pérola (1,2kg) </h3>
                            <p class="seller-name">NomedoVendedor</p>
                            <p class="product-price"><strong>R$ 10,00</strong>R$ 9,00</p>
                            <button class="add-to-cart"> ADICIONAR </button>
                        </article>
                    </article>
                    <article class="carousel-item">
                        <img src="imagens/Frutas/abacaxi.png" alt="Imagem de um Abacaxi">
                        <article class="product-info">
                            <h3 class="product-name"> Abacaxi Pérola (1,2kg) </h3>
                            <p class="seller-name">NomedoVendedor</p>
                            <p class="product-price">R$ 10,00</p>
                            <button class="add-to-cart"> ADICIONAR </button>
                        </article>
                    </article>
                    <!-- Repetir o bloco "carousel-item" para cada produto -->
            </article>
        
                    
        
            </section>
                    <button class="carousel-control prev"><img src="imagens/seta-esquerda.png"></button>
                    <button class="carousel-control next"><img src="imagens/seta-direita.png"></button>
        </article>
                    <article class="carousel-indicators">
                        <button class="indicator"></button>
                        <button class="indicator"></button>
                        <button class="indicator"></button>
                    </article>
        </section>
        

    </main>

    <!-- Rodapé -->
     
    <%- include('../partials/footer'); %>
    
</body>
</html>

        <!-- Script -->

<script src="js/carroselFrutas.js"> </script>
<script src="js/resumoCarrinho.js"> </script>




