<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AgroBox</title>
    <link rel="icon" href="imagens/logo.png">
    <link rel="stylesheet" href="css/home.css">
    <link rel="stylesheet" href="css/quemsomos.css">

    
</head>

<body>  
     <!-- NavBar -->

    <%- include('../partials/navbar'); %>

   
    <!--  CONTEÚDO -->

    <!--  O que é AgroBox -->

    <main class="section-sobre">
        <h1 class="title-sobre">O que é AgroBox?</h1>
        <section class="content-sobre">
            <p class="description">
                AgroBox é uma plataforma de e-commerce dedicada à venda de <br>
                produtos agrícolas. Oferecemos um ambiente fácil e prático, onde <br>
                 agricultores podem divulgar seus produtos de maneira eficiente,  <br>
                 aumentando sua visibilidade e seus lucros. Os compradores, por sua <br>
                 vez, têm acesso a uma plataforma simples e intuitiva, facilitando a  <br>
                  busca e a aquisição de produtos agrícolas. Queremos criar um  <br>
                  caminho de conforto a aqueles que ainda não descobriram um  <br>
                  aconchego no ramo da agricultura, através da tecnologia mais  <br>
                  recente, criaremos uma espécie de marketplace ligando o produtor  <br>
                  ao seu cliente.
            </p>

            <section class="imagem-agrobox">
               <img src="imagens/logo.png">
            </section>
        </section>
    </main>
    
    
    <!-- Nosso diferencial -->

    <main class="sobre-nos">

        <section class="agro-imagemQuemSomos">
            <img src="imagens/homembox2.png" alt="Imagem de um agricultor">
        </section>

        <section class="content-diferencial">
            <h1 class="tittle-bx"> Nosso diferencial </h1>
            <p class="text-sobre">Um ponto forte em nosso diferencial seria a consciência sobre os <br>
                agrotóxicos reduzindo os meios que danificam a saúde do ser vivo <br>
                em alimentos. Além de uma comunidade agrícola onde poderia tirar <br>
                dúvidas, ter dicas, ler guias de cultivo e se comunicar com ambos <br>
                produtor e cliente, também teremos uma agenda de eventos e <br>
                workshops com um recurso da notificação, e principalmente nossa <br>
                funcionalidade "BOX".
            </p>
        </section>

        

    </main>    

    <!-- Rodapé -->
     
    <%- include('../partials/footer'); %>
    
</body>
</html>

        <!-- Script -->

<!-- <script src="js/.js"> </script> -->




