<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AgroBox</title>
    <link rel="icon" href="imagens/logo.png">
    <link rel="stylesheet" href="css/home.css">
    <link rel="stylesheet" href="css/conta.css">
    <link rel="stylesheet" href="css/contaVendedorPro.css">

    
</head>

<body>  
    <main>
     <!-- NavBar -->

    <%- include('../../partials/navbar'); %>

   
    <!--  CONTA VENDEDOR  -->

    <%- include('../../partials/contaV'); %>

    <section class="page-container">
    <section id="vendas" class="vendas">
        <h1 class="Titulos">Pedidos</h1>  
        <article class="container-pedidos">

            <ul class="menu2">
                <li> <a href="/vendas">Preparar(0)</a> </li>
                <li><a href="/enviarV">Enviar(0)</a></li>
                <li><a href="/emtransito">Em trânsito(0)</a></li>
                <li><a href="/concluido">Concluído(0)</a></li>
            </ul>


            <!-- id seção atual -->
    <section id="emtransito"> 


        <!-- começo conteudo  -->

        <section class="vendasGeral">
            <section class="vendasSection">

                <section class="section1Vendas">
                        <article class="box3Vendas">
                            <article class="box0Vendas">
                                <img src="imagens/imagemNaoLoad.png" alt="Imagem do Produto" class="produto-imagem">
                                <article class="box1Vendas">
                                    <p class="textVendasSection">Nome do Produto</p>
                                    <p>Valor:</strong> R$00,00</p>
                                </article>
                                    <p class="quantity">Quantidade:</strong> 1</p>
                            </article>

                            <article class="box2Vendas">
                                <a href="#" class="preparar-pedido">Preparar o pedido</a>
                                <p class="descricao">Aguarde o produto chegar para receber seu dinheiro</p>
                            </article>
                        </article>
                </section>

                <section class="section2Vendas">
                    <article class="comprador-perfil">
                        <img src="imagens/icon_user(bege).png" alt="Imagem do Produto" class="comprador-imagem">
                        <article>
                            <p class="comprador-nome">Comprado por <br>Nome do Consumidor</p>
                            <a href="#" class="contato">Entrar em contato</a>
                        </article>
                    </article>
                    <button class="botao-preparado">PEDIDO RECEBIDO</button>
                </section>
                

            </section>
        </section>


</main>





    <!-- Rodapé -->

    <%- include('../../partials/footer'); %>

</body>
</html>

        <!-- Script -->

<script src="js/perfil.js" defer></script>
<script src="js/validacaoConta.js" defer></script>
<script src="js/darkmode.js" defer> </script>
<script src="js/imagens.js"> </script>
        
        



