<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AgroBox</title>
    <link rel="icon" href="imagens/logo.png">
    <link rel="stylesheet" href="css/home.css">
    <link rel="stylesheet" href="css/conta.css">
    <link rel="stylesheet" href="css/contaVendedorPro.css">

</head>

<body>  
    <main>
     <!-- NavBar -->

    <%- include('../../partials/navbar'); %>

   
    <!--  CONTA VENDEDOR  -->

    <%- include('../../partials/contaV'); %>


<section class="page-container">
    <section id="avaliacoes"class="avaliacoes">
        <h1>Avaliações</h1>
    </section>

    <section class="container-Avaliation">
        <section class="content-Avaliation">
            <article class="contentName-Product">
                <img src="/imagens/Frutas/melancia.png">
                <article class="productFlex">
                    <h1 class="titleNamePN">Nome do Produto</h1>
                    <h1 class="titleNameP">Nota Geral:</h1>
                    <h1 class="titleNamePE">★★★★★</h1>
                    <h1 class="titleNameP">(00,0 avaliações)</h1>
                </article>
            </article>


            <article class="setaFiltro">
                <button class="carousel-controlFiltro up setaFiltro"><img src="imagens/seta-cima(branco).png"></button>
            <article class="contentName-Comentario">
            
                    <section class="carousel-containerFiltro">
                        <article class="carouselFiltro">

                            <article class="carousel-itemFiltro">
                                <img src="/imagens/icon_user(bege).png">
                                <article class="productFlex">
                                    <h1 class="titleNameN"><strong>Kawan</strong> Avaliou e comentou</h1>
                                    <h1 class="titleNamePE">★★★★★<strong></strong></h1>
                                    <h1 class="titleNameC">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus</h1>
                                </article>
                            </article>

                            <article class="carousel-itemFiltro">
                                <img src="/imagens/icon_user(bege).png">
                                <article class="productFlex">
                                    <h1 class="titleNameN"><strong>Kawan</strong> Avaliou e comentou</h1>
                                    <h1 class="titleNamePE">★★★★<strong>★</strong></h1>
                                    <h1 class="titleNameC">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus</h1>
                                </article>
                            </article>
                            
                            <article class="carousel-itemFiltro">
                                <img src="/imagens/icon_user(bege).png">
                                <article class="productFlex">
                                    <h1 class="titleNameN"><strong>Kawan</strong> Avaliou e comentou</h1>
                                    <h1 class="titleNamePE">★★★<strong>★★</strong></h1>
                                    <h1 class="titleNameC">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus</h1>
                                </article>
                            </article>

                            <article class="carousel-itemFiltro">
                                <img src="/imagens/icon_user(bege).png">
                                <article class="productFlex">
                                    <h1 class="titleNameN"><strong>Kawan</strong> Avaliou e comentou</h1>
                                    <h1 class="titleNamePE">★★<strong>★★★</strong></h1>
                                    <h1 class="titleNameC">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus</h1>
                                </article>
                            </article>
                        
                        </article>
                    </section>
                   
            </article>

            <button class="carousel-controlFiltro down setaFiltro"><img src="imagens/seta-baixo(branco).png"></button>
        </article>

        </section>
    </section>

    <section class="container-Avaliation">
        <section class="content-Avaliation">
            <article class="contentName-Product">
                <img src="/imagens/Frutas/melancia.png">
                <article class="productFlex">
                    <h1 class="titleNamePN">Nome do Produto</h1>
                    <h1 class="titleNameP">Nota Geral:</h1>
                    <h1 class="titleNamePE">★★★★★</h1>
                    <h1 class="titleNameP">(00,0 avaliações)</h1>
                </article>
            </article>


            <article class="setaFiltro">
                <button class="carousel-controlFiltro up setaFiltro"><img src="imagens/seta-cima(branco).png"></button>
            <article class="contentName-Comentario">
            
                    <section class="carousel-containerFiltro">
                        <article class="carouselFiltro">

                            <article class="carousel-itemFiltro">
                                <img src="/imagens/icon_user(bege).png">
                                <article class="productFlex">
                                    <h1 class="titleNameN"><strong>Kawan</strong> Avaliou e comentou</h1>
                                    <h1 class="titleNamePE">★★★★★<strong></strong></h1>
                                    <h1 class="titleNameC">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus</h1>
                                </article>
                            </article>

                            <article class="carousel-itemFiltro">
                                <img src="/imagens/icon_user(bege).png">
                                <article class="productFlex">
                                    <h1 class="titleNameN"><strong>Kawan</strong> Avaliou e comentou</h1>
                                    <h1 class="titleNamePE">★★★★<strong>★</strong></h1>
                                    <h1 class="titleNameC">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus</h1>
                                </article>
                            </article>
                            
                            <article class="carousel-itemFiltro">
                                <img src="/imagens/icon_user(bege).png">
                                <article class="productFlex">
                                    <h1 class="titleNameN"><strong>Kawan</strong> Avaliou e comentou</h1>
                                    <h1 class="titleNamePE">★★★<strong>★★</strong></h1>
                                    <h1 class="titleNameC">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus</h1>
                                </article>
                            </article>

                            <article class="carousel-itemFiltro">
                                <img src="/imagens/icon_user(bege).png">
                                <article class="productFlex">
                                    <h1 class="titleNameN"><strong>Kawan</strong> Avaliou e comentou</h1>
                                    <h1 class="titleNamePE">★★<strong>★★★</strong></h1>
                                    <h1 class="titleNameC">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus</h1>
                                </article>
                            </article>
                        
                        </article>
                    </section>
                   
            </article>

            <button class="carousel-controlFiltro down setaFiltro"><img src="imagens/seta-baixo(branco).png"></button>
        </article>

        </section>
    </section>

    <section class="container-Avaliation">
        <section class="content-Avaliation">
            <article class="contentName-Product">
                <img src="/imagens/Frutas/melancia.png">
                <article class="productFlex">
                    <h1 class="titleNamePN">Nome do Produto</h1>
                    <h1 class="titleNameP">Nota Geral:</h1>
                    <h1 class="titleNamePE">★★★★★</h1>
                    <h1 class="titleNameP">(00,0 avaliações)</h1>
                </article>
            </article>


            <article class="setaFiltro">
                <button class="carousel-controlFiltro up setaFiltro"><img src="imagens/seta-cima(branco).png"></button>
            <article class="contentName-Comentario">
            
                    <section class="carousel-containerFiltro">
                        <article class="carouselFiltro">

                            <article class="carousel-itemFiltro">
                                <img src="/imagens/icon_user(bege).png">
                                <article class="productFlex">
                                    <h1 class="titleNameN"><strong>Kawan</strong> Avaliou e comentou</h1>
                                    <h1 class="titleNamePE">★★★★★<strong></strong></h1>
                                    <h1 class="titleNameC">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus</h1>
                                </article>
                            </article>

                            <article class="carousel-itemFiltro">
                                <img src="/imagens/icon_user(bege).png">
                                <article class="productFlex">
                                    <h1 class="titleNameN"><strong>Kawan</strong> Avaliou e comentou</h1>
                                    <h1 class="titleNamePE">★★★★<strong>★</strong></h1>
                                    <h1 class="titleNameC">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus</h1>
                                </article>
                            </article>
                            
                            <article class="carousel-itemFiltro">
                                <img src="/imagens/icon_user(bege).png">
                                <article class="productFlex">
                                    <h1 class="titleNameN"><strong>Kawan</strong> Avaliou e comentou</h1>
                                    <h1 class="titleNamePE">★★★<strong>★★</strong></h1>
                                    <h1 class="titleNameC">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus</h1>
                                </article>
                            </article>

                            <article class="carousel-itemFiltro">
                                <img src="/imagens/icon_user(bege).png">
                                <article class="productFlex">
                                    <h1 class="titleNameN"><strong>Kawan</strong> Avaliou e comentou</h1>
                                    <h1 class="titleNamePE">★★<strong>★★★</strong></h1>
                                    <h1 class="titleNameC">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus</h1>
                                </article>
                            </article>
                        
                        </article>
                    </section>
                   
            </article>

            <button class="carousel-controlFiltro down setaFiltro"><img src="imagens/seta-baixo(branco).png"></button>
        </article>

        </section>
    </section>

</section>

</main>

    <!-- Rodapé -->
<footer>
    <%- include('../../partials/footer'); %>
</footer>
    
</body>
</html>

        <!-- Script -->

<script src="js/perfil.js"> </script>
<script src="js/imagens.js"> </script>
<script src="js/carroselComentarios.js"> </script>
    




