<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AgroBox</title>
    <link rel="icon" href="imagens/logo.png">
    <link rel="stylesheet" href="css/home.css">
    <link rel="stylesheet" href="css/conta.css">
    <link rel="stylesheet" href="css/contaVendedorPro.css">

    
</head>

<body>  
    <main>
     <!-- NavBar -->

    <%- include('../../partials/navbar'); %>

   
    <!--  CONTA VENDEDOR  -->

    <%- include('../../partials/contaV'); %>


        <section class="page-container">
            <section id="configuracoes" class="configuracoes" >
                <h1>Configurações</h1>
                <p>Conteúdo da seção Configurações</p>
            </section>
        </section>

    </main>

    <!-- Rodapé -->
<footer>
    <%- include('../../partials/footer'); %>
</footer>
</body>
</html>

        <!-- Script -->

<script src="js/perfil.js"> </script>
<script src="js/imagens.js"> </script>



