<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AgroBox</title>
    <link rel="icon" href="imagens/logo.png">
    <link rel="stylesheet" href="css/home.css">
    <link rel="stylesheet" href="css/conta.css">
    <link rel="stylesheet" href="css/contaVendedorPro.css">

    
</head>

<body>  
    <main>
     <!-- NavBar -->

    <%- include('../../partials/navbar'); %>

   
    <!--  CONTA VENDEDOR  -->

    <%- include('../../partials/contaV'); %>

<section class="page-container">
    <section class="product-section">
        <article class="section-flex">
            <h1 class="product-header">Meus Produtos</h1> 
            <button class="edit-button2">ADICIONAR PRODUTO</button>
        </article>
        <article class="tittlesFlex">
            <h2 class="titleDetails">Detalhes</h2> 
            <h2 class="titleDetails">Vendas</h2> 
        </article>
        <article class="produto-detalhes">
            <article class="produto-image">
                <img src="imagens/Frutas/melancia.png">
            </article>
            <section class="produto-info">
                <h2 class="produto-nome">Nome do Produto</h2>
                <p class="produto-preco">R$ 00,00</p>
            </section>
            <section class="produto-Units">
            <span class="produto-vendas">000 unidades</span>
            <button class="edit-button">EDITAR</button>
            </section>
        </article>
    </section>
</section>

</main>

    <!-- Rodapé -->
<footer>
    <%- include('../../partials/footer'); %>
</footer>
</body>
</html>

        <!-- Script -->

<script src="js/perfil.js"> </script>
<script src="js/imagens.js"> </script>
    




